<!-- Contenido del componente -->
<div class="container_main">


    <div class="centrar">
        <span class="spacer"></span>

        <div class="logo_pasos">

            <!-- Imagen de carga -->
            <img class="logo" src="assets/logo_demosoft.png" alt="{{ 'pos.progress.cargar' | translate }}">
            <div class="dFlex">
                <span class="spacer"></span>
                <p class="completado">Tareas completadas: {{facturaService. pasosCompletos}}/{{facturaService. pasos.length}} </p>
            </div>

            <div class="pasos_opciones">

                <span class="spacer"></span>

                <div class="contenido">

                    <div  *ngFor="let paso of facturaService. pasos">
                        <div class="barra_paso">
                            <div class="pasos">
                                <p>{{paso.value}}</p>
                                <span class="spacer"></span>
                                <mat-icon *ngIf="paso.status == 1" class="cargando">loop</mat-icon>
                                <mat-icon *ngIf="paso.status == 2" class="correcto">check</mat-icon>
                                <mat-icon *ngIf="paso.status == 3 " class="fallo">close</mat-icon>
                            </div>
                            <mat-progress-bar mode="indeterminate" value="40" *ngIf="paso.visible"></mat-progress-bar>
                        </div>
                    </div>
                    <div class="texto" *ngIf="facturaService.viewMessage">
                        <p>{{facturaService.stepMessage}}</p>
                        <span class="spacer"></span>
                    </div>
                    
                    <mat-progress-bar class="custom-progress-bar" mode="buffer" value="40" bufferValue="80"></mat-progress-bar>

                    <div class="texto" *ngIf="facturaService.viewError">
                        <span class="spacer"></span>
                        <p class="verError" (click)="verInformeError()">Ver informe de error.</p>
                    </div>
                </div>
                <span class="spacer"></span>
            </div>

            <!-- VOLVER A INTENTARLO CUANDO NO SE CREÓ EL DOCUMENTO -->
            <div class="dFlex" *ngIf="facturaService.viewErrorProcess">
                <span class="spacer"></span>
                <div class="botones_descripcion">
                    <div class="dFlex">
                        <button mat-stroked-button (click)="backPage()">{{ 'pos.botones.aceptar' | translate}}</button>
                        <span class="spacer"></span>
                        <button mat-stroked-button (click)="reloadDoc()" >{{ 'pos.botones.reintentar' | translate}}</button>
                    </div>
                </div>
                <span class="spacer"></span>
            </div>

            <!-- DOCUMENTO CREADO Y NO SE GENERÓ LA FIRMA -->
            <div class="dFlex" *ngIf="facturaService.viewErrorFel">
                <span class="spacer"></span>
                <div class="botones_descripcion">
                    <div class="dFlex">
                        <button mat-stroked-button (click)="pintFormat()">Continuar sin Firma</button>
                        <span class="spacer"></span>
                        <button mat-stroked-button (click)="reloadFel()">Volver a Generar Firma</button>
                    </div>
                </div>
                <span class="spacer"></span>
            </div>

            <!-- TODOS LOS PASOS CORRECTOS -->
            <div class="dFlex" *ngIf="facturaService.viewSucces" >
                <span class="spacer"></span>
                <div class="botones_descripcion">
                    <div class="dFlex">
                        <span class="spacer"></span>
                        <button mat-stroked-button (click)="backPage()">{{ 'pos.botones.aceptar' | translate}}</button>
                        <span class="spacer"></span>
                    </div>
                </div>
                <span class="spacer"></span>
            </div>

        </div>
        <span class="spacer"></span>

    </div>


</div>