$color-naranja        : #df9722;
$color-negro          : #000000;
$color-blanco         : #fff;
$color-gris           : #c1bfbf;
$color-bordes         : #c1bfbf; //bordes menu
$color-azul           : #134895; // fondo, bordes y texto azul
$background-oficial   : #FEF5E7; //fondo Demosoft
$background-scrollbar : var(--global-color); //barra azul
$bordes               : #c1bfbf;
$idioma-seleccionado  : #5d6d6c;
$borde-toolbar        : rgba(0, 0, 0, 0.12);

p {
    margin: 0px;
}

mat-icon {
    width     : 30px;
    height    : 30px;
    text-align: center;
}

.spacer {
    flex: 1 1 auto;
}

.container-main::-webkit-scrollbar {
    width           : 7px;
    background-color: $background-oficial;
}

.container-main::-webkit-scrollbar-track {
    background-color: $background-oficial;
}

.container-main::-webkit-scrollbar-thumb {
    background-color: $background-scrollbar;
    border-radius   : 20px;
    border          : 3px #f3c5d3;
}

.container-main {
    height          : calc(100vh - 128px) !important;
    padding         : 10px 0px;
    background-color: $background-oficial;
    text-align      : center;
    width           : 100%;
    overflow-y      : auto;
    overflow-x      : hidden;
}

.head__sidenav {
    height       : 64px !important;
    padding      : 0px 15px;
    border-bottom: 1px solid $borde-toolbar;
    display      : flex;
    align-items  : center;
    top          : 0;
    width        : 100%;
}

.lista-detalles {
    padding   : 10px;
    width     : 80%;
    text-align: justify;
}

.datos-error {
    width  : calc(100% - 50px);
    padding: 0px 10px;
}

.descripcion-error {
    padding      : 10px 15px;
    border       : 1px solid $color-bordes;
    margin-bottom: 10px;
    border-radius: 6px;
    display      : flex;
    align-items  : center;
}

.descripcion-error-doble {
    padding      : 10px 15px;
    border       : 1px solid $color-bordes;
    margin-bottom: 10px;
    border-radius: 6px;
    display      : flex;
    align-items  : center;
    width        : 49%;
}

.titulo {
    font-weight: bold;
    font-size  : 16px;
}

.subtitulos {
    font-weight: 500;
}

.informacion {
    font-size: 14px;
    word-wrap: break-word;
}

.display-flex {
    display    : flex;
    align-items: center;
    width      : 100%;
}

.button_up_content {
    bottom          : 75px;
    right           : 60px;
    font-size       : 20px;
    background-color: $color-azul;
}

@media screen and (max-width: 767px) {
    .display-flex {
        display: block !important;
    }

    .descripcion-error-doble {
        width: 100% !important;
    }

    .lista-detalles {
        width: 95% !important;
    }

}