<mat-toolbar-row class="head__sidenav">
    <button mat-icon-button aria-label class="flecha-regresar" matTooltip="regresar">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <p class="titulo">Informe de error</p>
    <span class="spacer"></span>
</mat-toolbar-row>

<div class="container-main d-flex">
    <span class="spacer"></span>

    <!-- lita de detalles del error -->
    <div class="lista-detalles">
        <div class="display-flex">
            <div class="descripcion-error-doble">
                <mat-icon>person</mat-icon>
                <div class="datos-error">
                    <p class="subtitulos">Usuario:</p>
                    <p class="informacion">Desa001</p>
                </div>
            </div>
            <span class="spacer"></span>
            <div class="descripcion-error-doble">
                <mat-icon>calendar_today</mat-icon>
                <div class="datos-error">
                    <p class="subtitulos">Fecha:</p>
                    <p class="informacion">22/12/2023 04:03 am</p>
                </div>
            </div>
        </div>
        <div class="display-flex">
            <div class="descripcion-error-doble">
                <mat-icon>description</mat-icon>
                <div class="datos-error">
                    <p class="subtitulos">Documento</p>
                    <p class="informacion">documento.pdf</p>
                </div>
            </div>
            <span class="spacer"></span>
            <div class="descripcion-error-doble">
                <mat-icon>description</mat-icon>
                <div class="datos-error">
                    <p class="subtitulos">Serie documento</p>
                    <p class="informacion">3059339036289085</p>
                </div>
            </div>
        </div>
        <div class="descripcion-error">
            <mat-icon>domain</mat-icon>
            <div class="datos-error">
                <p class="subtitulos">Empresa:</p>
                <p class="informacion">Demosoft SA</p>
            </div>
        </div>
        <div class="descripcion-error">
            <mat-icon>home</mat-icon>
            <div class="datos-error">
                <p class="subtitulos">Estacion de trabajo:</p>
                <p class="informacion">Principal</p>
            </div>
        </div>
        <div class="descripcion-error">
            <mat-icon>cloud</mat-icon>
            <div class="datos-error">
                <p class="subtitulos">Servicio origen:</p>
                <p class="informacion">http://localhost:4200/login</p>
            </div>
        </div>
        <div class="descripcion-error">
            <mat-icon>cloud</mat-icon>
            <div class="datos-error">
                <p class="subtitulos">DB Origen:</p>
                <p class="informacion">No aplica</p>
            </div>
        </div>
        <div class="descripcion-error">
            <mat-icon>report</mat-icon>
            <div class="datos-error">
                <p class="subtitulos">Descripcion:</p>
                <p class="informacion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, aliquid
                    temporibus qui, deleniti earum aperiam quibusdam quaerat quia illo ab debitis praesentium quo
                    officiis voluptas impedit, perspiciatis odit maiores quae nesciunt. Asperiores earum velit quae
                    explicabo fugit nihil temporibus odio maiores ducimus quis. Veritatis ut sapiente reiciendis, sunt
                    dicta ea.</p>
            </div>
        </div>
    </div>
    <span class="spacer"></span>
    <button mat-mini-fab class="button_up_content">
        <mat-icon>description</mat-icon>
    </button>
</div>