$personalizado : var(--global-color); // fondo, bordes y texto azul
$fondo         : var(--fondo-claro); //fondo Demosoft
$scroll        : var(--global-color); //barra azul
$bordes        : var(--bordes-claro);

p {
    margin: 0px;
}

mat-icon {
    width     : 30px;
    height    : 30px;
    text-align: center;
}

.spacer {
    flex: 1 1 auto;
}

.container-main::-webkit-scrollbar {
    width           : 7px;
    background-color: $fondo;
}

.container-main::-webkit-scrollbar-track {
    background-color: $fondo;
}

.container-main::-webkit-scrollbar-thumb {
    background-color: $scroll;
    border-radius   : 20px;
}

.container-main {
    height          : calc(100vh - 128px) !important;
    padding         : 10px 0px;
    background-color: $fondo;
    text-align      : center;
    width           : 100%;
    overflow-y      : auto;
    overflow-x      : hidden;
}

.head__sidenav {
    height       : 64px !important;
    padding      : 0px 15px;
    border-bottom: 1px solid $bordes;
    display      : flex;
    align-items  : center;
    top          : 0;
    width        : 100%;
}

.lista-detalles {
    padding   : 10px;
    width     : 80%;
    text-align: justify;
}

.datos-error {
    width  : calc(100% - 50px);
    padding: 0px 10px;
}

.descripcion-error {
    padding      : 10px 15px;
    border       : 1px solid $bordes;
    margin-bottom: 10px;
    border-radius: 6px;
    display      : flex;
    align-items  : center;
}

.descripcion-error-doble {
    padding      : 10px 15px;
    border       : 1px solid $bordes;
    margin-bottom: 10px;
    border-radius: 6px;
    display      : flex;
    align-items  : center;
    width        : 49%;
}

.titulo {
    font-weight: bold;
    font-size  : 16px;
}

.subtitulos {
    font-weight: 500;
}

.informacion {
    font-size: 14px;
    word-wrap: break-word;
}

.display-flex {
    display    : flex;
    align-items: center;
    width      : 100%;
}

.button_up_content {
    bottom          : 75px;
    right           : 60px;
    font-size       : 20px;
    background-color: $personalizado;
}

@media screen and (max-width: 767px) {
    .display-flex {
        display: block !important;
    }

    .descripcion-error-doble {
        width: 100% !important;
    }

    .lista-detalles {
        width: 95% !important;
    }

}