<mat-toolbar-row class="head__sidenav">
    <button mat-icon-button aria-label class="flecha-regresar" matTooltip="{{ 'pos.botones.regresar' | translate }}"
        (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <p class="titulo">{{ 'pos.error.informe' | translate }}</p>
    <span class="spacer"></span>
</mat-toolbar-row>

<div class="container-main">
    <div class="d-flex">

        <span class="spacer"></span>


        <!-- lita de detalles del error -->
        <div class="lista-detalles">
            <div class="display-flex">
                <div class="descripcion-error-doble">
                    <mat-icon>person</mat-icon>
                    <div class="datos-error">
                        <p class="subtitulos">{{ 'pos.error.usuario' | translate }}</p>
                        <p class="informacion">{{user.length == 0 ?"Indefinido":user}}</p>
                    </div>
                </div>
                <span class="spacer"></span>
                <div class="descripcion-error-doble">
                    <mat-icon>calendar_today</mat-icon>
                    <div class="datos-error">
                        <p class="subtitulos">{{ 'pos.error.fecha' | translate }}</p>
                        <p class="informacion">{{error.date | date}}</p>
                    </div>
                </div>
            </div>
            <!-- <div class="display-flex">
                <div class="descripcion-error-doble">
                    <mat-icon>description</mat-icon>
                    <div class="datos-error">
                        <p class="subtitulos">{{ 'pos.error.documento' | translate }}</p>
                        <p class="informacion">documento.pdf</p>
                    </div>
                </div>
                <span class="spacer"></span>
                <div class="descripcion-error-doble">
                    <mat-icon>description</mat-icon>
                    <div class="datos-error">
                        <p class="subtitulos">{{ 'pos.error.serie' | translate }}</p>
                        <p class="informacion">3059339036289085</p>
                    </div>
                </div>
            </div> -->
            <div class="descripcion-error">
                <mat-icon>domain</mat-icon>
                <div class="datos-error">
                    <p class="subtitulos">{{ 'pos.error.empresa' | translate }}</p>
                    <p class="informacion">{{empresa?.empresa_Nombre ?? "Indefinido"}}</p>
                </div>
            </div>
            <div class="descripcion-error">
                <mat-icon>home</mat-icon>
                <div class="datos-error">
                    <p class="subtitulos">{{ 'pos.error.estacion' | translate }}</p>
                    <p class="informacion">{{estacion?.nombre ?? "Indefinido"}}</p>
                </div>
            </div>
            <div class="descripcion-error">
                <mat-icon>cloud</mat-icon>
                <div class="datos-error">
                    <p class="subtitulos">{{ 'pos.error.servicio' | translate }}</p>
                    <p class="informacion">{{error.url ?? "Indefinido"}}</p>
                </div>
            </div>
            <div class="descripcion-error">
                <mat-icon>cloud</mat-icon>
                <div class="datos-error">
                    <p class="subtitulos">{{ 'pos.error.origen' | translate }}</p>
                    <p class="informacion">{{error.storeProcedure ?? "Indefinido"}}</p>
                </div>
            </div>
            <div class="descripcion-error">
                <mat-icon>report</mat-icon>
                <div class="datos-error">
                    <p class="subtitulos">{{ 'pos.error.descripcion' | translate }}</p>
                    <p class="informacion">{{error.description | json}}</p>
                </div>
            </div>
        </div>
        <span class="spacer"></span>
        <!-- <button mat-mini-fab class="button_up_content">
            <mat-icon>description</mat-icon>
        </button> -->
    </div>
</div>
<!-- Mostrar logos -->
<!-- <app-barra-logos></app-barra-logos> -->
<app-barra-logo-demosoft></app-barra-logo-demosoft>