<app-progress *ngIf="isLoading" class="progress"></app-progress>
<mat-sidenav-container class="sidenav_container" (backdropClick)="close('backdrop')" *ngIf="!isLoading">
    <!-- <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <mat-toolbar class="head__sidenav ">
            <span class="spacer"></span>
            <h6>Encabezado</h6>
            <span class="spacer"></span>
            <button mat-icon-button (click)="close('toggle button')">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <div class="container-fluid">
        </div>
    </mat-sidenav>
    <mat-sidenav position="end" #sidenavend (keydown.escape)="close('escape')" disableClose>
        <mat-toolbar class="head__sidenav ">
            <button mat-icon-button (click)="close('toggle button')">
                <mat-icon>close</mat-icon>
            </button>
            <span class="spacer"></span>
            <h6>Encabezado</h6>
            <span class="spacer"></span>
        </mat-toolbar>
    </mat-sidenav> -->
    <mat-sidenav-content>
        <!-- <mat-toolbar class="toolbarPhone">
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.open()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="spacer"></span>
                <button mat-icon-button (click)="sidenavend.open()">
                    <mat-icon>menu</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <span class="spacer"></span>
        <mat-toolbar class="toolbarlarge">
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenavend.open()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar> -->
        <mat-toolbar-row class="head__sidenav">
            <button (click)="backPage()" mat-icon-button aria-label
                matTooltip="{{'crm.toolTip.regresarAnterior' | translate}}">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button aria-label class="flecha-regresar" matTooltip="actualizar" (click)="loadData()">
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-toolbar-row>
        <!-- Mostrar logos -->
        <app-barra-logos></app-barra-logos>
        <!--Container-->
        <div class="container_page">
            <!-- <div class="container_start">
            </div> -->
            <div class="container_main">
                <!-- contenedor de comentarios y detalles -->
                <div class="comentarios">
                    <!-- acordeon de detalles ocuto -->
                    <div class="acordeon_oculto">
                        <div class="detalles_acordeon_oculto">
                            <mat-accordion class="mat-expansion">
                                <mat-expansion-panel (opened)="desplegarDetalles = true"
                                    (closed)="desplegarDetalles = false" class="color_fondo">
                                    <mat-expansion-panel-header class="color_fondo">
                                        <mat-panel-description>
                                            {{ 'crm.detalles.detalles' | translate }}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="mat-expansion-panel-body">
                                        <!-- DETALLES -->
                                        <div class="detalles">
                                            <!-- Numero de la tarea -->
                                            <div class="elementos-detalle">
                                                <mat-icon class="ico_uno"> tag </mat-icon>
                                                <div class="elementos">
                                                    <p class="negrita">{{ 'crm.detalles.id' | translate }}</p>
                                                    <p>{{tareaDetalle!.iD_Tarea}}</p>
                                                </div>
                                            </div>
                                            <!-- Fecha inicial de la tarea-->
                                            <div class="elementos-detalle">
                                                <mat-icon class="ico_uno"> calendar_month </mat-icon>
                                                <div class="elementos">
                                                    <p class="negrita">{{ 'crm.detalles.fechaIni' | translate }}</p>
                                                    <p>
                                                        <!-- {{dateFormat(tareaDetalle!.tarea_Fecha_Ini)}} -->
                                                        {{tareaDetalle!.tarea_Fecha_Ini | date: 'dd/MM/yyyy hh:mm a'}}
                                                    </p>
                                                </div>
                                            </div>

                                            <!-- Fecha final de la tarea -->
                                            <div class="elementos-detalle">
                                                <mat-icon class="ico_uno"> calendar_month </mat-icon>
                                                <div class="elementos">
                                                    <p class="negrita">{{ 'crm.detalles.fechaFin' | translate }}</p>
                                                    <p>
                                                        <!-- {{dateFormat(tareaDetalle!.tarea_Fecha_Fin)}} -->

                                                        {{tareaDetalle!.tarea_Fecha_Fin | date: 'dd/MM/yyyy hh:mm a'}}
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Descripcion de la tarea -->
                                            <div class="elementos-detalle">
                                                <mat-icon class="ico_uno">arrow_circle_right</mat-icon>
                                                <div class="elementos">
                                                    <p class="negrita">{{ 'crm.detalles.tipoTarea' | translate }}</p>
                                                    <p>{{tareaDetalle!.descripcion_Tipo_Tarea}}</p>
                                                </div>
                                            </div>
                                            <!-- Estado de la tarea -->
                                            <div class="editar-detalle">
                                                <mat-icon class="ico_uno">arrow_circle_right</mat-icon>
                                                <div class="elemento-estado">
                                                    <p class="negrita">{{ 'crm.detalles.estadoTarea' | translate }}</p>
                                                    <div class="editar-oculto d-flex">
                                                        <p>{{tareaDetalle!.tarea_Estado}}</p>
                                                        <span class="spacer"></span>
                                                        <mat-icon
                                                            matTooltip="{{ 'crm.detalles.actualizarEstado' | translate }}"
                                                            class="agregar-icono"
                                                            (click)="actualizarTarea()">edit</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Id Referencia de la tarea -->
                                            <div class="editar-detalle">
                                                <mat-icon class="ico_uno">arrow_circle_right</mat-icon>
                                                <div class="elemento-estado">
                                                    <p class="negrita">{{ 'crm.detalles.prioridad' | translate }}</p>
                                                    <div class="editar-oculto d-flex">
                                                        <p>{{resolveObject(tareaDetalle!.nom_Nivel_Prioridad)}}</p>
                                                        <span class="spacer"></span>
                                                        <mat-icon matTooltip="actualizar prioridad"
                                                            class="agregar-icono"
                                                            (click)="actualizarTarea()">edit</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Id Referencia de la tarea -->
                                            <div class="elementos-detalle">
                                                <mat-icon class="ico_uno">arrow_circle_right</mat-icon>
                                                <div class="elementos">
                                                    <p class="negrita">{{ 'crm.detalles.idReferencia' | translate }}</p>
                                                    <p>{{resolveObject(tareaDetalle!.iD_Referencia)}}</p>
                                                </div>
                                            </div>
                                            <!-- Usuario responsable de la tarea -->
                                            <div class="elementos-detalle">
                                                <mat-icon class="ico_uno">person</mat-icon>
                                                <!-- <p class="negrita">{{resolveObject(tareaDetalle!.responsable)}}</p> -->
                                                <div class="elementos">
                                                    <p class="negrita">{{ 'crm.detalles.responsable' | translate }}</p>
                                                    <p class="responsables" *ngFor="let responsable of responsables"
                                                        [ngStyle]="{'color': getColor(responsable.estado), 'font-weight': getFontWeight(responsable.estado)}">
                                                        {{responsable.t_UserName}}
                                                    </p>
                                                    <div class="agregar">
                                                        <p class="responsable">{{ 'crm.detalles.nuevoResponsable' |
                                                            translate }}</p>
                                                        <mat-icon
                                                            matTooltip="{{ 'crm.detalles.nuevoResponsable' | translate }}"
                                                            class="agregar-icono"
                                                            (click)="cambiarResponsable()">person_add</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Correo de usarios invitados de la tarea -->
                                            <div class="elementos-detalle">
                                                <mat-icon class="ico_uno">person</mat-icon>
                                                <div class="elementos">
                                                    <p class="negrita">{{ 'crm.detalles.invitados' | translate }}</p>
                                                    <div class="editar-eliminar"
                                                        *ngFor="let invitado of invitados; let index = index">
                                                        <div class="invitado">
                                                            <p>{{invitado.userName}}</p>
                                                            <p class="invitados">{{invitado.eMail}}</p>
                                                        </div>
                                                        <mat-icon class="eliminar"
                                                            matTooltip="{{ 'crm.detalles.eliminarInvitado' | translate }}"
                                                            (click)="eliminarInvitado(invitado, index)">close</mat-icon>
                                                    </div>
                                                    <div class="agregar">
                                                        <p class="invitado">{{ 'crm.detalles.nuevoInvitado' |
                                                            translate}}</p>
                                                        <span class="spacer"></span>
                                                        <mat-icon
                                                            matTooltip="{{ 'crm.detalles.nuevoInvitado' | translate }}"
                                                            class="agregar-icono"
                                                            (click)="cambiarInvitados()">person_add</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Usuario Creador de la tarea -->
                                            <div class="elementos-detalle">
                                                <mat-icon class="ico_uno">person</mat-icon>
                                                <div class="elementos">
                                                    <p class="negrita">{{ 'crm.detalles.creador' | translate }}</p>
                                                    <p>{{resolveObject(tareaDetalle!.usuario_Creador)}}</p>
                                                    <p class="responsables">
                                                        {{resolveObject(tareaDetalle!.email_Creador)}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    <!-- fin de acrodeon de detalles oculto -->
                    <!-- contenedor de la observacion -->
                    <div class="observacion">
                        <p class="tituloTarea">{{resolveObject(tareaDetalle!.descripcion)}}</p>
                        <hr>
                        <p class="observaciones">{{ 'crm.detalles.observacion' | translate }}</p>

                        <div class="observaciones_desc">
                            <p [innerHTML]="formatText(tareaDetalle!.tarea_Observacion_1)" class="espacio-lineas"></p>
                        </div>
                    </div>
                    <!-- <button (click)="verFechas()" mat-icon-button>
                        <mat-icon>home</mat-icon>
                    </button> -->

                    <!-- fin contenedor de la observacion -->
                    <!-- contenedor de la lista de comentarios -->
                    <div class="comentario_icono" *ngFor="let item of comentarios; let index = index">
                        <div class="comentario__icono">
                            <mat-icon class="imagen">account_circle</mat-icon>
                            <p class="flecha-comentario"></p>
                            <!-- comentario -->
                            <div class="contenedor_comentarios">
                                <div class="comentario">
                                    <p>{{item.comentario.nameUser}}</p>
                                    <span class="spacer"></span>
                                    <p>{{item.comentario.fecha_Hora | date: 'dd/MM/yyyy hh:mm a'}}</p>
                                </div>
                                <!-- decripcion de comentario -->
                                <div class="comentario_desc">
                                    <p [innerHTML]="formatText(item.comentario.comentario)" class="espacio-lineas"></p>
                                    <div class="" *ngIf="comentarios[index].files.length >0">
                                        <div class="adjuntos" *ngFor="let file of comentarios[index].files">
                                            <a [href]="file.objeto_URL" target="_blank">
                                                {{file.objeto_Nombre}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- linea para conectar los comentarios -->
                                <p class="linea"></p>
                            </div>
                            <!-- fin comentario -->
                        </div>
                    </div>
                    <div class="comentar">
                        <div class="comentario_icono">
                            <div class="comentario__icono">
                                <mat-icon class="imagen">account_circle</mat-icon>
                                <p class="flecha-comentario"></p>
                                <!-- comentario -->
                                <div class="contenedor_comentarios">
                                    <div class="comentario">
                                        <p>{{usuarioTarea}} </p>
                                        <span class="spacer"></span>
                                        <p> {{fechaHoy | date: 'dd/MM/yyyy hh:mm a'}} </p>
                                    </div>
                                    <div class="comentario_desc">
                                        <textarea name="notas" id="descripcion" cols="30" rows="2"
                                            placeholder="{{'crm.crear.comentario' | translate}}"
                                            [(ngModel)]="descripcionComentario" class="escribir-comentario">
                                        </textarea>
                                        <div class="lista-archivos" *ngIf="selectedFiles.length >= 1">
                                            <p>{{'crm.crear.adjuntos' | translate}} ({{selectedFiles.length}})</p>

                                            <div *ngFor="let file of selectedFiles; let i = index"
                                                class="archivos-adjuntos">
                                                <p class="nombre-archivos"> - {{ file.name }}</p>
                                                <span class="spacer"></span>
                                                <mat-icon (click)="eliminarArchivo(i)" class="eliminar"
                                                    matTooltip="eliminar archivo">close</mat-icon>
                                            </div>
                                        </div>
                                        <div class="archivos-comentar">
                                            <div class="input-group">
                                                <div class="input-group">
                                                    <input type="file" id="inputGroupFile04"
                                                        aria-describedby="inputGroupFileAddon04" aria-label="Upload"
                                                        multiple (change)="onFilesSelected($event)"
                                                        [placeholder]="selectedFiles" style="display: none;" #fileInput>
                                                </div>
                                                <button mat-button (click)="fileInput.click()"
                                                    class="subir-comentarios">
                                                    <mat-icon>attach_file</mat-icon>{{'crm.crear.archivos' | translate}}
                                                </button>
                                            </div>
                                            <span class="spacer"></span>
                                            <button mat-button class="subir-comentarios" (click)="comentar()">
                                                {{ 'crm.crear.comentar' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- decripcion de comentario -->
                            </div>
                        </div>
                    </div>
                    <!-- fin lista comentarios -->
                </div>
                <!-- detalles lado derecho -->
                <div class="detalle-tarea">
                    <!-- Numero de la tarea -->
                    <div class="icono-titulo">
                        <div class="d-flex">
                            <mat-icon class="icono-detalle"> tag </mat-icon>
                            <p class="negrita">{{ 'crm.detalles.id' | translate }}</p>
                        </div>
                        <div class="detalle-derecho d-flex">
                            <div class="elemento-derecho">
                                <p>{{tareaDetalle!.iD_Tarea}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Fecha inicial de la tarea -->
                    <div class="icono-titulo">
                        <div class="d-flex">
                            <mat-icon class="icono-detalle"> calendar_month </mat-icon>
                            <p class="negrita">{{ 'crm.detalles.fechaIni' | translate }}</p>
                        </div>
                        <div class="detalle-derecho d-flex">
                            <div class="elemento-derecho">
                                <p>
                                    <!-- {{dateFormat(tareaDetalle!.tarea_Fecha_Ini)}} -->
                                    {{tareaDetalle!.tarea_Fecha_Ini | date: 'dd/MM/yyyy hh:mm a'}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Fecha final de la tarea -->
                    <div class="icono-titulo">
                        <div class="d-flex">
                            <mat-icon class="icono-detalle"> calendar_month </mat-icon>
                            <p class="negrita">{{ 'crm.detalles.fechaFin' | translate }}</p>
                        </div>
                        <div class="detalle-derecho d-flex">
                            <div class="elemento-derecho">
                                <p>
                                    <!-- {{dateFormat(tareaDetalle!.tarea_Fecha_Fin)}} -->
                                    {{ tareaDetalle!.tarea_Fecha_Fin | date: 'dd/MM/yyyy hh:mm a' }}
                                    <!-- {{tareaDetalle!.fecha_Final | date: 'dd/MM/yyyy hh:mm a'}} -->
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Descripcion de la tarea -->
                    <div class="icono-titulo">
                        <div class="d-flex">
                            <mat-icon class="icono-detalle">arrow_circle_right</mat-icon>
                            <p class="negrita">{{ 'crm.detalles.tipoTarea' | translate }}</p>
                        </div>
                        <div class="detalle-derecho d-flex">
                            <div class="elemento-derecho">
                                <p>{{tareaDetalle!.descripcion_Tipo_Tarea}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Estado de la tarea -->
                    <div class="icono-titulo">
                        <div class="d-flex">
                            <mat-icon class="icono-detalle">arrow_circle_right</mat-icon>
                            <p class="negrita">{{ 'crm.detalles.estadoTarea' | translate }}</p>
                        </div>
                        <div class="detalle-derecho d-flex">
                            <p class="editar">{{tareaDetalle!.tarea_Estado}}</p>
                            <mat-icon matTooltip="{{ 'crm.detalles.actualizarEstado' | translate }}"
                                class="agregar-icono" (click)="actualizarTarea()">edit</mat-icon>
                        </div>
                    </div>
                    <!-- Descripcion de la tarea -->
                    <div class="icono-titulo">
                        <div class="d-flex">
                            <mat-icon class="icono-detalle">arrow_circle_right</mat-icon>
                            <p class="negrita">{{ 'crm.detalles.prioridad' | translate }}</p>
                        </div>
                        <div class="detalle-derecho d-flex">
                            <p class="editar">{{tareaDetalle!.nom_Nivel_Prioridad}}</p>
                            <mat-icon matTooltip="actualizar nivel de prioridad" class="agregar-icono"
                                (click)="actualizarPrioridad()">edit</mat-icon>
                        </div>
                    </div>
                    <!-- Id Referencia de la tarea -->
                    <div class="icono-titulo">
                        <div class="d-flex">
                            <mat-icon class="icono-detalle">arrow_circle_right</mat-icon>
                            <p class="negrita">{{ 'crm.detalles.idReferencia' | translate }}</p>
                        </div>
                        <div class="detalle-derecho d-flex">
                            <div class="elemento-derecho">
                                <p>{{resolveObject(tareaDetalle!.iD_Referencia)}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- Usuario responsable de la tarea -->
                    <div class="icono-titulo">
                        <div class="d-flex">
                            <mat-icon class="icono-detalle">group</mat-icon>
                            <p class="negrita">{{ 'crm.detalles.responsable' | translate }}</p>
                        </div>
                        <div class="detalle-actualizar">
                            <div class="d-flex">
                                <div class="elemento-derecho">
                                    <p class="responsables" *ngFor="let responsable of responsables"
                                        [ngStyle]="{'color': getColor(responsable.estado), 'font-weight': getFontWeight(responsable.estado)}">
                                        {{responsable.t_UserName}}
                                    </p>
                                </div>
                            </div>
                            <div class="agregar">
                                <p class="responsable">{{ 'crm.detalles.nuevoResponsable' | translate }}</p>
                                <mat-icon matTooltip="{{ 'crm.detalles.nuevoResponsable' | translate }}"
                                    class="agregar-icono" (click)="cambiarResponsable()">person_add</mat-icon>
                            </div>
                        </div>
                    </div>
                    <!-- Usuario responsable de la tarea -->
                    <div class="icono-titulo">
                        <div class="d-flex">
                            <mat-icon class="icono-detalle">group</mat-icon>
                            <p class="negrita">{{ 'crm.detalles.invitados' | translate }}</p>
                        </div>
                        <div class="detalle-actualizar">
                            <div class="editar-eliminar" *ngFor="let invitado of invitados; let index = index">
                                <div class="invitado">
                                    <p>{{invitado.userName}}</p>
                                    <p class="invitados">{{invitado.eMail}}</p>
                                </div>
                                <mat-icon class="eliminar"
                                    matTooltip="{{ 'crm.detalles.eliminarInvitado' | translate }}"
                                    (click)="eliminarInvitado(invitado, index)">close</mat-icon>
                            </div>
                            <div class="agregar">
                                <p class="invitado">{{ 'crm.detalles.nuevoInvitado' | translate }}</p>
                                <mat-icon matTooltip="{{ 'crm.detalles.nuevoInvitado' | translate }}"
                                    class="agregar-icono" (click)="cambiarInvitados()">person_add</mat-icon>
                            </div>
                        </div>
                    </div>
                    <!-- Usuario Creador de la tarea -->
                    <div class="icono-titulo">
                        <div class="d-flex">
                            <mat-icon class="icono-detalle">person</mat-icon>
                            <p class="negrita">{{ 'crm.detalles.creador' | translate }}</p>
                        </div>
                        <div class="detalle-derecho d-flex">
                            <div class="elemento-derecho">
                                <p>{{resolveObject(tareaDetalle!.usuario_Creador)}}</p>
                                <p class="invitados">{{resolveObject(tareaDetalle!.email_Creador)}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- FIN DETALLES DERECHO -->
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>