$color-negro          : #000; //texto negro
$color-azul           : #134895; //bordes y texto azul
$color-blanco         : #fff; //resaltar texto blanco
$color-gris           : #666666; //texto gris
$color-gris-s         : #777; //sombra y texto gris
$font-serif           : sans-serif; //fuente del texto
$borde-toolbar        : rgba(0, 0, 0, 0.12);
$background-options   : #fff; //fondo blanco
$background-oficial   : #FEF5E7; //fondo Demosoft
$background-scrollbar : #134895; //barra rosada
$background-botones   : #134895; //resaltar botones azul
$background-transparent: transparent; //fondo transparennte,

/*SideNav*/

.icon_close_head {
    cursor: pointer;
}

.head_carr_end {
    color      : #000;
    font-weight: 300;
}

.spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 365px;
}

@media screen and (max-width: 365px) {
    mat-sidenav {
        width: 100%;
    }
}

.sidenav_container {
    display         : flex;
    flex-direction  : column;
    position        : absolute;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    background-color: $background-oficial;
}

/*Fin SideNav*/

/*Toolbar*/

.icon_toolbar {
    font-size: 22px;
}

.toolbarPhone {
    display: none;
}

.toolbarPhone,
.toolbarlarge {
    // position        : fixed !important;
    background-color: $background-oficial;
    border-bottom   : 1px solid $borde-toolbar;
}

@media screen and (max-width: 767px) {
    .toolbarlarge {
        display: none !important;
    }

    .toolbarPhone {
        display: block !important;
    }
}

/*Fin Toolbar*/

/*Contendo derecho*/

.container_main::-webkit-scrollbar {
    width: 7px;
}

.container_main::-webkit-scrollbar-track {
    background: #f3c5d3;
}

.container_main::-webkit-scrollbar-thumb {
    background-color: #FD306E;
    border-radius   : 20px;
    border          : 3px #f3c5d3;
}

.container_page {
    height    : 100vh;
    width     : 100vw;
    margin-top: 65px;
    position  : fixed;
}

.container_main {
    width   : 100%;
    height  : calc(100% - 64px);
    float   : left;
    overflow: auto;
    padding : 20px 0px;
}


@media screen and (max-width: 767px) {

    .container_page {
        margin-top: 128px;
    }

    .container_main {
        width: 100%;
    }

    .acordeon_oculto {
        display: block !important;
    }
}

.head__sidenav {
    height          : 44px !important;
    background-color: $background-oficial;
    border-bottom   : 1px solid $borde-toolbar;
}

/*Fin Contendo derecho*/

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

.contenido-sidenav {
    background-color: $background-oficial;
    height          : calc(100% - 89px) !important;
    padding         : 0px;
    overflow        : auto;
}

//barra de abajo
.barra-regresar {
    background: #FEF5E7;
    color     : #000000;
    height    : 40px !important;
    padding   : 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

mat-accordion {
    box-shadow: none !important;
}

.acordeon {
    background-color: $background-transparent;
    width           : 400px;
}

.mat-expansion-panel-body {
    padding         : 0 !important;
    background-color: $background-oficial !important;
    margin          : 0px -20px;
    border-radius   : 0px !important;
}

.acordeon_oculto {
    display: none;
}