$color-negro          : #000; //texto negro
$color-azul           : #134895; //bordes y texto azul
$color-blanco         : #fff; //resaltar texto blanco
$color-gris           : #666666; //texto gris
$borde-toolbar        : rgba(0, 0, 0, 0.12);
$seleccionado         : rgba(0, 0, 0, 0.12);
$color-bordes         : #c1bfbf; //bordes menu
$color-gris-2         : #777; //sombra y texto gris
$background-oficial   : #FEF5E7; //fondo Demosoft
$background-scrollbar : #134895; //barra azul
$color-verde          : #25a704;
$color-rojo           : #ce1414;

.progress {
    padding         : 10px 20px;
    width           : 100%;
    height          : 100vh; //importante para que este centrado
    background-color: $background-oficial;
}

/*Toolbar*/

.icon_toolbar {
    font-size: 22px;
}

.toolbarPhone {
    display: none;
    height : 64px;
}

.toolbarPhone,
.toolbarlargeTitle {
    background-color: $background-oficial;
    border-bottom   : 1px solid $borde-toolbar;
}

.toolbar-row {
    height: 64px;
}

@media screen and (max-width: 767px) {
    .toolbarlargeTitle {
        display: none !important;
    }

    .toolbarPhone {
        display: block !important;
    }
}

/*Fin Toolbar*/

/*Contendo derecho*/

.container_main::-webkit-scrollbar {
    width           : 7px;
    background-color: $background-oficial;
}

.container_main::-webkit-scrollbar-track {
    background-color: $background-oficial;
}

.container_main::-webkit-scrollbar-thumb {
    background-color: $background-scrollbar;
    border-radius   : 20px;
    border          : 3px $background-oficial;
}

.container_page {
    height    : 100vh;
    width     : 100vw;
    margin-top: 65px;
    position  : fixed;
}

.container_main {
    width   : 100%;
    height  : calc(100vh - 128px);
    float   : left;
    overflow: auto;
    padding : 20px;
}


@media screen and (max-width: 767px) {

    .container_main {
        width: 100%;
    }

    .origen-destino,
    .lista-documentos {
        display: block !important;
        margin : 0px !important;
    }

    .origen,
    .destino,
    .elementos,
    .autorizacion {
        width: 100% !important;
    }

}

.head__sidenav {
    height          : 44px !important;
    background-color: $background-oficial;
    border-bottom   : 1px solid $borde-toolbar;
}

/*Fin Contendo derecho*/

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

//barra de abajo
.barra-regresar {
    background: #FEF5E7;
    color     : #000000;
    height    : 64px !important;
    padding   : 0px;
    border-top: 1px solid $borde-toolbar;
}

.titulo {
    font-weight: bold;
    font-size  : 16px;
}

.dFlex {
    display    : flex;
    align-items: center;
}

.lista-documentos {
    display      : flex;
    align-items  : center;
    padding      : 10px 0px;
    border-bottom: 1px solid $color-bordes;
}

.textos14 {
    font-size: 14px;
}

.textosBlancos14 {
    font-size  : 14px;
    color      : $color-blanco;
    font-weight: 550;
}

.textosBold14 {
    font-size    : 14px;
    font-weight  : 550;
    padding-right: 5px;
}

.origen-destino {
    border-top : 1px solid $color-bordes;
    padding    : 10px 0px;
    width      : 100%;
    display    : flex;
    align-items: center;
    margin     : 10px 0px;
}

.origen {
    width           : 45%;
    padding         : 10px;
    background-color: $color-verde;
}

.destino {
    width           : 45%;
    padding         : 10px;
    background-color: $color-rojo;
}

.elemento-autorizacion {
    width: 100%;
}


.elementos {
    padding         : 10px;
    width           : 50%;
    display         : flex;
    background-color: $seleccionado;

}

.autorizacion {
    width              : 45%;
    // background-color: #666666;
}

.barra-de-busqueda {
    height          : 45px;
    width           : 100%;
    background      : none;
    font-size       : 14px;
    padding-left    : 10px;
    outline         : none;
    border-style    : none;
    color           : $color-azul;
    // border-radius: 10px;
    border-bottom   : 1px solid $color-bordes;
}