$color-transparent  : transparent; //fondo transparente
$color-naranja      : #ff6f68; //texto, fondo y bordes
$color-rosadito     : #ffa34f;
$color-azul         : #134895;
$color-negro        : #000;
$color-bordes       : rgba(0, 0, 0, 0.12); //bordes menu
$background-naranja : #DF9722; //resaltar naranja
$color-gris-s       : #777; //sombra y texto gris
$color-blanco       : #fff; //texto blanco
$color-gris         : #efefef;
$detalles           : rgb(0 0 0 / 3%);
$background-transparent: transparent; //fondo transparennte,
$background-oficial   : #FEF5E7; //fondo Demosoft, bordes scroollbar
$background-scrollbar : #134895; //barra azul

.detalle-container {
    height    : calc(100vh - 290px);
    overflow-y: auto;
}

.documento {
    display   : flex;
    overflow-x: hidden;
    padding   : 10px 0px;
}

.documento-sin-borde {
    display: flex;
}

.total-pagar {
    display : flex;
    position: fixed;
    bottom  : 64px;
    right   : 25px;
    width   : 100%;
}

.buscar-producto {
    width  : 50%;
    padding: 10px 25px;
}

.lista-productos {
    padding: 0px 25px 10px;
    width  : 100%;
}

.producto {
    width     : 50%;
    padding   : 10px 25px;
    overflow-x: hidden;
    overflow-y: auto;
}

.detalle-container::-webkit-scrollbar {
    width: 7px;
}

.detalle-container::-webkit-scrollbar-track {
    background: $background-oficial;
}

.detalle-container::-webkit-scrollbar-thumb {
    background-color: $background-scrollbar;
    border-radius   : 20px;
    border          : 3px $background-oficial;
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}


.informacion-fondo {
    padding            : 10px;
    // width           : 80%;
    margin-bottom      : 10px;
    background-color   : $detalles;
}

.eliminar {
    width: 100%;
}

.detalles {
    font-size: 14px;
}

.dFlex {
    display    : flex;
    align-items: center;
}


.filtros-transacciones {
    display    : flex;
    align-items: center;
}

.total-barra {
    border-top: 1px solid $color-negro;
}

.titulo {
    font-size  : 14px;
    text-align : center;
    font-weight: 500;
}

.titulos:hover {
    cursor       : pointer;
    border-bottom: 1px solid $color-azul;
    font-weight  : 500;
}

.seleccionar {
    border-style : none;
    border-bottom: 1px solid $color-bordes;
    font-size    : 12px;
}

.subtitulo {
    font-size  : 14px;
    font-weight: bold;
}

.mat-mdc-option {
    min-height: 30px;
    color     : $color-azul;
    font-size : 13px;
}

.form-switch .form-check-input {
    border-color: #bdb76b;
    height      : 20px;
}


//buscador y filtos
.inputSearch {
    text-align: center !important;
}


//buscador y filtos
.inputSearch {
    text-align: center !important;
}


//Estilo para el contenedor del icono y el campo de entrada
.input-container {
    position     : relative;
    display      : flex;
    align-items  : center;
    width        : 100%;
    border-bottom: 1px solid $color-bordes;
}

.input-container:hover {
    border-bottom: 1px solid $color-azul;
}

//Estilo para el icono
.iconoLupa {
    color: $color-azul;
}

.iconoCargo {
    color           : $color-blanco;
    background-color: #25a704;
    margin-right    : 5px;
    width           : 30px;
    height          : 30px;
}

.iconoDescuento {
    color           : $color-blanco;
    background-color: #ce1414;
    width           : 30px;
    height          : 30px;
}

.icono {
    font-size: 20px !important;
}

// estilos para los inputs 
.barra-de-busqueda {
    height       : 45px;
    width        : 100%;
    background   : none;
    font-size    : 14px;
    padding-left : 10px;
    outline      : none;
    border-style : none;
    color        : $color-azul;
    border-radius: 10px;
}

.tipo-busqueda {
    text-align: center;
    width     : 100%;
    padding   : 10px 15px 5px;
}

.buscar-opcion {
    font-size    : 12px;
    text-align   : left;
    padding-right: 5px;
    padding-left : 15px;
}

.chip {
    display      : inline-block;
    padding      : 5px 8px;
    margin       : 4px;
    cursor       : pointer;
    border       : 1px solid #ccc;
    border-radius: 20px;
    font-size    : 12px;
}

.selected {
    background-color: $color-azul;
    color           : #fff;
    border          : 1px solid $color-azul;
}

.detalles-cliente {
    font-size  : 13px;
    padding    : 2px 1px;
    font-weight: 500;
}

.encontrado {
    border-bottom: 1px solid $color-gris;
}

.producto-seleccionado {
    min-height      : 45px;
    width           : 100%;
    background-color: $color-bordes;
    padding         : 5px 10px;
    margin          : 5px 0px;
}

.descripcion-producto {
    width         : 100%;
    padding       : 10px 0px;
    // display    : flex;
    // align-items: center;
}

.precios {
    width      : 100%;
    display    : flex;
    align-items: center;
}

.info-producto {
    font-size: 12px;
}

.barra-monto {
    height       : 45px;
    width        : calc(100% - 100px);
    background   : none;
    font-size    : 14px;
    padding-left : 10px;
    outline      : none;
    border-style : none;
    color        : $color-azul;
    border-radius: 10px;
    border       : 1px solid $color-azul;
    margin       : 10px 10px 0px 0px;
}

.descripcion-pago {
    padding: 10px 0px;
}

.pagar {
    padding         : 10px;
    width           : 250px;
    background-color: $detalles;
    margin-right    : 6px;
}

.textos {
    font-size  : 15px;
    font-weight: bold;
    color      : $color-negro;
}


@media screen and (max-width: 767px) {

    .documento,
    .filtros-transacciones,
    .precios {
        display: block !important;
    }

    .informacion-fondo {
        width: 100% !important;
    }

    .buscar-producto,
    .producto {
        width  : 100% !important;
        padding: 0px 25px !important;
    }

    .barra-monto {
        width: calc(100% - 75px) !important;
    }

    .detalle-container {
        height: calc(100vh - 325px) !important;
    }

    .textos {
        font-size: 12px !important;
    }

    .total-pagar {
        bottom: 60px !important;
        right : 20px !important;
    }

    .acordeon_oculto {
        display: block !important;
    }

    .transacciones {
        display: none !important;
    }
}

mat-accordion {
    box-shadow: none !important;
}

.acordeon {
    background-color: $background-transparent;
}

.mat-expansion-panel-body {
    padding         : 0 !important;
    background-color: $background-oficial !important;
    margin          : 0px -20px;
    border-radius   : 0px !important;
}

.acordeon_oculto {
    display: none;
}

.padding-right {
    padding-right: 50px;
}