<div class="detalle-container">
    <div class="documento">
        <div class="buscar-producto">
            <div class="informacion">
                <form #searchForm="ngForm" (ngSubmit)="buscarProducto()">
                    <div class="dFlex">
                        <p class="subtitulo">{{ 'pos.factura.filtro' | translate }}</p>
                        <span class="spacer"></span>
                        <div *ngFor="let option of filtrosBusqueda">
                            <div class="chip" [class.selected]="option.id === filtrosProductos"
                                (click)="onOptionChange(option.id)">{{ option.nombre }}
                            </div>
                        </div>
                    </div>
                    <p class="subtitulo">{{ 'pos.factura.buscar' | translate }}</p>
                    <div class="input-container">
                        <input class="barra-de-busqueda" type="search" name="search" [(ngModel)]="searchText"
                            autocomplete="off" placeholder="{{'pos.inputs.buscar' | translate}}">
                        <button mat-icon-button class="iconoLupa" type="submit">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>

                </form>
            </div>

        </div>
        <span class="spacer"></span>

        <div class="producto">
            <!-- Acordeon de transacciones -->
            <div class="informacion">
                <div class="acordeon_oculto">
                    <mat-accordion class="mat-expansion">
                        <mat-expansion-panel (opened)="desplegarCarDes = true" (closed)="desplegarCarDes = false"
                            class="acordeon">
                            <mat-expansion-panel-header>
                                <mat-panel-description>
                                    {{ 'pos.factura.cargoDescuento' | translate }}
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div class="dFlex">
                                <p class="subtitulo">{{ 'pos.factura.cargoDescuento' | translate }}</p>
                                <span class="spacer"></span>
                                <div *ngFor="let option of tipos">
                                    <div class="chip" [class.selected]="option.id === tipoDesCar"
                                        (click)="onOptionCarDes(option.id)">{{
                                        option.nombre }}
                                    </div>
                                </div>
                            </div>
                            <div class="dFlex">
                                <input class="barra-monto" type="search" name="search" autocomplete="off"
                                    placeholder="00.00" [(ngModel)]="valueCargoDescuento">
                                <button mat-mini-fab class="iconoCargo" (click)="cargoDescuento(1)">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-mini-fab class="iconoDescuento" (click)="cargoDescuento(2)">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
            <div class="transacciones">
                <div class="informacion">
                    <div class="filtros-transacciones">
                        <p class="subtitulo">{{ 'pos.factura.cargoDescuento' | translate }}</p>
                        <span class="spacer"></span>
                        <div class="dFlex">
                            <span class="spacer"></span>
                            <div *ngFor="let option of tipos">
                                <div class="chip" [class.selected]="option.id === tipoDesCar"
                                    (click)="onOptionCarDes(option.id)">{{
                                    option.nombre }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dFlex">
                        <input class="barra-monto" type="search" name="search" autocomplete="off" placeholder="00.00"
                            [(ngModel)]="valueCargoDescuento">
                        <button mat-mini-fab class="iconoCargo" (click)="cargoDescuento(1)">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-mini-fab class="iconoDescuento" (click)="cargoDescuento(2)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="documento-sin-borde">
        <div class="lista-productos">
            <div class="eliminar" *ngIf="facturaService.traInternas.length > 0">
                <div class="dFlex">
                    <mat-checkbox class="example-margin" color="primary" [(ngModel)]="facturaService.selectAllTra"
                        (ngModelChange)="seleccionar()"></mat-checkbox>
                    <p class="titulo">{{ 'pos.factura.productos_agregados' | translate }}</p>
                    <span class="spacer"></span>
                    <button mat-icon-button (click)="eliminarProducto()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="producto-seleccionado"
                *ngFor="let transaccion of facturaService.traInternas; let index = index">
                <div class="dFlex">
                    <mat-checkbox class="example-margin" color="primary"
                        [(ngModel)]="transaccion.isChecked"></mat-checkbox>
                    <div class="descripcion-producto">
                        <p class="subtitulo"> {{transaccion.cantidad}} x {{transaccion.producto.des_Producto}}</p>
                        <p class="subtitulo">SKU: {{transaccion.producto.producto_Id}}</p>
                        <p class="info-producto">{{ 'pos.factura.precio_unitario' | translate }}:
                            {{transaccion.precio?.precioU | currency:' ':'symbol':'2.2-2' }}
                        </p>
                         <!--TODO:Translate-->
                         <p *ngIf="facturaService.valueParametro(351)" class="info-producto">Precio total por cantidad:
                            {{transaccion.precioCantidad | currency:' ':'symbol':'2.2-2' }}
                        </p>
                         <p *ngIf="facturaService.valueParametro(351)" class="info-producto">Precio total por días:
                            {{transaccion.precipDia | currency:' ':'symbol':'2.2-2' }}
                        </p>
                        <p class="info-producto">{{ 'pos.factura.precio_total' | translate }}: {{transaccion.total |
                            currency:' ':'symbol':'2.2-2' }}</p>
                        <p class="info-producto" *ngIf="transaccion.cargo != 0">{{ 'pos.factura.cargos' | translate }}
                            {{transaccion.cargo |
                            currency:' ':'symbol':'2.2-2' }}</p>
                        <p class="info-producto" *ngIf="transaccion.descuento != 0">{{ 'pos.factura.descuentos' |
                            translate }} {{transaccion.descuento |
                            currency:' ':'symbol':'2.2-2' }}</p>
                    </div>
                    <span class="spacer"></span>
                    <button mat-icon-button (click)="verTansacciones(index)">
                        <mat-icon>format_list_bulleted</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="total-pagar">
    <span class="spacer"></span>
    <!-- Agregar Pago -->
    <div class="pagar">
        <div class="dFlex">
            <p class="textos">{{ 'pos.factura.subtotal' | translate }}</p>
            <span class="spacer"></span>
            <p class="textos">{{facturaService.subtotal | currency:' ':'symbol':'2.2-2'}}</p>
        </div>
        <div class="dFlex">
            <p class="textos">{{ 'pos.factura.cargos' | translate }}</p>
            <span class="spacer"></span>
            <p class="textos">{{facturaService.cargo | currency:' ':'symbol':'2.2-2'}} </p>
        </div>
        <div class="dFlex">
            <p class="textos">{{ 'pos.factura.descuentos' | translate }}</p>
            <span class="spacer"></span>
            <p class="textos">{{facturaService.descuento | currency:' ':'symbol':'2.2-2'}}</p>
        </div>
        <div class="dFlex total-barra">
            <p class="textos">{{ 'pos.factura.total' | translate }}</p>
            <span class="spacer"></span>
            <p class="textos">{{facturaService.total | currency:' ':'symbol':'2.2-2'}}</p>
        </div>
    </div>
</div>