<div class="documento">
    <div class="buscar-producto">
        <div class="informacion">
            <form #searchForm="ngForm" (ngSubmit)="buscarProducto(searchText)" class="inputSearch">
                <div class="buscar">
                    <p class="subtitulo">{{ 'pos.factura.filtro' | translate }}</p>
                    <span class="spacer"></span>
                    <div *ngFor="let option of filtrosBusqueda">
                        <div class="chip" [class.selected]="option.id === selectedOption"
                            (click)="onOptionChange(option.id)">{{ option.nombre }}
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <button class="iconoLupa" mat-icon-button>
                        <mat-icon>search</mat-icon> </button>
                    <input class="barra-de-busqueda" type="search" name="search" [(ngModel)]="searchText"
                        autocomplete="off" placeholder="{{'pos.inputs.buscar' | translate}}">
                </div>
            </form>
        </div>
        <div class="informacion" *ngIf="producto">
            <div class="encontrado">
                <p> {{producto.nombre}} </p>
                <p> {{producto.sku}} </p>
            </div>
        </div>
    </div>
    <span class="spacer"></span>

    <div class="producto">
        <div class="eliminar" *ngIf="compras.length > 0">
            <div class="dFlex">
                <mat-checkbox class="example-margin" color="primary" [(ngModel)]="eliminarPagos"
                    (ngModelChange)="seleccionar()"></mat-checkbox>
                <p class="titulo">{{ 'pos.factura.productos_agregados' | translate }}</p>
                <span class="spacer"></span>
                <button mat-icon-button (click)="eliminarProducto()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
        <div class="producto-seleccionado" *ngFor="let producto of compras">
            <div class="dFlex">
                <mat-checkbox class="example-margin" color="primary" [(ngModel)]="producto.checked"></mat-checkbox>
                <div class="descripcion-producto">
                    <p class="subtitulo"> {{producto.cantidad}} x {{producto.producto.nombre}}</p>
                    <p class="info-producto">{{ 'pos.factura.precio_unitario' | translate }} {{producto.precioUnitario}}
                    </p>
                    <p class="info-producto">{{ 'pos.factura.precio_total' | translate }} {{producto.total}}</p>
                </div>
            </div>
        </div>
    </div>
</div>