$color-naranja        : #df9722;
$color-negro          : #000000;
$color-blanco         : #fff;
$color-gris           : #c1bfbf;
$color-azul           : #134895;
$color-bordes         : rgba(0, 0, 0, 0.12); //bordes menu
$color-azul           : #134895; // fondo, bordes y texto azul
$background-oficial   : #FEF5E7; //fondo Demosoft
$background-scrollbar : #134895; //barra azul
$bordes               : #c1bfbf;
$idioma-seleccionado  : #5d6d6c;

.container-main {
    height : calc(100vh - 128px) !important;
    width  : 100%;
    padding: 0px;
}

.menu-izquierdo {
    width         : 200px;
    float         : right;
    overflow      : auto;
    background    : $background-oficial;
    border-right  : 1px solid rgba(0, 0, 0, .12);
    padding-bottom: 10px;
}

.tipo-vista {
    width          : 100%;
    align-items    : center !important;
    justify-content: space-between;
    border-bottom  : 0.8px solid $color-bordes;
    border-left    : 1px solid $color-bordes;
    font-size      : 14px;
    min-height     : 40px;
    display        : flex;
    padding-left   : 10px;
}

.tipo-vista:hover {
    cursor          : pointer;
    background-color: $color-azul;
    color           : $color-blanco;
    border-left     : 6px solid $color-naranja;
}

.vista-seleccionada {
    width           : 100%;
    align-items     : center !important;
    justify-content : space-between;
    border-bottom   : 0.8px solid $color-bordes;
    font-size       : 14px;
    min-height      : 40px;
    display         : flex;
    padding-left    : 10px;
    background-color: $color-azul;
    color           : $color-blanco;
    border-left     : 6px solid $color-naranja;
}

.head__sidenav {
    width           : 100%;
    height          : 64px !important;
    display         : flex;
    align-items     : center;
    background-color: $background-oficial;
    padding         : 0px 15px;
    border-bottom   : 1px solid $color-bordes;
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

.vistas {
    display    : flex;
    align-items: center;
    width      : 100%;
}

.documento {
    padding: 10px;
}

.opciones {
    width  : 33%;
    padding: 5px 10px;
}

//BORRAR

.borde-bottom {
    border-bottom: 1px solid $color-azul;
    font-weight  : 500;
}

.titulo {
    font-size  : 14px;
    text-align : center;
    font-weight: 500;
}

.titulos:hover {
    cursor       : pointer;
    border-bottom: 1px solid $color-azul;
    font-weight  : 500;
}

.seleccionar {
    border-style : none;
    border-bottom: 1px solid $color-bordes;
    font-size    : 12px;
}

.subtitulo {
    font-size     : 14px;
    font-weight   : bold;
    padding-bottom: 5px;
}

.mat-mdc-option {
    min-height: 30px;
    color     : $color-azul;
    font-size : 13px;
}

.informacion {
    padding: 10px 0px;
    width  : 400px;
}

.detalles {
    font-size: 14px;
}

.buscar-cliente {
    padding: 10px 0px;
    width  : 400px;
}

.dFlex {
    display    : flex;
    align-items: center;
}

.mat-mdc-radio-button .mat-mdc-radio-button {
    margin-left: 16px;
}

.form-switch .form-check-input {
    border-color: #bdb76b;
    height      : 20px;
}

//buscador y filtos
.inputSearch {
    text-align: center !important;
}


/* Estilo para el contenedor del icono y el campo de entrada */
.input-container {
    position: relative;
    margin  : 10px 0 0;
    padding : 0px 15px;
}

/* Estilo para el icono */
.iconoLupa {
    position   : absolute;
    top        : 46%;
    /* Ajusta la posición verticalmente según sea necesario */
    left       : 1.5%;
    /* Ajusta la posición horizontalmente según sea necesario */
    transform  : translateY(-50%);
    color      : $color-azul;
    align-items: center;
}

/* estilos para los inputs */
.barra-de-busqueda {
    height       : 45px;
    width        : 100%;
    background   : none;
    font-size    : 14px;
    padding-left : 50px;
    outline      : none;
    border-style : none;
    border       : 0.5px solid $color-bordes;
    color        : $color-azul;
    border-radius: 20px;
}

.tipo-busqueda {
    text-align: center;
    width     : 100%;
    padding   : 10px 15px 5px;
}

.buscar {
    padding-left: 5px;
    display     : flex;
}

.buscar-opcion {
    font-size    : 12px;
    text-align   : left;
    padding-right: 5px;
    padding-left : 15px;
}

.chip {
    display      : inline-block;
    padding      : 5px 8px;
    margin       : 4px;
    cursor       : pointer;
    border       : 1px solid #ccc;
    border-radius: 20px;
    font-size    : 12px;
}

// nuevoooooooooooooooooooo


@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

*,
*:before,
*:after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    width : 100%;
    height: 100%;
}

$color1 : #0f3851;
$color2 : #154d67;
$color3 : #1a7084;
$color4 : #2398a0;
$color5 : #2bc9bf;

.elevation_bar {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}


.nav_bar {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 1000;
    height          : 56px !important;
    background-color: $color3;
    color           : #fff;
    font-size       : 14px;
}

body {
    font : 14px/1 'Open Sans', sans-serif;
    color: #555;
}


main {
    width : 100%;
    height: 100%;
}

section {
    display   : none;
    // padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display    : inline-block;
    margin     : 0 0 -1px;
    padding    : 15px 25px;
    font-weight: 500;
    text-align : center;
    color      : $color3;
    border     : 2px solid transparent;
}

label:before {
    font-family : fontawesome;
    font-weight : normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: '\f15b';
}

label[for*='2']:before {
    content: '\f07a';
}

label[for*='3']:before {
    content: '\f0d6';
}

label[for*='4']:before {
    content: '\f01c';
}

label[for*='5']:before {
    content: '\f01c';
}

label[for*='6']:before {
    content: '\f002';
}

label:hover {
    color : #888;
    cursor: pointer;
}

input:checked+label {
    color        : #555;
    border       : 1px solid #ddd;
    border-top   : 3px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5,
#tab6:checked~#content6 {
    display: block;
}

@media screen and (max-width: 650px) {
    label {
        font-size: 0;
    }

    label:before {
        margin   : 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

/*Logos*/

.img_empresas {
    height: 50px;
    margin: 10px;
}


/*FIn logos*/