<app-nuevo-cliente *ngIf="!vistaFactura && nuevoCliente"></app-nuevo-cliente>
<app-editar-cliente *ngIf="!vistaFactura && actualizarCliente" [cuenta]="cuenta"></app-editar-cliente>
<app-resumen-documento *ngIf="!vistaFactura && vistaResumen"></app-resumen-documento>
<app-historial *ngIf="!vistaFactura && vistaHistorial"></app-historial>
<app-error *ngIf="!vistaFactura && vistaInforme" [regresar]="regresar"></app-error>

<app-progress *ngIf="facturaService.isLoading" class="progress"></app-progress>
<app-pasos *ngIf="facturaService.isStepLoading" class="progress"></app-pasos>

<div *ngIf="vistaFactura && !facturaService.isStepLoading">
    <app-error *ngIf="facturaService.verError" [regresar]="pasos"></app-error>

    <mat-sidenav-container class="sidenav_container" (backdropClick)="close('backdrop')"
        *ngIf="!facturaService.verError">

        <mat-sidenav position="end" #sidenavend (keydown.escape)="close('escape')" disableClose>
            <mat-toolbar class="barra-cerrar-titulo">
                <button mat-icon-button (click)="close('toggle button')"
                    [matTooltip]="'pos.botones.cerrar' | translate">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <!-- Contenido del sidenav -->
            <div class="contenido-sidenav">
                <div class="espacio-inicial">
                    <span class="spacer"></span>
                    <div class="circular-inicial-grande">
                        <p class="inicial-usuario-grande">{{user[0]}}</p>
                    </div>
                    <span class="spacer"></span>
                </div>
                <div class="espacio-inicial">
                    <span class="spacer"></span>
                    <p class="userName">{{user.toUpperCase()}}</p>
                    <span class="spacer"></span>
                </div>
                <div class="borde-detalles"></div>
                <div class="detalles-usuario">
                    <mat-icon class="iconos-detalles">business</mat-icon>
                    <span class="spacer"></span>
                    <div class="detalle">
                        <p class="subtitulo">{{'pos.home.empresa' | translate}}</p>
                        <p class="descripcion"> {{empresa.empresa_Nombre | titlecase}} ({{empresa.empresa}}) </p>
                    </div>
                </div>
                <div class="detalles-usuario">
                    <mat-icon class="iconos-detalles">business</mat-icon>
                    <span class="spacer"></span>
                    <div class="detalle">
                        <p class="subtitulo">{{'pos.home.estacion' | translate}}</p>
                        <p class="descripcion"> {{estacion.nombre | titlecase}} ({{estacion.estacion_Trabajo}}) </p>
                    </div>
                </div>
                <div class="detalles-usuario">
                    <mat-icon class="iconos-detalles">currency_exchange</mat-icon>
                    <span class="spacer"></span>
                    <div class="detalle">
                        <p class="subtitulo">{{'pos.home.tipoCambio' | translate}}</p>
                        <p class="descripcion"> {{tipoCambio | currency:' ':'symbol':'2.2-2'}} </p>
                    </div>
                </div>
                <div class="detalles-usuario" *ngIf="facturaService.documentoName">
                    <mat-icon class="iconos-detalles">description</mat-icon>
                    <span class="spacer"></span>
                    <div class="detalle">
                        <p class="subtitulo">{{'pos.home.tipoDocumento' | translate}}</p>
                        <p class="descripcion"> {{nombreDocumento | titlecase}} ({{tipoDocumento}}) </p>
                    </div>
                </div>
                <div class="detalles-usuario" *ngIf="facturaService.serie">
                    <mat-icon class="iconos-detalles">description</mat-icon>
                    <span class="spacer"></span>
                    <div class="detalle">
                        <p class="subtitulo">{{'pos.home.serieDocumento' | translate}}</p>
                        <p class="descripcion"> {{facturaService.serie.descripcion}}
                            ({{facturaService.serie.serie_Documento}}) </p>
                    </div>
                </div>
                <!--TODO:Solo es para desarrollo-->
                <!-- <div class="detalles-usuario">
                    <mat-icon class="iconos-detalles">dvr</mat-icon>
                    <span class="spacer"></span>
                    <div class="detalle">
                        <div class="d-flex">
                            <p class="subtitulo">Fel</p>
                            <span class="spacer"></span>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                    id="flexSwitchCheckDefault" (click)="switchFel()"
                                    [(ngModel)]="dataUserService.switchState">
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="detalles-usuario">
                    <mat-checkbox class="example-margin" color="primary" [(ngModel)]="facturaService.nuevoDoc"
                        (ngModelChange)="nuevoDocImprimir()">
                    </mat-checkbox>
                    <span class="spacer"></span>
                    <div class="detalle">
                        <p class="subtitulo">Nuevo documento despues de Imprimir</p>
                        <p class="descripcion">Limpiará el fomulario del documento.</p>
                    </div>
                </div> -->
                <div class="detalles-usuario">
                    <mat-checkbox class="example-margin" color="primary" [(ngModel)]="facturaService.noMostrar"
                        (ngModelChange)="activarDialogoNuevo()">
                    </mat-checkbox>
                    <span class="spacer"></span>
                    <div class="detalle">
                        <p class="subtitulo">{{'pos.factura.dialogoNuevo' | translate}}</p>
                        <p class="descripcion">{{'pos.botones.nuevoDoc' | translate}}</p>
                    </div>
                </div>
                <div class="detalles-usuario">
                    <mat-checkbox class="example-margin" color="primary" [(ngModel)]="facturaService.recuperarDoc"
                        (ngModelChange)="activarDialogoRecuperar()">
                    </mat-checkbox>
                    <span class="spacer"></span>
                    <div class="detalle">
                        <p class="subtitulo">{{'pos.factura.recuperar' | translate}}</p>
                        <p class="descripcion">{{'pos.factura.recuperarDoc' | translate}}</p>
                    </div>
                </div>

            </div>
        </mat-sidenav>
        <mat-sidenav-content>

            <!-- Barras para titulos y boton de cerrar sidenav -->
            <mat-toolbar class="toolbarPhone" *ngIf="!facturaService.isLoading">
                <mat-toolbar-row>
                    <div class="barras">
                        <button *ngIf="globalConvertService.editDoc" (click)="globalConvertService.editDoc = false"
                            mat-icon-button matTooltip="{{ 'pos.botones.inicio' | translate }}">
                            <mat-icon>arrow_back</mat-icon>
                        </button>

                        <button *ngIf="!globalConvertService.editDoc" (click)="goBack()" mat-icon-button
                            matTooltip="{{ 'pos.botones.inicio' | translate }}">
                            <mat-icon>home</mat-icon>
                        </button>
                        <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.actualizar' | translate }}"
                            (click)="loadData()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <span class="spacer"></span>
                        <p class="titulo">{{dataUserService.nameDisplay }} </p>
                        <p *ngIf="globalConvertService.editDoc" class="titulo" style="margin-left: 5px;">
                            ({{globalConvertService.docOriginSelect?.iD_Documento}})</p>
                        <span class="spacer"></span>
                        <div class="circulo-inicial" (click)="sidenavend.open()">
                            <p class="inicial-usuario">{{user[0]}}</p>
                        </div>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-toolbar class="toolbarPhone" *ngIf="!facturaService.isLoading">
                <mat-toolbar-row>
                    <div class="barras">
                        <span class="spacer"></span>
                        <button *ngIf="globalConvertService.editDoc" mat-icon-button aria-label
                            matTooltip="{{ 'pos.botones.guardarCambios' | translate }}" (click)="sendDoc()">
                            <mat-icon>save</mat-icon>
                        </button>
                        <ng-container *ngIf="!globalConvertService.editDoc">
                            <button mat-icon-button aria-label matTooltip="{{ 'pos.factura.docRecientes' | translate }}"
                                (click)="verHistorial()">
                                <mat-icon>schedule</mat-icon>
                            </button>
                            <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.nuevoDoc' | translate }}"
                                (click)="newDoc()">
                                <mat-icon>note_add</mat-icon>
                            </button>
                            <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.imprimir' | translate }}"
                                (click)="printDoc()">
                                <mat-icon>print</mat-icon>
                            </button>
                        </ng-container>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-toolbar class="toolbar-large" *ngIf="!facturaService.isLoading">
                <button *ngIf="globalConvertService.editDoc" (click)="globalConvertService.editDoc = false"
                    mat-icon-button matTooltip="{{ 'pos.botones.inicio' | translate }}">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <button *ngIf="!globalConvertService.editDoc" (click)="goBack()" mat-icon-button
                    matTooltip="{{ 'pos.botones.inicio' | translate }}">
                    <mat-icon>home</mat-icon>
                </button>
                <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.actualizar' | translate }}"
                    (click)="loadData()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <span class="spacer"></span>
                <!-- Titulo de la tarea -->
                <p class="titulo">{{dataUserService.nameDisplay }} </p>
                <p *ngIf="globalConvertService.editDoc" class="titulo" style="margin-left: 5px;">
                    ({{globalConvertService.docOriginSelect?.iD_Documento}})</p>

                <span class="spacer"></span>

                <button *ngIf="globalConvertService.editDoc" mat-icon-button aria-label
                    matTooltip="{{ 'pos.botones.guardarCambios' | translate }}" (click)="sendDoc()">
                    <mat-icon>save</mat-icon>
                </button>

                <ng-container *ngIf="!globalConvertService.editDoc">
                    <button mat-icon-button aria-label matTooltip="{{ 'pos.factura.docRecientes' | translate }}"
                        (click)="verHistorial()">
                        <mat-icon>schedule</mat-icon>
                    </button>
                    <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.nuevoDoc' | translate }}"
                        (click)="newDoc()">
                        <mat-icon>note_add</mat-icon>
                    </button>
                    <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.imprimir' | translate }}"
                        (click)="printDoc()">
                        <mat-icon>print</mat-icon>
                    </button>
                </ng-container>
                <div class="circulo-inicial" (click)="sidenavend.open()">
                    <p class="inicial-usuario">{{user[0]}}</p>
                </div>
            </mat-toolbar>

            <!-- Contenido del componente -->
            <div class="container_main">
                <div *ngIf="!facturaService.isLoading">
                    <div class="container-main">
                        <!--Tabs-->
                        <input class="titulo-pestana" id="tab1" type="radio" name="tabs"
                            [checked]="facturaService.tabDocummento">
                        <div class="pestana" for="tab1" matTooltip="{{ 'pos.factura.documento' | translate }}"
                            (click)=" showDocumento()">
                            {{'pos.factura.documento' | translate }}
                        </div>

                        <input class="titulo-pestana" id="tab2" type="radio" name="tabs"
                            [checked]=" facturaService.tabDetalle">
                        <div class="pestana" for="tab2" matTooltip="{{ 'pos.factura.detalle' | translate }}"
                            (click)=" showDetalle()">{{
                            'pos.factura.detalle' | translate }}
                        </div>

                        <input class="titulo-pestana" id="tab3" type="radio" name="tabs"
                            [checked]="facturaService.tabPago"
                            *ngIf="facturaService.serie && facturaService.formasPago.length > 0">

                        <div class="pestana" for="tab3" matTooltip="{{ 'pos.factura.pago' | translate }}"
                            (click)=" showPago()" *ngIf="facturaService.serie && facturaService.formasPago.length > 0">
                            {{
                            'pos.factura.pago' | translate }}

                        </div>

                        <!--Fin Tabs-->

                        <!--Content Tabs-->
                        <section id="content1" class="content1 contenido-seleccionado">
                            <!-- <app-pago></app-pago> -->
                            <!-- <app-detalle></app-detalle> -->
                            <app-documento *ngIf="facturaService.tabDocummento"></app-documento>
                        </section>

                        <section id="content2" class="content2 contenido-seleccionado">
                            <!-- <app-documento></app-documento> -->
                            <app-detalle *ngIf="facturaService.tabDetalle"></app-detalle>
                        </section>

                        <section id="content3" class="content3 contenido-seleccionado">
                            <app-pago *ngIf="facturaService.tabPago"></app-pago>
                        </section>

                        <!-- <section id="content4">
                        </section>
    
                        <section id="content5">
                        </section>
    
                        <section id="content6">
                        </section> -->
                        <!--Fin Content Tabs-->
                    </div>
                    <!-- Mostrar logos -->
                    <!-- <app-barra-logos></app-barra-logos> -->
                    <app-barra-logo-demosoft></app-barra-logo-demosoft>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>