$color-naranja        : #df9722;
$color-gris           : #c1bfbf;
$color-bordes         : rgba(0, 0, 0, 0.12); //bordes menu
$color-azul           : #134895; // fondo, bordes y texto azul
$color-pestanas       : #555;
$background-oficial   : #FEF5E7; //fondo Demosoft
$background-scrollbar : #134895; //barra azul
$bordes               : #c1bfbf;
$idioma-seleccionado  : #5d6d6c;
$color-negro          : #000; //texto negro
$color-azul           : #134895; //bordes y texto azul
$color-blanco         : #fff; //resaltar texto blanco
$color-gris-s         : #777; //sombra y texto gris


.container-main {
    height  : calc(100vh - 128px) !important;
    width   : 100%;
    padding : 0px;
    overflow: hidden;
}

.progress {
    padding         : 10px 20px;
    width           : 100%;
    height          : 100vh; //importante para que este centrado
    background-color: $background-oficial;
}

.head__sidenav {
    width           : 100%;
    height          : 64px !important;
    display         : flex;
    align-items     : center;
    background-color: $background-oficial;
    padding         : 0px 15px;
    border-bottom   : 1px solid $color-bordes;
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

//BORRAR

.borde-bottom {
    border-bottom: 1px solid $color-azul;
    font-weight  : 500;
}

.titulo {
    font-size  : 14px;
    text-align : center;
    font-weight: 500;
}

.subtitulo {
    font-size: 16px;
}

.descripcion {
    color    : $color-gris-s;
    font-size: 14px;
}

.iconos-detalles {
    color: $color-gris-s;
}

.userName {
    font-size  : 17px;
    font-weight: bold;
    height     : 35px;
}

.seleccionar {
    border-style : none;
    border-bottom: 1px solid $color-bordes;
    font-size    : 12px;
}

.mat-mdc-option {
    min-height: 30px;
    color     : $color-azul;
    font-size : 13px;
}

.informacion {
    padding: 10px 0px;
    width  : 400px;
}

.detalles {
    font-size: 14px;
}

.buscar-cliente {
    padding: 10px 0px;
    width  : 400px;
}

.dFlex {
    display    : flex;
    align-items: center;
}

.mat-mdc-radio-button .mat-mdc-radio-button {
    margin-left: 16px;
}

.form-switch .form-check-input {
    border-color: #bdb76b;
    height      : 20px;
}

.circulo-inicial {
    background-color: $color-azul;
    width           : 33px;
    height          : 33px;
    border-radius   : 50%;
    overflow        : hidden;
    margin          : 0px 5px;
    cursor          : pointer;
}

.circulo-inicial:hover {
    cursor: pointer;
}

.inicial-usuario {
    text-align: center;
    color     : $color-blanco;
}

//Inicial en grande

.espacio-inicial {
    width     : 100%;
    text-align: center;
    display   : flex;
}

.circular-inicial-grande {
    background-color: $color-azul;
    margin          : 10px 0px;
    width           : 100px;
    height          : 100px;
    border-radius   : 50%;
    overflow        : hidden;
}

.inicial-usuario-grande {
    padding   : 25%;
    text-align: center;
    color     : $color-blanco;
    font-size : 35px;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    padding: 0px !important;
}

/*SideNav*/
.icon_close_head {
    cursor: pointer;
}

.head_carr_end {
    color      : $color-negro;
    font-weight: 300;
}

mat-sidenav {
    width           : 365px;
    background-color: $background-oficial;

}

@media screen and (max-width: 365px) {
    mat-sidenav {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    mat-sidenav {
        width: 100%;
    }

    .contenedorModulo {
        width: 100% !important;
    }

}

.sidenav_container {
    display         : flex;
    flex-direction  : column;
    position        : absolute;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    background-color: $background-oficial;
}

/*Fin SideNav*/

/*Toolbar*/

.icon_toolbar {
    font-size       : 22px;
    background-color: $background-oficial;
}

.toolbarPhone {
    display: none;
}

.toolbarPhone,
.toolbarlarge {
    // position        : fixed !important;
    background-color: $background-oficial;
    border-bottom   : 1px solid rgba(0, 0, 0, .12);
    padding         : 0px 16px;
}

//barra de abajo
.barra-regresar {
    background: #FEF5E7;
    color     : #000000;
    height    : 40px !important;
    padding   : 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.barra-cerrar-titulo {
    height          : 44px !important;
    background-color: $background-oficial;
    border-bottom   : 1px solid $color-bordes;
}

@media screen and (max-width: 767px) {
    .toolbarlarge {
        display         : none !important;
        background-color: $background-oficial;
    }

    .toolbarPhone {
        display: block !important;
    }
}

.contenido-sidenav {
    background-color: $background-oficial;
    height          : calc(100% - 44px) !important;
    padding         : 0px;
    overflow        : auto;
}

.detalles-usuario {
    padding      : 5px 15px;
    border-bottom: 1px solid $color-bordes;
    display      : flex;
    align-items  : center;
}

.detalle {
    width: calc(100% - 40px);
}

/*Fin Toolbar*/
// nuevoooooooooooooooooooo


@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");

*,
*:before,
*:after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

html,
body {
    width : 100%;
    height: 100%;
}

$color1     : #0f3851;
$color2     : #154d67;
$color3     : #1a7084;
$color4     : #2398a0;
$color5     : #2bc9bf;
$color-azul : #134895;


.elevation_bar {
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}


.nav_bar {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 1000;
    height          : 56px !important;
    background-color: $color3;
    color           : #fff;
    font-size       : 14px;
}

body {
    font : 14px/1 'Open Sans', sans-serif;
    color: #555;
}


main {
    width : 100%;
    height: 100%;
}

// section {
//     display   : none;
//     border-top: 1px solid $color-bordes;
// }

.contenido-seleccionado {
    display   : none;
    border-top: 1px solid $color-bordes;
}

// input {
//     display: none;
// }

.titulo-pestana {
    display: none;

}

// label {
//     display    : inline-block;
//     margin     : 0 0 -1px;
//     padding    : 15px 25px;
//     font-weight: 500;
//     text-align : center;
//     color      : $color-pestanas;
//     border     : 2px solid transparent;
// }

.pestana {
    display    : inline-block;
    margin     : 0 0 -1px;
    padding    : 15px 25px;
    font-weight: 500;
    text-align : center;
    color      : $color-pestanas;
    border     : 2px solid transparent;
}

// label:before {
//     font-family : fontawesome;
//     font-weight : normal;
//     margin-right: 10px;
// }

.pestana::before {
    font-family : fontawesome;
    font-weight : normal;
    margin-right: 10px;
}

// label[for*='1']:before {
//     content: '\f15b';
// }

.pestana[for*='1']:before {
    content: '\f15b';
}

// label[for*='2']:before {
//     content: '\f07a';
// }

.pestana[for*='2']:before {
    content: '\f07a';
}

// label[for*='3']:before {
//     content: '\f0d6';
// }

.pestana[for*='3']:before {
    content: '\f0d6';
}

// label[for*='4']:before {
//     content: '\f01c';
// }

pestana[for*='4']:before {
    content: '\f01c';
}

// label[for*='5']:before {
//     content: '\f01c';
// }

label[for*='6']:before {
    content: '\f002';
}

// label:hover {
//     color : #888;
//     cursor: pointer;
// }

.pestana:hover {
    color : #888;
    cursor: pointer;
}

// input:checked+label {
//     color        : $color-azul;
//     border       : 1px solid $color-bordes;
//     border-top   : 3px solid orange;
//     border-bottom: 0px;
// }

.titulo-pestana:checked+.pestana {
    color        : $color-azul;
    border       : 1px solid $color-bordes;
    border-top   : 3px solid orange;
    border-bottom: 0px;
}

// #tab1:checked~#content1,
// #tab2:checked~#content2,
// #tab3:checked~#content3,
// #tab4:checked~#content4,
// #tab5:checked~#content5,
// #tab6:checked~#content6 {
//     display: block;
// }

#tab1:checked~.content1,
#tab2:checked~.content2,
#tab3:checked~.content3 {
    display: block;
}

// @media screen and (max-width: 650px) {
//     label {
//         font-size: 0;
//     }

//     label:before {
//         margin   : 0;
//         font-size: 18px;
//     }
// }

// @media screen and (max-width: 400px) {
//     label {
//         padding: 15px;
//     }
// }

@media screen and (max-width: 650px) {
    .pestana {
        font-size: 0;
    }

    .pestana:before {
        margin   : 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .pestana {
        padding: 15px;
    }
}