<app-progress *ngIf="isLoading" class="progress"></app-progress>
<!-- Dialogo de los detalles de las tareas -->
<mat-toolbar-row class="head__sidenav" *ngIf="!isLoading">
    <span class="spacer"></span>
    <span class="close" (click)="closeDialog()">&times;</span>
</mat-toolbar-row>

<div mat-dialog-content class="dialog" *ngIf="!isLoading">
    <div class="busqueda">
        <div class="contenido-izquierdo">
            <div class="dFlex">
                <p class="verDetalle">{{ 'pos.factura.sku' | translate }}: </p>
                <p class="subtitulo"> {{producto.producto_Id}} </p>
            </div>
            <div class="producto-cantidad">
                <p class="subtitulo">{{ 'pos.factura.cantidad' | translate }}</p>
                <span class="spacer"></span>
                <div class="dFlex">
                    <div class="restar" (click)="restar()">
                        <mat-icon class="sumar-restar">remove</mat-icon>
                    </div>
                    <input class="cantidad" type="text" name="search" [(ngModel)]="cantidad" autocomplete="off">
                    <div class="sumar" (click)="sumar()">
                        <mat-icon class="sumar-restar">add</mat-icon>
                    </div>
                </div>
            </div>
            <div class="titulos">
                <p class="subtitulo">{{ 'pos.factura.descripcion' | translate }}</p>
                <span class="spacer"></span>
            </div>
            <div class="seleccionar">
                <p> {{producto.des_Producto}} </p>
                <span class="spacer"></span>
            </div>
            <div class="dFlex">

                <div class="menus">
                    <p class="subtitulo">{{ 'pos.factura.bodega' | translate }}</p>
                    <mat-select name="estado" class="bodegas" placeholder="BODEGA" [(ngModel)]="bodega">
                        <mat-option *ngFor="let bodega of bodegas" [value]="bodega">
                            {{bodega}}
                        </mat-option>
                    </mat-select>
                </div>
                <span class="spacer"></span>
                <div class="menus">
                    <p class="subtitulo">{{ 'pos.factura.tipo_precio' | translate }}</p>
                    <mat-select name="estado" class="bodegas" placeholder="TIPO PRECIO" [(ngModel)]="precio">
                        <mat-option *ngFor="let precio of precios" [value]="precio">
                            {{precio}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="">
                <p class="subtitulo">{{ 'pos.factura.precio_unitario' | translate }}</p>
                <p class="subtitulo" *ngIf="!modificarPrecio">{{precioProducto}}.00</p>
                <input class="precio-unitario" type="text" name="search" [(ngModel)]="precioProducto" autocomplete="off"
                    *ngIf="modificarPrecio">
            </div>
            <div class="dFlex">
                <span class="spacer"></span>
                <p class="subtitulo">{{ 'pos.factura.total' | translate }} Q {{total}}.00</p>
            </div>
        </div>
    </div>
    <div class="dFlex">
        <button mat-stroked-button [mat-dialog-close]="[]">{{ 'pos.botones.cancelar' | translate }}</button>
        <span class="spacer"></span>
        <button mat-stroked-button (click)="enviar()">{{ 'pos.botones.agregar' | translate }}</button>
    </div>
</div>