<app-progress *ngIf="isLoading" class="progress"></app-progress>
<!-- Dialogo de los detalles de las tareas -->
<mat-toolbar-row class="head__sidenav" *ngIf="!isLoading">
    <span class="spacer"></span>
    <span class="close" (click)="closeDialog()">&times;</span>
</mat-toolbar-row>

<div mat-dialog-content class="dialog" *ngIf="!isLoading">
    <div class="busqueda">
        <div class="contenido-izquierdo">
            <div class="dFlex">
                <p class="verDetalle">{{ 'pos.factura.sku' | translate }}: </p>
                <p class="subtitulo"> {{producto.producto_Id}} </p>
                <span class="spacer"></span>
                <button mat-icon-button (click)="imagen(producto)" [disabled]="habilitarImagen">
                    <mat-icon>image</mat-icon>
                </button>
            </div>
            <div class="producto-cantidad">
                <p class="subtitulo">{{ 'pos.factura.cantidad' | translate }}</p>
                <span class="spacer"></span>
                <div class="dFlex">
                    <div class="restar" (click)="restar()">
                        <mat-icon class="sumar-restar">remove</mat-icon>
                    </div>
                    <input #cantidadInput class="cantidad" type="text" name="search"
                        [(ngModel)]="productoService.cantidad" autocomplete="off" (ngModelChange)="changeCantidad()"
                        (focus)="selectText()" (autofocus)="selectText()">
                    <div class="sumar" (click)="sumar()">
                        <mat-icon class="sumar-restar">add</mat-icon>
                    </div>
                </div>
            </div>
            <div class="titulos">
                <p class="subtitulo">{{ 'pos.factura.descripcion' | translate }}</p>
                <span class="spacer"></span>
            </div>
            <div class="seleccionar">
                <p> {{producto.des_Producto}} </p>
                <span class="spacer"></span>
            </div>
            <div class="bodega-tipo-precio">

                <div class="menus">
                    <p class="subtitulo">{{ 'pos.factura.bodega' | translate }}</p>
                    <mat-select name="estado" class="bodegas"
                        placeholder="{{ 'pos.factura.seleccionarBodega' | translate }}"
                        [(ngModel)]="productoService. bodega" (ngModelChange)="changeBodega()">
                        <mat-option *ngFor="let bodega of productoService. bodegas" [value]="bodega">
                            ({{bodega.bodega}}) {{bodega.nombre}} | {{ 'pos.factura.existencia' | translate }}
                            ({{bodega.existencia}})
                        </mat-option>
                    </mat-select>
                </div>
                <span class="spacer"></span>
                <div class="menus">
                    <div *ngIf="productoService.precios.length == 0">
                        <p class="subtitulo">{{ 'pos.factura.tipo_precio' | translate }}</p>

                        <p class="subtitulo">{{ 'pos.factura.sinPrecios' | translate }}</p>

                    </div>
                    <div *ngIf="productoService.precios.length > 0">
                        <div *ngIf="productoService.precios[0].precio">
                            <p class="subtitulo">{{ 'pos.factura.tipo_precio' | translate }}</p>
                            <mat-select name="estado" class="bodegas"
                                placeholder="{{ 'pos.factura.seleccionarTipoPrecio' | translate }}"
                                [(ngModel)]="productoService. precio" (ngModelChange)="changePrice()">
                                <mat-option *ngFor="let precio of productoService. precios" [value]="precio">
                                    {{precio.descripcion}}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div *ngIf="!productoService.precios[0].precio">
                            <p class="subtitulo">{{ 'pos.factura.presentaciones' | translate }}</p>
                            <mat-select name="estado" class="bodegas"
                                placeholder="{{ 'pos.factura.seleccionarPresentacion' | translate }}"
                                [(ngModel)]="productoService. precio" (ngModelChange)="changePrice()">
                                <mat-option *ngFor="let precio of productoService. precios" [value]="precio">
                                    {{precio.descripcion}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <p class="subtitulo">{{ 'pos.factura.precio_unitario' | translate }}</p>
                <p class="subtitulo" *ngIf="!facturaService.valueParametro(351)">{{productoService.precioU | currency:'
                    ':'symbol':'2.2-2' }}</p>
                <input class="precio-unitario" type="text" name="search" [(ngModel)]="productoService.precioText"
                    autocomplete="off" *ngIf="facturaService.valueParametro(351)" (ngModelChange)="editPrice()">
            </div>
            <div class="dFlex">
                <span class="spacer"></span>
                <p class="subtitulo">{{ 'pos.factura.total' | translate }} {{productoService.total | currency:'
                    ':'symbol':'2.2-2' }}</p>
            </div>
        </div>
    </div>
    <div class="dFlex">
        <button mat-stroked-button mat-dialog-close>{{ 'pos.botones.cancelar' | translate }}</button>
        <span class="spacer"></span>
        <button *ngIf="productoService.indexEdit == -1" mat-stroked-button (click)="enviar()">{{ 'pos.botones.agregar' |
            translate }}</button>
        <!--TODO: Tranlate-->
        <button *ngIf="productoService.indexEdit != -1" mat-stroked-button (click)="enviar()">Modificar</button>
    </div>
</div>