$color-naranja        : #df9722;
$color-negro          : #000000;
$color-blanco         : #fff;
$color-gris           : #c1bfbf;
$color-bordes         : #c1bfbf; //bordes menu
$color-azul           : #134895; // fondo, bordes y texto azul
$background-oficial   : #FEF5E7; //fondo Demosoft
$background-scrollbar : var(--global-color); //barra azul
$bordes               : #c1bfbf;
$idioma-seleccionado  : #5d6d6c;

.container-main {
    width: 100%;
}

.centrar {
    display    : flex;
    align-items: center;
    height     : calc(100vh - 64px) !important;
    overflow   : hidden !important;
}

.contenido-url {
    align-items: center !important;
    width      : 100%;
    height     : 150px;
    display    : flex;
}

.cambios-cerrar {
    text-align : center;
    display    : flex;
    align-items: center;
    padding-top: 10px;
}

.copiar-url {
    text-align : center;
    display    : flex;
    align-items: center;
    margin     : 0px 20px;
}

.titulo {
    text-align : center;
    font-size  : 19px;
    font-weight: 500;
}

.url {
    text-align  : center;
    font-weight : 500;
    margin-right: 40px;
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

.dFlex {
    display    : flex;
    width      : 100%;
    align-items: center;
}

.url-apis {
    height       : 45px;
    width        : 50%;
    background   : none;
    font-size    : 14px;
    outline      : none;
    border-style : none;
    border-radius: 15px;
    border       : 0.5px solid $color-bordes;
    color        : $color-azul;
    padding      : 0px 15px;
}

.opciones {
    padding: 10px;
    width  : 100%;
}


@media screen and (max-width: 767px) {

    .url-apis,
    .titulo {
        width : calc(100% - 60px) !important;
        margin: 0px 10px !important;
    }

    .url {
        width    : 85% !important;
        margin   : 0px !important;
        word-wrap: break-word !important;
    }

    .copiar-url {
        margin: 20px 20px 10px !important;
    }

}

.version {
    display    : flex;
    align-items: center;
    position   : absolute;
    bottom     : 70px;
    right      : 15px;
    cursor     : auto;
}

.num-version {
    color       : #777;
    padding-left: 5px;
}