$color-naranja        : #df9722;
$color-negro          : #000000;
$color-blanco         : #fff;
$color-gris           : #c1bfbf;
$color-azul           : #134895;
$color-bordes         : rgba(0, 0, 0, 0.12); //bordes menu
$color-azul           : #134895; // fondo, bordes y texto azul
$background-oficial   : #FEF5E7; //fondo Demosoft
$background-scrollbar : #134895; //barra azul

.container-main::-webkit-scrollbar {
    width: 7px;
}

.container-main::-webkit-scrollbar-track {
    background: $background-oficial;
}

.container-main::-webkit-scrollbar-thumb {
    background-color: $background-scrollbar;
    border-radius   : 20px;
    border          : 3px $background-oficial;
}

.container-main {
    height    : calc(100vh - 128px) !important;
    width     : 100%;
    padding   : 0px;
    overflow-x: auto;
}

.progress {
    padding         : 10px 20px;
    width           : 100%;
    height          : 100vh; //importante para que este centrado
    background-color: $background-oficial;
}

.head__sidenav {
    width           : 100%;
    height          : 64px !important;
    display         : flex;
    align-items     : center;
    background-color: $background-oficial;
    padding         : 0px 15px;
    border-bottom   : 1px solid $color-bordes;
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

.dFlex {
    display    : flex;
    align-items: center;
    margin-top : 20px;
}

.sin-conexion {
    display    : flex;
    align-items: center !important;
    padding    : 20px 0px;
}

.centro {
    width         : 50%;
    border        : 1px solid $color-bordes;
    padding-bottom: 15px;
}

.titulo {
    font-weight: 500;
    padding    : 15px 0px;
    text-align : center;
}

.formulario {
    margin: 10px 25px;
}

.detalles {
    border-style    : none;
    border-bottom   : 1px solid $color-gris;
    font-size       : 15px;
    padding-left    : 5px;
    outline         : none;
    color           : $color-azul;
    background-color: transparent;
    width           : 100%;
    height          : 45px;
}

.detalles:hover {
    border-bottom: 1px solid $color-azul;

}

.campos {
    padding    : 10px 0px;
    display    : flex;
    align-items: center;
}

.informacion {
    padding: 10px 0px;
}


.guardar {
    position        : fixed;
    z-index         : 1000;
    bottom          : 75px;
    right           : 60px;
    font-size       : 20px;
    background-color: $color-azul;
}

@media screen and (max-width: 767px) {
    .centro {
        width: 85% !important;
    }
}

.subtitulo {
    font-size: 14px;
    color    : #7c7676;
}

.seleccionar {
    border-style : none;
    border-bottom: 1px solid $color-bordes;
    font-size    : 12px;
}

.mat-mdc-option {
    min-height: 30px;
    color     : $color-azul;
    font-size : 13px;
}