<app-progress *ngIf="isLoading" class="progress"></app-progress>
<!-- Dialogo de los detalles de las tareas -->
<div mat-dialog-content class="dialog" *ngIf="busqueda && !isLoading">
    <div class="contenedor">
        <div class="d-flex">
            <span class="spacer"></span>
            <!-- Titulo -->
            <p class="verDetalle">{{'crm.crear.usuarios' | translate}}</p>
            <span class="spacer"></span>
            <!-- Cerrar dialogo -->
            <span class="close" (click)="closeDialog()">&times;</span>
        </div>
        <hr>
        <div class="busqueda">
            <p class="buscar">{{'crm.crear.buscar' | translate}}</p>
            <input type="search" class="inputSearch" [(ngModel)]="searchUser"
                placeholder="{{'crm.crear.busqueda' | translate}}" (ngModelChange)="onInputChange()">
        </div>
        <div class="titulos" *ngIf="usuariosResInv.length > 0 ">
            <p class="nombre">{{ 'crm.crear.usuario' | translate }}</p>
        </div>
        <div class="detalleUsuario" [ngClass]="{'display-block': buscar === 1, 'display-flex': buscar === 2}"
            *ngFor="let usuario of usuariosResInv">
            <mat-checkbox [(ngModel)]="usuario.select" color="primary" *ngIf="buscar === 2"></mat-checkbox>
            <span class="spacer"></span>
            <div class="seleccionar" [mat-dialog-close]="[usuario]" [ngClass]="{'seleccionar': buscar === 1, 'seleccionar-invitados': buscar === 2}">
                <p class="nombre">{{usuario.name}}</p>
                <span class="spacer"></span>
                <p class="email">{{usuario.email}}</p>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="botones">
        <button mat-button (click)="closeDialog()">{{'crm.crear.cancelar' | translate}}</button>
        <button mat-button (click)="enviar()">{{'crm.crear.guardar' | translate}}</button>
    </div>
</div>