<app-progress *ngIf="isLoading" class="progress"></app-progress>
<div class="fondo" *ngIf="!isLoading">
    <div class="barra-fija">
        <span class="spacer"></span>
        <!-- Titulo -->
        <p class="titulos">Error: </p>
        <span class="spacer"></span>
        <!-- Cerrar dialogo -->
        <span class="close" (click)="closeDialog()">&times;</span>
    </div>
    <!-- Dialogo de los detalles de las tareas -->
    <div mat-dialog-content class="dialog">
        <div class="contenedor">
            <hr>
            <!-- <div class="detalleCoincidencias" *ngFor="let referencia of referencias">
                <div class="seleccionar" [mat-dialog-close]="[referencia]">
                    <p class="nombre">{{referencia.descripcion}}</p>
                    <div class="dFlex">
                        <p class="titulos">Estado: </p>
                        <p class="nombre">{{referencia.fDes_Estado_Objeto}}</p>
                    </div>
                    <div class="dFlex">
                        <p class="titulos">Referencia: </p>
                        <p class="nombre">{{referencia.referencia}}</p>
                    </div>
                    <div class="dFlex">
                        <p class="titulos">ID Referencia: </p>
                        <p class="nombre">{{referencia.referencia_Id}}</p>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <div mat-dialog-actions class="barra-abajo-fija" *ngIf="enableButtons">
            <button mat-button (click)="closeDialog()">{{'crm.crear.cancelar' | translate}}</button>
        </div> -->
    </div>
</div>