$blanco       : var(--blanco);
$bordes       : var(--bordes-claro); //bordes menu
$fondo        : var(--fondo-claro); //fondo Demosoft
$scroll       : var(--global-color); //barra azul
$seleccionado : var(--seleccionado2);


.container-main {
    height    : calc(100vh - 64px) !important;
    padding   : 20px 0px;
    overflow-y: auto;
}

.contenido {
    align-items: center !important;
    width      : 100%;
    display    : flex;
}

.container-main::-webkit-scrollbar {
    width           : 7px;
    background-color: $fondo;
}

.container-main::-webkit-scrollbar-track {
    background-color: $fondo;
}

.container-main::-webkit-scrollbar-thumb {
    background-color: $scroll;
    border-radius   : 20px;
}

.titulos-menu {
    padding-top: 30px;
    width      : 100%;
}

.titulo {
    text-align : center;
    font-size  : 19px !important;
    font-weight: 500;
}

.detalles-lenguajes {
    display: flex;
    width  : 100%;
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

.cambios-cerrar {
    text-align : center;
    display    : flex;
    align-items: center;
    padding    : 10px;
}

.seleccionado {
    padding-left: 10px;
    text-align  : left;
    width       : 100% !important;
    align-items : center;
    font-size   : 12px;
    font-weight : 500;
    cursor      : pointer;
}

.opciones {
    padding  : 5px 10px 5px 0px;
    font-size: 12px;
    width    : 100%;
}

.realizar-cambio {
    font-size  : 14px;
    font-weight: 450;
}

.informacion-tema {
    width     : 60%;
    cursor    : pointer;
    text-align: center !important;
    border    : 1px solid $bordes;
    margin    : 10px 0px;
}

.informacion-tema:hover {
    background-color: $seleccionado;
    color           : $blanco;
}

.idioma-seleccionado {
    background-color: $seleccionado;
    color           : $blanco;
}

@media screen and (max-width: 767px) {
    .titulos-menu {
        display: block !important;
    }

    .detalles-lenguajes {
        width: 100% !important;
    }

    .informacion-tema {
        width : 100% !important;
        margin: 10px 30px !important;

    }

    .realizar-cambio {
        margin: 0px 10px !important;
    }
}