$color-gris : #777; //sombra y texto gris


//sidenav bottom y logo

p {
    margin: 0px;
}

.desa {
    font-size  : 12px;
    margin     : 0px 10px;
    font-weight: 400;
    color      : $color-gris;
}

.head__sidenav__bottom {
    height     : 64px !important;
    padding    : 0px;
    border-top : 1px solid rgba(0, 0, 0, 0.12);
    display    : flex;
    align-items: center;
    position   : fixed;
    bottom     : 0;
    width      : 100%;
}

.logos {
    align-items: center !important;
    display    : flex;
    width      : 100%;
}

.img_empresas {
    height      : 60px;
    margin-right: 20px;
    margin-left : 20px;
}

.img_demosoft {
    height      : 50px;
    margin-right: 20px;
    margin-left : 20px;
}

@media screen and (max-width: 600px) {
    .img_empresas {
        height: 45px !important;
        margin: 10px;
    }

    .desa {
        font-size : 8px !important;
        margin    : 0px !important;
        text-align: center !important;
        word-wrap : break-word !important;
    }

    .img_demosoft {
        margin: 10px !important;
    }
}

@media screen and (max-width: 280px) {
    .img_empresas {
        height: 45px;
        margin: 10px;
    }
}

/*Fin logos*/

.spacer {
    flex: 1 1 auto;
}