$color-naranja        : #df9722;
$color-negro          : #000000;
$color-blanco         : #fff;
$color-azul           : #134895;
$color-bordes         : rgba(0, 0, 0, 0.12); //bordes menu
$color-azul           : #134895; // fondo, bordes y texto azul
$background-oficial   : #FEF5E7; //fondo Demosoft
$background-scrollbar : #134895; //barra azul
$detalles             : rgb(0 0 0 / 3%);

.documento {
    padding   : 10px 25px;
    display   : flex;
    height    : calc(100vh - 190px);
    overflow-y: auto;
}

.documento::-webkit-scrollbar {
    width: 7px;
}

.documento::-webkit-scrollbar-track {
    background: $background-oficial;
}

.documento::-webkit-scrollbar-thumb {
    background-color: $background-scrollbar;
    border-radius   : 20px;
    border          : 3px $background-oficial;
}

.serie-vendedor,
.cliente {
    width: 50%;
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

hr {
    margin    : 0.5rem 0;
    color     : inherit;
    border    : 0;
    border-top: 1px solid;
    opacity   : .25;
}

.informacion,
.buscar-cliente {
    padding: 10px 0px;
    width  : 80%;
}

.detalles-fondo {
    padding         : 10px 5px;
    width           : 80%;
    background-color: $detalles;
    margin-bottom   : 10px;
}

.detalles {
    font-size: 14px;
}

.dFlex {
    display    : flex;
    align-items: center;
}

.titulo {
    font-size  : 14px;
    text-align : center;
    font-weight: 500;
}

.titulos:hover {
    cursor       : pointer;
    border-bottom: 1px solid $color-azul;
    font-weight  : 500;
}

.seleccionar {
    border-style : none;
    border-bottom: 1px solid $color-bordes;
    font-size    : 12px;
}

.subtitulo {
    font-size     : 14px;
    font-weight   : bold;
    padding-bottom: 5px;
}

.mat-mdc-option {
    min-height: 30px;
    color     : $color-azul;
    font-size : 13px;
}

.form-switch .form-check-input {
    border-color: #bdb76b;
    height      : 20px;
}


//buscador y filtos
.inputSearch {
    text-align: center !important;
}


//Estilo para el contenedor del icono y el campo de entrada
.input-container {
    position     : relative;
    display      : flex;
    align-items  : center;
    width        : 100%;
    border-bottom: 1px solid $color-bordes;
}

.input-container:hover {
    border-bottom: 1px solid $color-azul;
}

//Estilo para el icono
.iconoLupa {
    color: $color-azul;
}

// estilos para los inputs 
.barra-de-busqueda {
    height       : 45px;
    width        : 100%;
    background   : none;
    font-size    : 14px;
    padding-left : 10px;
    outline      : none;
    border-style : none;
    color        : $color-azul;
    border-radius: 10px;
}

.tipo-busqueda {
    text-align: center;
    width     : 100%;
    padding   : 10px 15px 5px;
}

.buscar {
    padding-left: 5px;
    display     : flex;
}

.buscar-opcion {
    font-size    : 12px;
    text-align   : left;
    padding-right: 5px;
    padding-left : 15px;
}

.chip {
    display      : inline-block;
    padding      : 5px 8px;
    margin       : 4px;
    cursor       : pointer;
    border       : 1px solid #ccc;
    border-radius: 20px;
    font-size    : 12px;
}

.selected {
    background-color: $color-azul;
    color           : #fff;
    border          : 1px solid $color-azul;
}

.detalles-cliente {
    font-size  : 13px;
    padding    : 2px 1px;
    font-weight: 500;
}

//Pantallas peque;as 

@media screen and (max-width: 767px) {

    .documento {
        display: block !important;
        padding: 10px 20px !important;
        height : calc(100vh - 240px) !important;
    }

    .cliente,
    .serie-vendedor,
    .informacion,
    .detalles-fondo,
    .buscar-cliente {
        width: 100% !important;
    }

    .fechas,
    .ordenar {
        width: 100% !important;
    }

    .calendarios,
    .horas {
        width : 100% !important;
        margin: 5px 0px !important;
    }

    .fechas {
        display: block !important;
    }

    .form-control {
        text-align: center !important;
    }

}

.fechas {
    display    : flex;
    align-items: center;
}

.form-control {
    background-color: transparent !important;
    height          : 35px;
    font-size       : 14px;
    border          : 1px solid $color-bordes;
    color           : $color-azul;
}

.ver-calendario {
    border     : 1px solid $color-bordes;
    align-items: center;
    height     : 35px;
}

.ver-hora {
    height                    : 35px;
    border                    : 1px solid $color-bordes;
    border-top-right-radius   : 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius    : 0px;
    border-bottom-left-radius : 0px;

}

.calendarios {
    width: 45%;
}


.ico-calendario {
    font-size: 20px;
}

.textosBold14 {
    font-size    : 14px;
    font-weight  : 550;
    padding-right: 5px;
}

.hora-calendario {
    width                    : 100%;
    height                   : 35px;
    border                   : 1px solid $color-bordes;
    display                  : flex;
    align-items              : center;
    border-top-left-radius   : 5px;
    border-bottom-left-radius: 5px;
}

.horas {
    width      : 45%;
    display    : flex;
    align-items: center;
}

.hora {
    cursor          : pointer;
    border-style    : none;
    width           : 100%;
    font-size       : 13px;
    // padding: 6px 12px;
    outline         : none;
    color           : $color-azul;
    background-color: transparent;
    text-align      : center;
}

.textos14 {
    font-size: 14px;
}

.textosBold14 {
    font-size  : 14px;
    font-weight: 550;
}

.descripcion-tarea {
    color           : $color-azul;
    width           : 100%;
    border-style    : none;
    background-color: transparent;
    outline         : none;
    font-size       : 12px;
    padding         : 3px;
}

.descripcion-tarea:hover {
    border: 1px solid $color-bordes;

}