<!-- VISTA DE DOCUMENTO -->
<div class="documento">

    <div class="serie-vendedor">

        <div class="informacion">
            <p class="subtitulo">{{ 'pos.factura.series' | translate }}</p>
            <mat-select name="estado" class="seleccionar" placeholder="SERIE" [(ngModel)]="facturaService.serie" (ngModelChange)="changeSerie()"> 
                <mat-option *ngFor="let serie of facturaService.series" [value]="serie">
                    {{serie.descripcion}}
                </mat-option>
            </mat-select>
        </div>

        <div class="buscar-cliente">
            <div class="dFlex">
                <p class="subtitulo">{{ 'pos.factura.cliente' | translate }}</p>
                <span class="spacer"></span>
                <button mat-icon-button (click)="agregarCliente()" [matTooltip]="'pos.factura.nueva'  | translate">
                    <mat-icon>person_add</mat-icon>
                </button>
            </div>

            <form #searchForm="ngForm" (ngSubmit)="buscarCliente(searchText)">
                <p class="">{{ 'pos.factura.buscar' | translate }}</p>
                <div class="input-container">
                    <button class="iconoLupa" mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                    <input class="barra-de-busqueda" type="search" name="search" [(ngModel)]="searchText"
                        autocomplete="off" placeholder="{{'pos.inputs.buscar' | translate}}">
                </div>
            </form>
        </div>

        <div class="informacion">
            <div class="d-flex">
                <p class="subtitulo">{{ 'pos.factura.cf' | translate }} </p>
                <span class="spacer"></span>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                        (change)="toggleSwitch()">
                </div>
            </div>
        </div>

        <div class="informacion" *ngIf="switchState">
            <p class="titulo">{{ 'pos.factura.informacion' | translate }}</p>
            <p class="detalles">{{ 'pos.factura.cf' | translate }}</p>
            <p class="detalles">{{ 'pos.factura.consumidor' | translate }}</p>
            <p class="detalles">{{ 'pos.factura.ciudad' | translate }}</p>
        </div>

        <div class="informacion" *ngIf="selectedCliente">
            <div class="dFlex">
                <p class="titulo">{{ 'pos.factura.informacion' | translate }}</p>
                <span class="spacer"></span>
                <button mat-icon-button (click)="actualizar()" [matTooltip]="'pos.factura.actualizar' | translate">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="dFlex">
                <p class="detalles">{{ 'pos.factura.nit' | translate }}</p>
                <span class="spacer"></span>
                <p>{{cliente.nit}}</p>
            </div>
            <div class="dFlex">
                <p class="detalles">{{ 'pos.factura.nombre' | translate }}</p>
                <span class="spacer"></span>
                <p>{{cliente.nombre}}</p>
            </div>
            <span class="spacer"></span>
            <div class="dFlex">
                <p class="detalles">{{ 'pos.factura.ciudad' | translate }}</p>
                <span class="spacer"></span>
                <p>Ciudad</p>
            </div>
        </div>
    </div>
    <span class="spacer"></span>

    <div class="cliente" *ngIf="facturaService.vendedores.length > 0">

        <div class="informacion">
            <p class="subtitulo">{{ 'pos.factura.vendedor' | translate }}</p>
            <mat-select name="estado" class="seleccionar" placeholder="VENDEDOR" [(ngModel)]="facturaService.vendedor">
                <mat-option *ngFor="let vendedor of facturaService.vendedores" [value]="vendedor">
                    {{vendedor.nom_Cuenta_Correntista}}
                </mat-option>
            </mat-select>
        </div>

    </div>

</div>