$fondo         : var(--fondo-claro); //fondo Demosoft
$scroll        : var(--global-color); //barra azul
$bordes        : var(--bordes-claro);
$personalizado : var(--global-color); //bordes y texto azul

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

.contenido::-webkit-scrollbar {
    width: 7px;
}

.contenido::-webkit-scrollbar-track {
    background: $fondo;
}

.contenido::-webkit-scrollbar-thumb {
    background-color: $scroll;
    border-radius   : 20px;
    border          : 3px $fondo;
}

.contenido {
    padding   : 10px;
    width     : 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/*Tarjeta Producto*/

.product-me {
    float        : left;
    width        : 100%;
    height       : 300px;
    background   : transparent;
    box-shadow   : none;
    border-radius: 10px;
    overflow     : hidden;
    margin-bottom: 30px;
    background   : #fff;
}

.image-product img {
    width       : 200px;
    height      : 200px;
    margin-left : auto;
    margin-right: auto;
    display     : block;
    cursor      : pointer;
}

.nombre_producto h4 {
    float        : left;
    width        : 100%;
    text-align   : center;
    margin-bottom: 3px;
    font-size    : 12px;
    font-weight  : 600;
    color        : #aa4060;
    padding      : 5px;
}

.nombre_producto p {
    float        : left;
    width        : 100%;
    text-align   : center;
    margin-bottom: 3px;
    font-size    : 15px;
    font-weight  : 600;
    color        : #d84672;
}

/*Fin Tarjeta Producto*/