$color-naranja        : #df9722;
$color-negro          : #000000;
$color-blanco         : #fff;
$color-gris           : #c1bfbf;
$color-azul           : #134895;
$color-bordes         : #c1bfbf; //bordes menu
$color-azul           : #134895; // fondo, bordes y texto azul
$background-oficial   : #FEF5E7; //fondo Demosoft
$background-scrollbar : #134895; //barra azul
$bordes               : #c1bfbf;
$idioma-seleccionado  : #5d6d6c;


.container-main {
    height                : calc(100vh - 64px) !important;
    padding               : 20px 0px;
    // display            : flex;
    // align-items        : center;
    // background-color: #134895;
}

.head__sidenav {
    height          : 64px !important;
    padding         : 0px 10px;
    border-bottom   : 1px solid rgba(0, 0, 0, 0.12);
    background-color: $background-oficial;
}

.informacion-tema {
    width : 85%;
    cursor: pointer;
}

//oscuro
// .informacion-tema:hover{
//     background-color: #324140;
// }

.informacion-tema:hover {
    background-color: #5d6d6c;
    color           : #fff;
}


.flecha-regresar {
    position : fixed;
    left     : 10px;
    font-size: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.cambios-cerrar {
    text-align : center;
    display    : flex;
    align-items: center;
    height     : 50px;
    padding-top: 10px;
}

.titulo {
    text-align : center;
    font-size  : 19px;
    font-weight: 500;
}

.detalles-themas {
    display: flex;
    width  : 100%;
}

.titulos-menu {
    display    : flex;
    padding-top: 30px;
    width      : 100%;
}

.tema-seleccionado {
    background-color: $idioma-seleccionado;
    color           : $color-blanco;
}

@media screen and (max-width: 450px) {
    .titulos-menu {
        display: block !important;
    }

    .detalles-themas,
    .temas-disponibles {
        width: 100% !important;
    }
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

.info {
    width : 100%;
    height: 100%;
}

.contenido {
    align-items: center !important;
    width      : 100%;
    height     : calc(100% - 150px);
    display    : flex;
}

.temas-disponibles {
    width      : 80%;
    align-items: center;
}

.textos {
    width: 45%;
}

.derecha {
    text-align: right;
}

.registros {
    width     : 85%;
    text-align: right !important;
}

.detalles-themas {
    display: flex;
    width  : 100%;
}

.seleccionar-empresa,
.seleccionar-localidad {
    width        : 100%;
    text-align   : center !important;
    border       : 1px solid $color-bordes;
    border-bottom: 1px solid $color-bordes;
    border-top   : none;
}

.linea {
    box-shadow: 0px -3px 10px 1.5px rgba(0, 0, 0, 0.2);
    width     : 100%;
}

.localidades,
.empresas {
    min-height: auto;
    max-height: 230px;
    overflow  : auto;
    overflow-x: hidden;
    padding   : 0px;
}

.b-b {
    border-top: none !important;
}

.boton-guardar {
    position        : fixed;
    z-index         : 1000;
    bottom          : 75px;
    right           : 60px;
    font-size       : 20px;
    background-color: $color-azul;
}

.boton-cerrar {
    position           : fixed;
    right              : 10px;
    font-size          : 20px;
    // background-color: $color-azul;
    // background-color: transparent;
    // color: #000;
}

.flecha-regresar {
    position : fixed;
    left     : 10px;
    font-size: 20px;
}

.identificadores {
    font-size  : 15px;
    font-weight: 500;
    display    : flex;
    margin     : 2px 0px;
    width      : 100%;
}

.seleccionado {
    padding-left: 10px;
    text-align  : left;
    border-top  : 1px solid $color-bordes;
    width       : 100% !important;
    align-items : center;
    font-size   : 12px;
    font-weight : 500;
    cursor      : pointer;
}

.opciones {
    padding  : 5px 10px 5px 0px;
    font-size: 12px;
    width    : 100%;
}

.titulo {
    text-align : center;
    font-size  : 19px;
    font-weight: 500;
}

.sin-negrita {
    font-weight : 400 !important;
    padding-left: 5px;
}

.example-radio-group {
    padding-bottom: 4px;
    display       : flex;
    flex-direction: column;
    margin        : 0px 0;
    align-items   : flex-start;
}

.example-radio-button {
    margin: 5px;
    width : 100%;
}

.progress {
    height          : 100vh;
    width           : 100vw;
    position        : fixed;
    align-items     : center;
    background-color: $background-oficial;
}

.realizar-cambio {
    font-size  : 14px;
    font-weight: 450;
}

.cambios-cerrar {
    text-align : center;
    display    : flex;
    align-items: center;
    height     : 50px;
    padding-top: 10px;
}

.titulo-flecha {
    display         : flex;
    border-bottom   : 1px solid rgba(0, 0, 0, .12) !important;
    align-items     : center;
    // position     : fixed;
    height          : 75px;
}

.head__sidenav {
    height       : 64px !important;
    padding      : 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.img_empresas {
    height: 200px;
    margin: 20px;
}

@media screen and (max-width: 930px) {
    .img_empresas {
        height: 140px !important;
        margin: 10px;
    }
}

@media screen and (max-width: 265px) {
    .img_empresas {
        height: 50px;
        margin: 10px;
    }
}

@media screen and (max-width: 767px) {
    .img_empresas {
        height: 100px !important;
        margin: 10px;
    }

    .titulos-menu {
        display: block !important;
    }

    .detalles-themas,
    .temas-disponibles {
        padding: 5px 0px !important;
        width  : 100% !important;
    }

    .realizar-cambio {
        margin: 0px 30px !important;
    }
}