<div class="container-main">

    <div class="cambios-cerrar">
        <span class="spacer"></span>
        <p class="titulo">{{ 'pos.preferencias.tema' | translate }}</p>
        <span class="spacer"></span>
    </div>
    <div class="contenido">
        <div class="titulos-menu">
            <div class="temas-disponibles">
                <div class="detalles-themas">
                    <span class="spacer"></span>
                    <div class="informacion-tema" (click)="claro(0)" [ngClass]="{'tema-seleccionado': tema == 0}">
                        <div class="seleccionar-empresa">
                            <div class="seleccionado d-flex">
                                <button mat-icon-button>
                                    <mat-icon>light_mode</mat-icon>
                                </button>
                                <p class="opciones">{{ 'pos.preferencias.claro' | translate }}</p>
                            </div>
                            <span class="spacer"></span>
                        </div>
                        <div class="seleccionar-empresa">
                            <img class=" img_empresas" src="assets/claro.png" alt="Logo">
                            <!-- <p class="linea"></p> -->
                            <span class="spacer"></span>
                        </div>
                    </div>
                    <span class="spacer"></span>
                </div>
            </div>

            <div class="temas-disponibles">
                <div class="detalles-themas">
                    <span class="spacer"></span>
                    <div class="informacion-tema" (click)="oscuro(1)" [ngClass]="{'tema-seleccionado': tema == 1}">
                        <div class="seleccionar-localidad">
                            <div class="seleccionado d-flex">
                                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                                    <mat-icon>dark_mode</mat-icon>
                                </button>
                                <p class="opciones">{{ 'pos.preferencias.oscuro' | translate }}</p>

                            </div>
                            <span class="spacer"></span>
                        </div>
                        <div class="seleccionar-localidad">
                            <img class="img_empresas" src="assets/oscuro.png" alt="Logo">
                        </div>
                    </div>
                    <span class="spacer"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="cambios-cerrar">
        <span class="spacer"></span>
        <p class="realizar-cambio">{{ 'pos.preferencias.cambiar' | translate }}</p>
        <span class="spacer"></span>
    </div>
    <div class="cambios-cerrar">
        <span class="spacer"></span>
        <button mat-stroked-button (click)="guardar()">{{'pos.botones.continuar' | translate}}</button>
        <span class="spacer"></span>
    </div>
</div>
<!-- Mostrar logos -->
<app-barra-logos></app-barra-logos>