<mat-toolbar-row class="head__sidenav">
    <button mat-icon-button aria-label matTooltip="regresar">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button aria-label matTooltip="actualizar">
        <mat-icon>refresh</mat-icon>
    </button>
    <span class="spacer"></span>
    <!-- Titulo de la tarea -->
    <p class="titulo"></p>
</mat-toolbar-row>
<!-- Pantalla de no encontrado -->
<div class="container-main">
    <div class="row">
        <div class="centrar">
            <div id="notfound">
                <div class="notfound">
                    <!-- Mensaje de no encontrado -->
                    <div class="notfound-404">
                        <h1>{{ 'pos.progress.error' | translate }}</h1>
                    </div>
                    <h2>{{ 'pos.progress.linea1' | translate }}</h2>
                    <p>{{ 'pos.progress.linea2' | translate }}</p>
                    <h5>{{ 'pos.progress.linea3' | translate }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mostrar logos -->
<app-barra-logos></app-barra-logos>