<!-- Pantalla de no encontrado -->
<div class="container">
    <div class="row">
        <div class="centrar">
            <div id="notfound">
                <div class="notfound">
                    <!-- Mensaje de no encontrado -->
                    <div class="notfound-404">
                        <h1>{{ 'pos.progress.error' | translate }}</h1>
                    </div>
                    <h2>{{ 'pos.progress.linea1' | translate }}</h2>
                    <p>{{ 'pos.progress.linea2' | translate }}</p>
                    <h5>{{ 'pos.progress.linea3' | translate }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>