<app-progress *ngIf="isLoading" class="progress"></app-progress>
<!-- Dialogo de los detalles de las tareas -->
<div mat-dialog-content class="dialog" *ngIf="!isLoading">
    <div class="contenedor">
        <div class="dFlex">
            <span class="spacer"></span>
            <!-- Titulo -->
            <p class="verDetalle">{{ 'pos.factura.seleccionar' | translate }}</p>
            <span class="spacer"></span>
            <!-- Cerrar dialogo -->
            <span class="close" (click)="closeDialog()">&times;</span>
        </div>
        <hr>
        <div class="busqueda">
            <div class="contenido-izquierdo">
                <p class="campo-obligatorio">{{ 'pos.factura.encontrados' | translate }}</p>

                <div class="titulos">
                    <p>{{ 'pos.factura.nombre' | translate }}</p>
                    <span class="spacer"></span>
                    <p>{{ 'pos.factura.nit' | translate }}</p>
                </div>
                <div class="" *ngFor="let cliente of clientes">
                    <div class="seleccionar" [mat-dialog-close]="[cliente]">
                        <p> {{cliente.factura_Nombre}} </p>
                        <span class="spacer"></span>
                        <p>{{cliente.factura_NIT}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>