<app-progress *ngIf="isLoading" class="progress"></app-progress>
<!-- Dialogo de los detalles de las tareas -->
<div mat-dialog-content class="dialog" *ngIf="!isLoading">
    <div class="contenedor">
        <div class="dFlex">
            <span class="spacer"></span>
            <!-- Titulo -->
            <p class="verDetalle">{{ 'pos.factura.seleccionar' | translate }}</p>
            <span class="spacer"></span>
            <!-- Cerrar dialogo -->
            <span class="close" (click)="closeDialog()">&times;</span>
        </div>
        <hr>
        <div class="contenido-izquierdo">
            <div class="dFlex">
                <span class="spacer"></span>
                <p class="campo-obligatorio">{{ 'pos.factura.registros' | translate }} ({{clientes.length}})</p>
            </div>
            <hr>
            <div class="" *ngFor="let cliente of clientes">
                <div class="seleccionar" [mat-dialog-close]="[cliente]">
                    <p class="textos"> {{cliente.factura_Nombre}} </p>
                    <p class="textos">{{cliente.factura_NIT}}</p>
                </div>
            </div>
        </div>
    </div>
</div>