<app-error *ngIf="globalConvertService.showError" [regresar]="globalConvertService.regresar"></app-error>
<ng-container *ngIf="!globalConvertService.showError">
    <app-progress *ngIf="globalConvertService.isLoading" class="progress"></app-progress>
    <ng-container *ngIf="!globalConvertService.isLoading">
        <app-printer-configuration *ngIf="globalConvertService.verPrint" [volver]="3"
    [document]="globalConvertService. docPrint"></app-printer-configuration>
        <app-types-docs *ngIf="globalConvertService.verTiposDocConversion"></app-types-docs>
        <app-origin-docs *ngIf="globalConvertService.verDocOrigen"></app-origin-docs>
        <app-destination-docs *ngIf="globalConvertService.verDocDestino"></app-destination-docs>
        <app-convert-docs *ngIf="globalConvertService.verDocConversion"></app-convert-docs>
        <app-details-dest-docs *ngIf="globalConvertService.verDetalleDocConversion"></app-details-dest-docs>
    </ng-container>
</ng-container>