$fondo : var(--fondo-claro); //fondo Demosoft

.progress {
    padding         : 10px 20px;
    width           : 100%;
    height          : 100vh; //importante para que este centrado
    background-color: $fondo;
}