<mat-toolbar-row class="head__sidenav">
    <button mat-icon-button aria-label matTooltip="regresar" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button aria-label matTooltip="actualizar">
        <mat-icon>refresh</mat-icon>
    </button>
    <span class="spacer"></span>
    <!-- Titulo de la tarea -->
    <p class="titulo"></p>
</mat-toolbar-row>

<div class="container-main">
    <div class="sin-conexion">
        <span class="spacer"></span>
        <div class="centro">
            <p class="titulo">{{ 'pos.documento.nueva' | translate }}</p>
            <form #searchForm="ngForm" class="formulario">
                <div class="campos">
                    <input type="text" name="titulo" placeholder="{{ 'pos.documento.nombre' | translate }}"
                        class="detalles" [(ngModel)]="nombre" autocomplete="off">
                </div>
                <div class="campos">
                    <input type="text" name="titulo" placeholder="{{ 'pos.documento.direccion' | translate }}"
                        class="detalles" [(ngModel)]="direccion" autocomplete="off">
                </div>
                <div class="campos">
                    <input type="text" name="titulo" placeholder="{{ 'pos.documento.nit' | translate }}"
                        class="detalles" [(ngModel)]="nit" autocomplete="off">
                </div>
                <div class="campos">
                    <input type="text" name="titulo" placeholder="{{ 'pos.documento.telefono' | translate }}"
                        class="detalles" [(ngModel)]="telefono" autocomplete="off">
                </div>
                <div class="campos d-flex">
                    <input type="text" name="titulo" placeholder="{{ 'pos.documento.correo' | translate }}"
                        class="detalles" [(ngModel)]="correo" autocomplete="off">
                </div>
            </form>
        </div>
        <button mat-mini-fab class="guardar" [matTooltip]="'pos.boton.guardar' | translate" (click)="guardar()">
            <mat-icon>save</mat-icon>
        </button>
        <span class="spacer"></span>
    </div>
</div>
<!-- Mostrar logos -->
<!-- <app-barra-logos></app-barra-logos> -->
<app-barra-logo-demosoft></app-barra-logo-demosoft>