$naranja      : var(--pestana-oscuro);
$negro        : var(--negro);
$preferencia  : var(--global-color); // fondo, bordes y texto azul
$blanco       : var(--blanco);
$bordes       : var(--bordes-claro); //bordes menu
$fondo        : var(--fondo-claro); //fondo Demosoft
$scroll       : var(--global-color); //barra azul
$seleccionado : var(--seleccionado2);
$version      : var(--gris);

.container_main {
    width     : 100% !important;
    height    : 100% !important;
    float     : left;
    background: $fondo;
    overflow  : auto;
    padding   : 0px 15px;
}


/*-- login --*/
.login-right {
    margin-top: 10%;
}

.login-right input[type="text"],
.login-right input[type="password"] {
    width      : 100%;
    padding    : 10px;
    font-weight: normal;
    background : none;
    border     : 1px solid $bordes;
    color      : $naranja;
    outline    : none;
    font-size  : 14px;
    margin     : 6px 0 17px 0px;
}

.login-right input[type="text"]:hover,
.login-right input[type="password"]:hover,
.login-right input[type="email"]:hover {
    border: 1px solid $naranja;
}

.login-right h4 {
    text-align: start;
    color     : $negro;
    font-size : 14px;
    margin    : 0 0 0px 0;
}



.login-right input[type="submit"] {
    background        : $preferencia;
    color             : $blanco;
    font-size         : 17px;
    border            : none;
    width             : 100%;
    outline           : none;
    padding           : 8px 15px 9px 15px;
    transition        : 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition   : 0.5s all;
    -o-transition     : 0.5s all;
}

.login-right input[type="submit"]:hover {
    background: $naranja;
    color     : $blanco;
}


.iniciar {
    background        : $preferencia;
    color             : $blanco;
    border            : none;
    width             : 100%;
    outline           : none;
    padding           : 8px 15px 9px 15px;
    transition        : 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition   : 0.5s all;
    -o-transition     : 0.5s all;
}

.iniciar:hover {
    background: $naranja;
    color     : $blanco;
}

.login-right h3 {
    color        : $naranja;
    font-size    : 22px;
    margin-bottom: 23px;
}

.login-right h6 {
    color        : $naranja;
    font-size    : 15px;
    margin-bottom: 23px;
}

.sign-in a,
p {
    font-size      : 13px;
    cursor         : pointer;
    text-decoration: none;
}

.sign-in p {
    text-align: right;
}

.sign-in a:hover {
    color: $naranja;
}

.sign-in p:hover {
    color: $naranja;
}

.single-bottom {
    margin: 14px 0 22px;
}

.single-bottom label {
    margin-left: 5px;
}

.single-bottom:hover {
    color: $naranja;

}

.single-bottom input,
.single-bottom label {
    cursor: pointer;
}

/*-- //login --*/

.cambiar {
    text-align: left !important;
    display   : flex;
}

.spacer {
    flex: 1 1 auto;
}

.centrar-login {
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
    .centrar-login {
        margin-top: 40px !important;
    }
}

p {
    margin: 0px;
}

.version {
    display    : flex;
    align-items: center;
    position   : absolute;
    bottom     : 20px;
    right      : 15px;
    cursor     : auto;
}

.num-version {
    color       : $version;
    padding-left: 5px;
}

.dFlex {
    display    : flex;
    align-items: center;
}