<div class="container_main">
    <!-- Pantalla de carga  -->
    <app-progress *ngIf="isLoading"></app-progress>
    <div class="container" *ngIf=" !isLoading">
        <div class="centrar-login">
            <app-logos></app-logos>
            <div class="row">
                <div class="col-md-5 mx-auto text-center">
                    <div class="login-right">
                        <div class="d-flex">
                            <span class="spacer"></span>
                            <button mat-icon-button (click)="api()">
                                <mat-icon>vpn_lock</mat-icon>
                            </button>
                        </div>
                        <!-- Ingresar y validar datos ingresados en los inputs  -->
                        <form #loginForm="ngForm" (ngSubmit)="login()">
                            <div class="sign-in">
                                <!-- Correo o usuario -->
                                <h4>{{ 'pos.login.correo' | translate }}</h4>
                                <input type="text" required [(ngModel)]="nombreInput" name="nombre" autocomplete="off">
                            </div>
                            <div class="sign-in">
                                <!-- Contraseña  -->
                                <h4>{{ 'pos.login.contrasena' | translate }}</h4>
                                <input *ngIf="!mostrarTexto" type="password" required [(ngModel)]="claveInput"
                                    name="clave">
                                <input *ngIf="mostrarTexto" type="text" required [(ngModel)]="claveInput" name="clave"
                                    autocomplete="off">
                                <br>
                                <!-- Ver y ocutar contraseña -->
                                <!-- <p *ngIf="!mostrarTexto" (click)="this.mostrarTexto = !this.mostrarTexto">
                                    {{'pos.login.ver' | translate }}</p>
                                <p *ngIf="mostrarTexto" (click)="this.mostrarTexto = !this.mostrarTexto">
                                    {{'pos.login.ocultar' | translate }}</p> -->
                            </div>
                            <!-- Recordar Datos -->
                            <div class="single-bottom">
                                <input type="checkbox" id="brand" value="" (click)="rememberMe()" checked
                                    *ngIf="saveMyData">
                                <input type="checkbox" id="brand" value="" (click)="rememberMe()" *ngIf="!saveMyData">
                                <label for="brand"><span></span>{{ 'pos.login.recordar' | translate }}</label>
                            </div>
                            <!-- Ingresar, iniciar sesion -->
                            <!-- <div class="sign-in">
                                <input type="submit" value="{{ 'pos.login.iniciar' | translate }}">
                            </div> -->

                            <button class="iniciar" type="submit">
                                {{ 'pos.login.iniciar' | translate }}
                            </button>

                            <div class="version">
                                <p class="num-version">{{'pos.home.versionActual' | translate}}: </p>
                                <p class="num-version">{{dataUserService.version}}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>