<app-error *ngIf="verError" [regresar]="regresar"></app-error>
<div *ngIf="!verError">
    <app-progress *ngIf="isLoading" class="progress"></app-progress>
    <app-detalle-documento *ngIf="!isLoading && !historial && detalleDocumento"
        [estructura]="estructura"></app-detalle-documento>
    <div *ngIf="!isLoading && historial">
        <mat-toolbar-row class="head__sidenav">
            <button mat-icon-button aria-label matTooltip="{{'pos.toolTip.regresarAnterior' | translate}}"
                (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.actualizar' | translate }}"
                (click)="loadData()">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button aria-label (click)="showError()">
                <mat-icon>error</mat-icon>
            </button>
            <span class="spacer"></span>
            <!-- Titulo de la tarea -->
            <p class="titulo">Documentos sin confirmar</p>
            <span class="spacer"></span>

        </mat-toolbar-row>
        <div class="container-main">
            <div class="container">
                <div class="detalles-registros">
                    <div class="registros">
                        <p> {{fechaActual}} </p>
                        <span class="spacer"></span>
                        <p class="subtitulo">{{ 'pos.factura.registros' | translate }} ({{documentos.length}})</p>
                    </div>
                    <div class="eliminar" *ngIf="documentos.length > 0">
                        <div class="dFlex">
                            <mat-checkbox class="example-margin" color="primary"
                                [(ngModel)]="facturaService.selectAllDoc"
                                (ngModelChange)="seleccionar()"></mat-checkbox>
                            <p class="titulo">Documentos</p>
                            <span class="spacer"></span>
                            <button mat-icon-button (click)="eliminarProducto()">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div *ngFor="let doc of documentos">
                        <div class="detalle-documento">
                            <mat-checkbox class="example-margin" color="primary" [(ngModel)]="doc.isChecked">
                            </mat-checkbox>
                            <div class="documentos-totales" (click)="verDetalle(); docSelect = doc">
                                <div class="info-documento">
                                    <p class="subtitulo"> Id Documento Ref: {{doc.idDocRef}} </p>
                                    <p class="subtitulo">
                                        {{ 'pos.factura.consecutivo' | translate }}: {{doc.ConsecutivoInterno}}
                                    </p>
                                    <p class="fecha-hora">{{doc.fecha | date: 'dd/MM/yyyy HH:mm'}} </p>
                                    <p> {{tiempoRestanteParaIgualdad(doc.fecha)}}</p>
                                </div>
                                <span class="spacer"></span>
                                <div class="totales">
                                    <p class="saldo">{{doc.subtotal | currency:' ':'symbol':'2.2-2' }} </p>
                                    <p class="cargo">(+) {{doc.cargo | currency:' ':'symbol':'2.2-2' }} </p>
                                    <p class="descuento">(-) {{doc.descuento | currency:' ':'symbol':'2.2-2' }}
                                    </p>
                                    <p class="total">{{doc.total | currency:' ':'symbol':'2.2-2' }} </p>
                                </div>
                            </div>
                            <button mat-icon-button aria-label matTooltip="recuperar" (click)="loadData()">
                                <mat-icon>restore_page</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mostrar logos -->
        <!-- <app-barra-logos></app-barra-logos> -->
        <app-barra-logo-demosoft></app-barra-logo-demosoft>
    </div>
</div>