<app-error [regresar]="regresar" *ngIf="restaurantService.verError"></app-error>

<div *ngIf="!restaurantService.verError">
    <app-progress *ngIf="restaurantService.isLoading" class="progress"></app-progress>

    <div [hidden]="restaurantService.isLoading">
        <div *ngIf="restaurantService.viewLocations">
            <mat-sidenav-container class="sidenav_container" (backdropClick)="close('backdrop')"
                *ngIf="!restaurantService.verError">

                <mat-sidenav position="end" #sidenavend (keydown.escape)="close('escape')" disableClose>
                    <mat-toolbar class="barra-cerrar-titulo">
                        <button mat-icon-button (click)="close('toggle button')"
                            [matTooltip]="'pos.botones.cerrar' | translate">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-toolbar>
                    <!-- Contenido del sidenav -->
                    <div class="contenido-sidenav">
                        <div class="espacio-inicial">
                            <span class="spacer"></span>
                            <div class="circular-inicial-grande">
                                <p class="inicial-usuario-grande">{{user[0]}}</p>
                            </div>
                            <span class="spacer"></span>
                        </div>
                        <div class="espacio-inicial">
                            <span class="spacer"></span>
                            <p class="userName">{{user.toUpperCase()}}</p>
                            <span class="spacer"></span>
                        </div>
                        <div class="borde-detalles"></div>
                        <div class="detalles-usuario">
                            <mat-icon class="iconos-detalles">business</mat-icon>
                            <span class="spacer"></span>
                            <div class="detalle">
                                <p class="subtitulo">{{'pos.home.empresa' | translate}}</p>
                                <p class="descripcion"> {{empresa.empresa_Nombre | titlecase}} ({{empresa.empresa}})
                                </p>
                            </div>
                        </div>
                        <div class="detalles-usuario">
                            <mat-icon class="iconos-detalles">business</mat-icon>
                            <span class="spacer"></span>
                            <div class="detalle">
                                <p class="subtitulo">{{'pos.home.estacion' | translate}}</p>
                                <p class="descripcion"> {{estacion.nombre | titlecase}} ({{estacion.estacion_Trabajo}})
                                </p>
                            </div>
                        </div>
                        <div class="detalles-usuario">
                            <mat-icon class="iconos-detalles">currency_exchange</mat-icon>
                            <span class="spacer"></span>
                            <div class="detalle">
                                <p class="subtitulo">{{'pos.home.tipoCambio' | translate}}</p>
                                <p class="descripcion"> {{tipoCambio | currency:' ':'symbol':'2.2-2'}} </p>
                            </div>
                        </div>
                        <div class="detalles-usuario" *ngIf="restaurantService.documentoName">
                            <mat-icon class="iconos-detalles">description</mat-icon>
                            <span class="spacer"></span>
                            <div class="detalle">
                                <p class="subtitulo">{{'pos.home.tipoDocumento' | translate}}</p>
                                <p class="descripcion"> {{nombreDocumento | titlecase}} ({{tipoDocumento}}) </p>
                            </div>
                        </div>
                        <div class="detalles-usuario" *ngIf="restaurantService.serie">
                            <mat-icon class="iconos-detalles">description</mat-icon>
                            <span class="spacer"></span>
                            <div class="detalle">
                                <p class="subtitulo">{{'pos.home.serieDocumento' | translate}}</p>
                                <p class="descripcion"> {{restaurantService.serie.descripcion}}
                                    ({{restaurantService.serie.serie_Documento}}) </p>
                            </div>
                        </div>
                    </div>
                </mat-sidenav>
                <mat-sidenav-content>

                    <!-- Barras para titulos y boton de cerrar sidenav -->
                    <mat-toolbar class="toolbarPhone">
                        <mat-toolbar-row>
                            <div class="barras">
                                <button mat-icon-button matTooltip="{{ 'pos.botones.inicio' | translate }}"
                                    (click)="backHome()">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>
                                <button mat-icon-button aria-label
                                    matTooltip="{{ 'pos.botones.actualizar' | translate }}" (click)="refresh()">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                                <span class="spacer"></span>
                                <p class="titulo">{{dataUserService.nameDisplay }} </p>
                                <!-- TODO: traducir -->
                                <p class="titulo" style="margin-left: 5px;">Restaurante</p>
                                <span class="spacer"></span>
                                <div class="circulo-inicial" (click)="sidenavend.open()">
                                    <p class="inicial-usuario">{{user[0]}}</p>
                                </div>
                            </div>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-toolbar class="toolbarPhone">
                        <mat-toolbar-row>
                            <div class="barras">
                                <span class="spacer"></span>
                                <button mat-icon-button aria-label
                                    matTooltip="{{ 'pos.botones.guardarCambios' | translate }}" (click)="sendDoc()">
                                    <mat-icon>save</mat-icon>
                                </button>
                                <ng-container>
                                    <button mat-icon-button aria-label
                                        matTooltip="{{ 'pos.factura.docRecientes' | translate }}"
                                        (click)="verHistorial()">
                                        <mat-icon>schedule</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label
                                        matTooltip="{{ 'pos.botones.nuevoDoc' | translate }}" (click)="newDoc()">
                                        <mat-icon>note_add</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label
                                        matTooltip="{{ 'pos.botones.imprimir' | translate }}" (click)="printDoc()">
                                        <mat-icon>print</mat-icon>
                                    </button>
                                </ng-container>
                            </div>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-toolbar class="toolbar-large">
                        <button mat-icon-button matTooltip="{{ 'pos.botones.inicio' | translate }}"
                            (click)="backHome()">
                            <mat-icon>arrow_back</mat-icon>
                        </button>
                        <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.actualizar' | translate }}"
                            (click)="refresh()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <span class="spacer"></span>
                        <!-- Titulo de la tarea -->
                        <p class="titulo">{{dataUserService.nameDisplay }}</p>

                        <span class="spacer"></span>

                        <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.guardarCambios' | translate }}"
                            (click)="sendDoc()">
                            <mat-icon>save</mat-icon>
                        </button>

                        <ng-container>
                            <button mat-icon-button aria-label matTooltip="{{ 'pos.factura.docRecientes' | translate }}"
                                (click)="verHistorial()">
                                <mat-icon>schedule</mat-icon>
                            </button>
                            <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.nuevoDoc' | translate }}"
                                (click)="newDoc()">
                                <mat-icon>note_add</mat-icon>
                            </button>
                            <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.imprimir' | translate }}"
                                (click)="printDoc()">
                                <mat-icon>print</mat-icon>
                            </button>
                        </ng-container>
                        <div class="circulo-inicial" (click)="sidenavend.open()">
                            <p class="inicial-usuario">{{user[0]}}</p>
                        </div>
                    </mat-toolbar>

                    <!-- Contenido del componente -->
                    <div class="container_main">
                        <div>
                            <div class="container-main">
                                <!--Tabs-->
                                <input class="titulo-pestana" id="tab1" type="radio" name="tabs"
                                    [checked]="restaurantService.tabAccesos">
                                <div class="pestana" for="tab1" matTooltip="Restaurante"
                                    (click)="restaurantService.showRestaurant()">
                                    <span class="material-icons ico-pestana">restaurant</span>
                                    Restaurante
                                </div>

                                <input class="titulo-pestana" id="tab2" type="radio" name="tabs"
                                    [checked]=" restaurantService.tabMesasAbiertas">
                                <div class="pestana" for="tab2" matTooltip="Mesas Abiertas"
                                    (click)="restaurantService.mesasAbiertas()">
                                    <span class="material-icons ico-pestana">table_bar</span>
                                    Mesas Abiertas
                                </div>

                                <!--Fin Tabs-->

                                <!--Content Tabs-->
                                <section id="content1" class="content1 contenido-seleccionado">
                                    <div class="contenido-ubicaciones-mesas">

                                        <div class="ubicaciones">
                                            <p class="textBold">{{ 'pos.factura.series' | translate }}</p>
                                            <div class="informacion-fondo">
                                                <mat-select name="estado" class="seleccionar"
                                                    placeholder="{{ 'pos.factura.seleccionarSerie' | translate }}"
                                                    [(ngModel)]="restaurantService.serie"
                                                    (ngModelChange)="changeSerie()">
                                                    <mat-option *ngFor="let serie of series" [value]="serie">
                                                        {{serie.descripcion}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                        </div>

                                        <div class="ubicacion-mesa">

                                            <div class="ubicaciones">

                                                <div class="cantidad-registros">
                                                    <p class="titulo">UBICACIONES</p>
                                                    <span class="spacer"></span>
                                                    <p class="textBold">
                                                        {{ 'pos.factura.registros' | translate }}
                                                        ({{restaurantService.locations.length }})
                                                    </p>
                                                </div>

                                                <div class="ubicacion"
                                                    *ngFor="let location of restaurantService.locations"
                                                    [ngClass]="{'ubicacionMesaSelect': restaurantService.location && 
                                                    restaurantService.location.elemento_Asignado === location.elemento_Asignado}" (click)="selectLocation(location)">
                                                    <mat-icon>location_on</mat-icon>
                                                    <span class="spacer"></span>
                                                    <div class="descripciones">
                                                        <p class="textBold">{{location.descripcion}}</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <span class="spacer"></span>
                                            <div class="mesas" *ngIf="restaurantService.tables.length > 0">
                                                <div class="cantidad-registros">
                                                    <p class="titulo">MESAS</p>
                                                    <span class="spacer"></span>
                                                    <p class="textBold">
                                                        {{ 'pos.factura.registros' | translate }}
                                                        ({{restaurantService.tables.length }})
                                                    </p>
                                                </div>

                                                <div class="mesasx2">
                                                    <div class="mesa" *ngFor="let table of restaurantService.tables"
                                                        (click)="selectTable(table)"
                                                        [ngClass]="{'ubicacionMesaSelect': restaurantService.table && restaurantService.table.elemento_Asignado === table.elemento_Asignado}">
                                                        <mat-icon>table_bar</mat-icon>
                                                        <span class="spacer"></span>
                                                        <div class="descripciones">
                                                            <p class="textBold"> {{table.descripcion}}</p>

                                                            <P class="text12">CUENTAS {{table.orders.length}}</P>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <!-- MESAS ABIERTAS -->
                                <section id="content2" class="content2 contenido-seleccionado">
                                    <div class="contenido-ubicaciones-mesas">
                                        <div class="tablaDocumentos">
                                            <div class="tabla-titulos">
                                                <div class="bloqueW10T">
                                                    <p class="tituloTab">ID DOC</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="tituloTab">SERIE</p>
                                                </div>
                                                <div class="bloqueW20T">
                                                    <p class="tituloTab">FECHA HORA</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="tituloTab mostrarTxt">UBICACION</p>
                                                    <p class="tituloTab ocultarTxt">UBI</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="tituloTab">MESA</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="tituloTab">MESERO</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="tituloTab">CUENTA</p>
                                                </div>
                                                <div class="bloqueW20T">
                                                    <p class="tituloTab">TOTAL</p>
                                                </div>
                                            </div>
                                            <div class="tabla-lista">
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">1</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">LA CARRETA</p>
                                                </div>
                                                <div class="bloqueW20T">
                                                    <p class="textCenter12">02/10/2024 10:35 am</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">SALON 1</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">1</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">MESERO 1</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">PANFILO CHAVEZ</p>
                                                </div>
                                                <div class="bloqueW20T">
                                                    <p class="textCenter12">Q 150.00</p>
                                                </div>
                                            </div>
                                            <div class="tabla-lista">
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">2</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">LA CARRETA</p>
                                                </div>
                                                <div class="bloqueW20T">
                                                    <p class="textCenter12">02/10/2024 2:00 pm</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">SALON 1</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">5</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">MESERO 3</p>
                                                </div>
                                                <div class="bloqueW10T">
                                                    <p class="textCenter12">TIOFILO </p>
                                                </div>
                                                <div class="bloqueW20T">
                                                    <p class="textCenter12">Q 50.00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>



                                <!--Fin Content Tabs-->
                            </div>
                            <!-- Mostrar logos -->
                            <app-barra-logos></app-barra-logos>
                        </div>
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>

        <div *ngIf="restaurantService.viewRestaurant">
            <mat-sidenav-container class="sidenav_container" (backdropClick)="close('backdrop')"
                *ngIf="!restaurantService.verError">

                <mat-sidenav position="end" #sidenavend (keydown.escape)="close('escape')" disableClose>
                    <mat-toolbar class="barra-cerrar-titulo">
                        <button mat-icon-button (click)="close('toggle button')"
                            [matTooltip]="'pos.botones.cerrar' | translate">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-toolbar>
                    <!-- Contenido del sidenav -->
                    <div class="contenido-sidenav">
                        <div class="espacio-inicial">
                            <span class="spacer"></span>
                            <div class="circular-inicial-grande">
                                <p class="inicial-usuario-grande">{{user[0]}}</p>
                            </div>
                            <span class="spacer"></span>
                        </div>
                        <div class="espacio-inicial">
                            <span class="spacer"></span>
                            <p class="userName">{{user.toUpperCase()}}</p>
                            <span class="spacer"></span>
                        </div>
                        <div class="borde-detalles"></div>
                        <div class="detalles-usuario">
                            <mat-icon class="iconos-detalles">business</mat-icon>
                            <span class="spacer"></span>
                            <div class="detalle">
                                <p class="subtitulo">{{'pos.home.empresa' | translate}}</p>
                                <p class="descripcion"> {{empresa.empresa_Nombre | titlecase}} ({{empresa.empresa}})
                                </p>
                            </div>
                        </div>
                        <div class="detalles-usuario">
                            <mat-icon class="iconos-detalles">business</mat-icon>
                            <span class="spacer"></span>
                            <div class="detalle">
                                <p class="subtitulo">{{'pos.home.estacion' | translate}}</p>
                                <p class="descripcion"> {{estacion.nombre | titlecase}} ({{estacion.estacion_Trabajo}})
                                </p>
                            </div>
                        </div>
                        <div class="detalles-usuario">
                            <mat-icon class="iconos-detalles">currency_exchange</mat-icon>
                            <span class="spacer"></span>
                            <div class="detalle">
                                <p class="subtitulo">{{'pos.home.tipoCambio' | translate}}</p>
                                <p class="descripcion"> {{tipoCambio | currency:' ':'symbol':'2.2-2'}} </p>
                            </div>
                        </div>
                        <div class="detalles-usuario" *ngIf="restaurantService.documentoName">
                            <mat-icon class="iconos-detalles">description</mat-icon>
                            <span class="spacer"></span>
                            <div class="detalle">
                                <p class="subtitulo">{{'pos.home.tipoDocumento' | translate}}</p>
                                <p class="descripcion"> {{nombreDocumento | titlecase}} ({{tipoDocumento}}) </p>
                            </div>
                        </div>
                        <div class="detalles-usuario" *ngIf="restaurantService.serie">
                            <mat-icon class="iconos-detalles">description</mat-icon>
                            <span class="spacer"></span>
                            <div class="detalle">
                                <p class="subtitulo">{{'pos.home.serieDocumento' | translate}}</p>
                                <p class="descripcion"> {{restaurantService.serie.descripcion}}
                                    ({{restaurantService.serie.serie_Documento}}) </p>
                            </div>
                        </div>
                    </div>
                </mat-sidenav>
                <mat-sidenav-content>

                    <!-- Barras para titulos y boton de cerrar sidenav -->
                    <mat-toolbar class="toolbarPhone">
                        <mat-toolbar-row>
                            <div class="barras">
                                <!-- Regresa a clasificaciones -->
                                <button *ngIf="restaurantService.idPantalla == 1" mat-icon-button
                                    matTooltip="{{ 'pos.botones.inicio' | translate }}" (click)="goBack()">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>

                                <button *ngIf="restaurantService.idPantalla == 2" mat-icon-button
                                    matTooltip="{{ 'pos.botones.inicio' | translate }}" (click)="backClassifications()">
                                    <mat-icon>arrow_back</mat-icon>
                                </button>

                                <button mat-icon-button aria-label
                                    matTooltip="{{ 'pos.botones.actualizar' | translate }}" (click)="refresh()">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                                <span class="spacer"></span>
                                <p class="titulo">{{dataUserService.nameDisplay }} </p>
                                <!-- TODO: traducir -->
                                <p class="titulo" style="margin-left: 5px;">Restaurante</p>
                                <span class="spacer"></span>
                                <div class="circulo-inicial" (click)="sidenavend.open()">
                                    <p class="inicial-usuario">{{user[0]}}</p>
                                </div>
                            </div>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-toolbar class="toolbarPhone">
                        <mat-toolbar-row>
                            <div class="barras">
                                <span class="spacer"></span>
                                <button mat-icon-button aria-label
                                    matTooltip="{{ 'pos.botones.guardarCambios' | translate }}" (click)="sendDoc()">
                                    <mat-icon>save</mat-icon>
                                </button>
                                <ng-container>
                                    <button mat-icon-button aria-label
                                        matTooltip="{{ 'pos.factura.docRecientes' | translate }}"
                                        (click)="verHistorial()">
                                        <mat-icon>schedule</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label
                                        matTooltip="{{ 'pos.botones.nuevoDoc' | translate }}" (click)="newDoc()">
                                        <mat-icon>note_add</mat-icon>
                                    </button>
                                    <button mat-icon-button aria-label
                                        matTooltip="{{ 'pos.botones.imprimir' | translate }}" (click)="printDoc()">
                                        <mat-icon>print</mat-icon>
                                    </button>
                                </ng-container>
                            </div>
                        </mat-toolbar-row>
                    </mat-toolbar>
                    <mat-toolbar class="toolbar-large">
                        <!-- Regresa a clasificaciones -->
                        <button *ngIf="restaurantService.idPantalla == 1" mat-icon-button
                            matTooltip="{{ 'pos.botones.inicio' | translate }}" (click)="goBack()">
                            <mat-icon>arrow_back</mat-icon>
                        </button>

                        <button *ngIf="restaurantService.idPantalla == 2" mat-icon-button
                            matTooltip="{{ 'pos.botones.inicio' | translate }}" (click)="backClassifications()">
                            <mat-icon>arrow_back</mat-icon>
                        </button>

                        <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.actualizar' | translate }}"
                            (click)="refresh()">
                            <mat-icon>refresh</mat-icon>
                        </button>
                        <span class="spacer"></span>
                        <!-- Titulo de la tarea -->
                        <p class="titulo">{{dataUserService.nameDisplay }}</p>

                        <span class="spacer"></span>

                        <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.guardarCambios' | translate }}"
                            (click)="sendDoc()">
                            <mat-icon>save</mat-icon>
                        </button>

                        <ng-container>
                            <button mat-icon-button aria-label matTooltip="{{ 'pos.factura.docRecientes' | translate }}"
                                (click)="verHistorial()">
                                <mat-icon>schedule</mat-icon>
                            </button>
                            <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.nuevoDoc' | translate }}"
                                (click)="newDoc()">
                                <mat-icon>note_add</mat-icon>
                            </button>
                            <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.imprimir' | translate }}"
                                (click)="printDoc()">
                                <mat-icon>print</mat-icon>
                            </button>
                        </ng-container>
                        <div class="circulo-inicial" (click)="sidenavend.open()">
                            <p class="inicial-usuario">{{user[0]}}</p>
                        </div>
                    </mat-toolbar>

                    <!-- Contenido del componente -->
                    <div class="container_main">
                        <div>
                            <mat-toolbar class="toolbarNavegacion">
                                <div class="dFlex">
                                    <p class="text12" (click)="goBack()"> {{restaurantService.location?.descripcion}}
                                    </p>
                                    <p> / </p>
                                    <p class="text12" (click)="goBack()"> {{restaurantService.table?.descripcion}}</p>
                                    <p> / </p>
                                    <!-- TODO: transale -->
                                    <p class="text12" [ngClass]="{ 'prefBold12': !restaurantService.classification, }"
                                        (click)="backClassifications()"> Clasificaciones
                                    </p>
                                    <p *ngIf="restaurantService.classification"> / </p>
                                    <p class="text12" [ngClass]="{ 'prefBold12': restaurantService.classification, }">
                                        {{restaurantService.classification?.des_Clasificacion}}</p>
                                </div>
                            </mat-toolbar>



                            <app-classifications *ngIf="restaurantService.idPantalla == 1">
                            </app-classifications>

                            <app-products *ngIf="restaurantService.idPantalla == 2"></app-products>
                            <!-- Mostrar logos -->
                            <app-barra-logos></app-barra-logos>
                        </div>
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>

    </div>
</div>