$background-oficial : #FEF5E7; //fondo Demosoft, bordes scroollbar
$scrollbar          : var(--global-color); //barra azul
$color-bordes       : #CED4DA; //bordes del calendario
$preferencia        : var(--global-color); //bordes y texto azul
$color-negro        : #000;
$placeholder        : rgba(0, 0, 0, 0.30);
$rojo-info          : #cc4141;
$sombra             : rgba(0, 0, 0, 0.1);

// input::placeholder,
// textarea::placeholder {
//     color: $placeholder !important;
// }

.progress {
    padding         : 0px;
    width           : 680px;
    height          : 430px;
    background-color: $background-oficial;
}

.dialog {
    padding         : 0px;
    width           : 700px;
    height          : 430px;
    background-color: $background-oficial;
    overflow        : hidden;
}

.spacer {
    flex: 1 1 auto;
}

.contenedor {
    padding   : 10px 20px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height    : calc(100% - 50px);
}

.contenedor::-webkit-scrollbar {
    width: 7px;
}

.contenedor::-webkit-scrollbar-track {
    background: $background-oficial;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
    border-radius   : 20px;
    border          : 3px $background-oficial;
}

.spacer {
    flex: 1 1 auto;
}

.close {
    width      : 40px;
    color      : #aaa;
    float      : left !important;
    font-size  : 28px;
    font-weight: bold;
    cursor     : pointer;
    text-align : center;
}

.close:hover,
.close:focus {
    color          : black;
    text-decoration: none;
    cursor         : pointer;
}

hr {
    margin    : 0.5rem 0;
    color     : inherit;
    border    : 0;
    border-top: 1px solid;
    opacity   : .25;
}

.verDetalle {
    font-weight: 500;
    text-align : center;
}


.fondo {
    background-color: $background-oficial;
}

.nombre {
    min-width: 40%;
    font-size: 12px;
}

.buscar {
    min-width: 110px;
    font-size: 12px;
}

.email {
    font-size: 12px;
    word-wrap: break-word;
}

.detalleUsuario {
    display      : flex;
    text-align   : left !important;
    font-size    : 14px;
    width        : 100%;
    align-items  : center;
    border-bottom: 1px solid $color-bordes;
}

.detalleInvitado {
    display         : flex;
    text-align      : left !important;
    font-size       : 14px;
    width           : 100%;
    align-items     : center;
    border-bottom   : 1px solid $color-bordes;
    display         : flex;
    background-color: $sombra;
    margin          : 10px 0px;
}

.titulos {
    font-weight  : 550 !important;
    padding-right: 5px;
}

.busqueda {
    text-align : left !important;
    font-size  : 14px;
    width      : 100%;
    font-weight: 450;
    align-items: center;
}

p {
    margin: 0px;
    color : $color-negro;
}

.seleccionar {
    width           : 100%;
    cursor          : pointer;
    min-height      : 30px;
    padding         : 5px 10px;
    background-color: $sombra;
    margin          : 5px 0px;
}

.seleccionar-invitados {
    width     : calc(100% - 50px);
    cursor    : pointer;
    min-height: 30px;
    padding   : 5px 0px;
}

.seleccionar:hover,
.detalleInvitado:hover {
    background-color: #ebebeb;
}

.detalle:hover {
    background-color: #ebebeb;
}

.botones {
    padding: 0px;
    display: flex;
    width  : 100%;
    height : 40px;
}

.inputSearch {
    width           : 100%;
    border-style    : none;
    background-color: transparent;
    outline         : none;
    color           : $preferencia;
}

@media screen and (max-width: 280px) {

    .verDetalle {
        font-size: 14px !important;
        padding  : 5px !important;
    }

    .close {
        font-size  : 22px !important;
        align-items: center !important;
        height     : 30px !important;
    }

    hr {
        margin: 0.3rem 0;
    }

    .progress {
        padding: 0px !important;
        width  : 200px !important;
    }

    .dialog {
        padding: 10px 20px;
        width  : 200px !important;
    }

    .seleccionar {
        height     : auto !important;
        padding    : 3px 0px !important;
        align-items: center !important;
        width      : 130px !important;
    }

    .detalle {
        padding: 0px !important;
    }

    .email {
        font-size    : 11px !important;
        word-wrap    : break-word !important;
        padding-right: 8px !important;
    }

    .nombre {
        font-size: 11px !important;
        width    : 100% !important;
        word-wrap: break-word !important;
    }

    .contenedor {
        padding-left: 5px !important;
        width       : 190px !important;
    }

}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

@media screen and (max-width: 767px) {

    .dialog,
    .progress {
        width: 400px !important;
    }

    .seleccionar {
        min-height: 30px !important;
        display   : block !important;
    }
}

.dFlex {
    display    : flex;
    align-items: center;
}

.buscar-icono {
    display      : flex;
    align-items  : center;
    border-bottom: solid 1px $preferencia;
}

.icono-lupa {
    color: $preferencia;
}

.barra-fija {
    display      : flex;
    align-items  : center;
    height       : 55px;
    border-bottom: solid 1px $color-bordes;
}

.barra-abajo-fija {
    display    : flex;
    align-items: center;
    height     : 50px;
}

.encontrados {
    margin-top: 10px;
}

.info {
    font-size  : 12px !important;
    color      : $rojo-info;
    display    : flex;
    align-items: center;
    padding-top: 10px;
    text-align : right;
}

.marginRihgt {
    margin-right: 5px;
}