<!-- Pantalla de no encontrado -->
<mat-toolbar-row class="head__sidenav">
    <button (click)="goBack()" mat-icon-button aria-label class="btn"
        matTooltip="{{'pos.toolTip.regresarAnterior' | translate}}">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <p class="titulo">{{dataUserService.nameDisplay}}</p>
    <span class="spacer"></span>
</mat-toolbar-row>
<!-- Mostrar logos -->
<app-barra-logos></app-barra-logos>
<div class="container-main">
    <div class="row">
        <div class="centrar">
            <div id="notfound">
                <div class="notfound">
                    <!-- Mensaje de no encontrado -->
                    <div class="notfound-404">
                        <h1>{{ 'pos.progress.error' | translate }}</h1>
                    </div>
                    <h2>{{ 'pos.progress.construccion' | translate }}</h2>
                    <p>{{ 'pos.progress.linea2' | translate }}</p>

                    <a class="regresar" (click)="goBack()">{{ 'pos.configuracionLocal.inicio' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</div>