<div class="contenido">

    <p class="textBold">Nombre del producto</p>
    <p class="text12">SKU del producto</p>

    <div class="widht40">
        <p class="textBold">{{ 'pos.factura.bodega' | translate }}</p>
        <div class="informacion-fondo">
            <mat-select name="estado" class="seleccionar" placeholder="{{ 'pos.factura.seleccionarBodega' | translate }}"
                [(ngModel)]="restaurantService.serie" (ngModelChange)="changeSerie()">
                <mat-option *ngFor="let serie of series" [value]="serie">
                    {{serie.descripcion}}
                </mat-option>
            </mat-select>
        </div>
    </div>

    <div class="widht40">
        <p class="textBold">{{ 'pos.factura.tipo_precio' | translate }}</p>
        <div class="informacion-fondo">
            <mat-select name="estado" class="seleccionar" placeholder="{{ 'pos.factura.seleccionarTipoPrecio' | translate }}"
                [(ngModel)]="restaurantService.serie" (ngModelChange)="changeSerie()">
                <mat-option *ngFor="let serie of series" [value]="serie">
                    {{serie.descripcion}}
                </mat-option>
            </mat-select>
        </div>
    </div>

    <div class="clasificacionesx3">
        <div class="product-me">
            <img src="assets/placeimg.jpg" class="image-product">
            <!-- <img src="assets/placeimg.jpg" *ngIf="!producto.url_Img" class="image-product"> -->
            <!-- <img src="{{producto.url_Img}}" *ngIf="producto.url_Img" class="image-product"> -->
            <div class="nombre_producto">
                <p>XS</p>
            </div>
        </div>
    </div>
</div>