$bordes : var(--bordes-claro); //bordes menu
$fondo  : var(--fondo-claro); //fondo Demosoft
$scroll : var(--global-color); //barra azul

.container-main::-webkit-scrollbar {
    width: 7px;
}

.container-main::-webkit-scrollbar-track {
    background: $fondo;
}

.container-main::-webkit-scrollbar-thumb {
    background-color: $scroll;
    border-radius   : 20px;
    border          : 3px $fondo;
}

.container-main {
    height    : calc(100vh - 128px) !important;
    width     : 100%;
    padding   : 0px;
    overflow-y: auto;
}

.progress {
    padding         : 10px 20px;
    width           : 100%;
    height          : 100vh; //importante para que este centrado
    background-color: $fondo;
}

.head__sidenav {
    width           : 100%;
    height          : 64px !important;
    display         : flex;
    align-items     : center;
    background-color: $fondo;
    padding         : 0px 15px;
    border-bottom   : 1px solid $bordes;
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

hr {
    margin    : 0.5rem 0;
    color     : inherit;
    border    : 0;
    border-top: 1px solid;
    opacity   : .25;
}

.dFlex {
    display    : flex;
    align-items: center;
}

.dispflex {
    display: flex;
}

.detalle-resumen {
    padding   : 0px 25px 10px;
    // height : calc(100vh - 128px);
    width     : 50%;
}

.informacion,
.detalles-lista {
    padding: 10px 0px 5px;
}

.titulo {
    font-size  : 14px;
    text-align : center;
    font-weight: 500;
}

.subtitulo {
    font-size  : 14px;
    font-weight: 500;
}

.subtitulo-borde {
    font-size    : 14px;
    font-weight  : 500;
    border-bottom: 1px solid $bordes;
}

.textos {
    font-size: 13px;
}

.textos-total {
    font-size  : 13px;
    font-weight: bold;
}

.descripcion-pago,
.descripcion-producto {
    padding      : 0px 10px 5px;
    border       : 1px solid $bordes;
    border-radius: 5px;
    margin-top   : 5px;
}

.descripcion-total {
    padding      : 0px 10px 5px;
    border       : 1px solid $bordes;
    border-radius: 5px;
}

.observacion {
    padding      : 5px 10px;
    border       : 1px solid $bordes;
    border-radius: 5px;
    background   : transparent;
    width        : 100%;
    outline      : none;
    font-size    : 13px;
    min-height   : 60px;
    max-height   : 100px;
}

.descripciones {
    padding   : 0px 10px;
    margin-top: 5px;
}

@media screen and (max-width: 767px) {

    .dispflex {
        display: block !important;
    }

    .detalle-resumen {
        width  : 100% !important;
        padding: 10px 5px !important;
    }

    .fechas {
        width  : 100% !important;
        display: block !important;
    }

    .fechaER {
        width: 100% !important;
    }
}

.fechas {
    display       : flex;
    align-items   : center;
    padding-bottom: 10px;
}

.fechaER {
    width: 45%;
}