<mat-toolbar-row class="head__sidenav">
    <button mat-icon-button aria-label matTooltip="regresar" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <!-- Titulo de la tarea -->
    <p class="titulo">Resumen Documento</p>
    <span class="spacer"></span>

</mat-toolbar-row>
<div class="container-main">
    <div class="container">
        <div class="d-flex">
            <div class="detalle-resumen">
                <div class="informacion">
                    <p class="subtitulo-borde ">Cliente</p>
                    <div class="descripciones">
                        <p class="textos">Nit: 12345678-9</p>
                        <p class="textos">Nombre: Cliente 1</p>
                        <p class="textos">Direccion: Tecpan</p>
                    </div>
                </div>
                <div class="informacion">
                    <p class="subtitulo-borde ">Vendedor</p>
                    <div class="descripciones">
                        <p class="textos">DEMOSOFT</p>
                    </div>
                </div>
                <div class="detalles-lista">
                    <p class="subtitulo">Productos</p>
                    <div class="descripcion-producto" *ngFor="let compra of compras">
                        <p class="textos">{{compra.cantidad}} x {{compra.producto.nombre}}</p>
                        <p class="textos">SKU: {{compra.producto.sku}}</p>
                        <p class="textos">Precio unitario: {{compra.precioUnitario}}</p>
                        <p class="textos">Total: {{compra.total}} </p>
                    </div>
                </div>
                <div class="detalles-lista">
                    <p class="subtitulo">Formas de pago</p>
                    <div class="descripcion-pago" *ngFor="let pago of pagos">
                        <p class="textos">{{pago.nombre}}</p>
                        <p class="textos">Monto: Q {{pago.monto}}</p>
                        <p class="textos" *ngIf="pago.autorizacion">Autorizacion: {{pago.autorizacion}}</p>
                        <p class="textos" *ngIf="pago.referencia">Referencia: {{pago.referencia}}</p>
                        <p class="textos" *ngIf="pago.banco">Banco: {{pago.banco}}</p>
                    </div>
                </div>

                <hr>

                <div class="informacion">
                    <div class="descripcion-total">
                        <div class="dFlex">
                            <p class="subtitulo">Subtal</p>
                            <span class="spacer"></span>
                            <p class="textos"> 145.00 </p>
                        </div>
                        <div class="dFlex">
                            <p class="subtitulo">(+) Cargos</p>
                            <span class="spacer"></span>
                            <p class="textos"> 0.00 </p>
                        </div>
                        <div class="dFlex">
                            <p class="subtitulo">(-) Descuentos</p>
                            <span class="spacer"></span>
                            <p class="textos"> 0.00 </p>
                        </div>
                        <div class="dFlex">
                            <p class="subtitulo">Saldo</p>
                            <span class="spacer"></span>
                            <p class="textos"> 0.00 </p>
                        </div>
                        <hr>
                        <div class="dFlex">
                            <p class="subtitulo">Total:</p>
                            <span class="spacer"></span>
                            <p class="textos"> 145.00 </p>
                        </div>
                    </div>
                </div>

                <div class="informacion">
                    <div class="descripcion-total">
                        <div class="dFlex">
                            <p class="subtitulo">Contado</p>
                            <span class="spacer"></span>
                            <p class="textos"> 165.00 </p>
                        </div>
                        <div class="dFlex">
                            <p class="subtitulo">Cambio</p>
                            <span class="spacer"></span>
                            <p class="textos"> 0.00 </p>
                        </div>
                    </div>
                </div>
            </div>
            <span class="spacer"></span>
            <div class="detalle-resumen">
                <div class="informacion">
                    <textarea class="observacion" placeholder="Observacion"></textarea>
                </div>

                <div class="dFlex">
                    <button mat-stroked-button>Cancelar</button>
                    <span class="spacer"></span>
                    <button mat-stroked-button>Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mostrar logos -->
<!-- <app-barra-logos></app-barra-logos> -->
<app-barra-logo-demosoft></app-barra-logo-demosoft>