<app-error *ngIf="verError" [regresar]="regresar"></app-error>
<app-printer-configuration *ngIf="!verError && verVistaPrevia" [volver]="volver" [pantalla]="1"
    [document]="docPrint"></app-printer-configuration>
<div *ngIf="!verError && !verVistaPrevia">
    <!-- <app-progress *ngIf="isLoading" class="progress"></app-progress> -->
    <app-progress *ngIf="isLoading && !facturaService.isStepLoading " class="progress"></app-progress>
    <app-pasos *ngIf="facturaService.isStepLoading" class="progress"></app-pasos>
    <div *ngIf="!isLoading && !facturaService.isStepLoading">
        <mat-toolbar-row class="head__sidenav">
            <button mat-icon-button aria-label matTooltip="{{'pos.toolTip.regresarAnterior' | translate}}"
                (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span class="spacer"></span>
            <p class="titulo">{{ 'pos.factura.resumen_documento' | translate }}</p>
            <span class="spacer"></span>
        </mat-toolbar-row>
        <div class="container-main">
            <div class="container">
                <div class="dispflex">
                    <div class="detalle-resumen">
                        <div class="informacion">
                            <p class="subtitulo-borde ">{{ 'pos.factura.receptor' | translate }}</p>
                            <div class="descripciones">
                                <p class="textos">{{ 'pos.factura.nit' | translate}}
                                    {{facturaService.cuenta?.factura_NIT}}
                                </p>
                                <p class="textos">{{ 'pos.factura.nombre' | translate }}
                                    {{facturaService.cuenta?.factura_Nombre}}</p>
                                <p class="textos">{{ 'pos.factura.direccion' | translate }}
                                    {{facturaService.cuenta?.factura_Direccion}}</p>
                            </div>
                        </div>
                        <div class="informacion" *ngIf="facturaService.formasPago.length > 0">
                            <p class="subtitulo-borde ">{{ 'pos.factura.vendedor' | translate }}</p>
                            <div class="descripciones">
                                <p class="textos">{{facturaService.vendedor?.nom_Cuenta_Correntista}}</p>
                            </div>
                        </div>
                        <div class="detalles-lista">
                            <p class="subtitulo">{{ 'pos.factura.productos' | translate }}</p>
                            <div class="descripcion-producto" *ngFor="let transaction of facturaService.traInternas">
                                <p class="textos">{{transaction.cantidad}} x {{transaction.producto.des_Producto}}</p>
                                <p class="textos">{{ 'pos.factura.sku' | translate }}
                                    {{transaction.producto.producto_Id}}
                                </p>
                                <p class="textos">{{ 'pos.factura.precio_unitario' | translate }}
                                    {{transaction.precio?.precioU |
                                    currency:' ':'symbol':'2.2-2' }}</p>
                                <p class="textos">{{ 'pos.factura.total' | translate }} {{transaction.total | currency:'
                                    ':'symbol':'2.2-2' }} </p>
                                <p class="textos" *ngIf="transaction.cargo != 0">{{ 'pos.factura.cargos' | translate }}
                                    {{transaction.cargo |
                                    currency:' ':'symbol':'2.2-2' }} </p>
                                <p class="textos" *ngIf="transaction.descuento != 0">{{ 'pos.factura.descuentos' |
                                    translate }} {{transaction.descuento |
                                    currency:' ':'symbol':'2.2-2' }}
                                </p>
                            </div>
                        </div>
                        <div class="detalles-lista">
                            <p class="subtitulo">{{ 'pos.factura.formas_pago' | translate }}</p>
                            <div class="descripcion-pago" *ngFor="let monto of facturaService.montos">
                                <p class="textos">{{monto.payment.descripcion}}</p>
                                <p class="textos" *ngIf="monto.payment.autorizacion">{{ 'pos.factura.autorizacion' |
                                    translate }}
                                    {{monto.authorization}}</p>
                                <p class="textos" *ngIf="monto.payment.referencia">{{ 'pos.factura.referencia' |
                                    translate
                                    }}
                                    {{monto.reference}}</p>
                                <p class="textos" *ngIf="monto.payment.banco">{{ 'pos.factura.banco' | translate }}
                                    {{monto.bank?.nombre}} </p>
                                <p class="textos" *ngIf="monto.account">{{ 'pos.factura.cuenta' | translate }}
                                    {{monto.account.descripcion}} </p>
                                <p class="textos">{{ 'pos.factura.monto' | translate }} {{monto.amount | currency:'
                                    ':'symbol':'2.2-2' }}</p>
                            </div>
                        </div>

                        <hr>

                        <div class="informacion">
                            <div class="descripcion-total">
                                <div class="dFlex">
                                    <p class="subtitulo">{{ 'pos.factura.subtotal' | translate }}</p>
                                    <span class="spacer"></span>
                                    <p class="textos-total"> {{facturaService.subtotal | currency:' ':'symbol':'2.2-2'
                                        }} </p>
                                </div>
                                <div class="dFlex">
                                    <p class="subtitulo">{{ 'pos.factura.cargos' | translate }}</p>
                                    <span class="spacer"></span>
                                    <p class="textos-total"> {{facturaService.cargo | currency:' ':'symbol':'2.2-2' }}
                                    </p>
                                </div>
                                <div class="dFlex">
                                    <p class="subtitulo">{{ 'pos.factura.descuentos' | translate }}</p>
                                    <span class="spacer"></span>
                                    <p class="textos-total"> {{facturaService.descuento | currency:' ':'symbol':'2.2-2'
                                        }}
                                    </p>
                                </div>
                                <hr>
                                <div class="dFlex">
                                    <p class="subtitulo">{{ 'pos.factura.total' | translate }}</p>
                                    <span class="spacer"></span>
                                    <p class="textos-total">{{facturaService.total | currency:' ':'symbol':'2.2-2' }}
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="informacion">
                            <div class="descripcion-total">
                                <div class="dFlex">
                                    <p class="subtitulo">{{ 'pos.factura.contado' | translate }}</p>
                                    <span class="spacer"></span>
                                    <p class="textos-total">{{facturaService.pagado | currency:' ':'symbol':'2.2-2' }}
                                    </p>
                                </div>
                                <div class="dFlex">
                                    <p class="subtitulo">{{ 'pos.factura.cambio' | translate }}</p>
                                    <span class="spacer"></span>
                                    <p class="textos-total"> {{facturaService.cambio | currency:' ':'symbol':'2.2-2' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="spacer"></span>
                    <div class="detalle-resumen">

                        <div class="informacion" *ngIf="facturaService.valueParametro(58)">

                            <p class="subtitulo-borde ">{{ 'pos.factura.tipoRef' | translate }}</p>
                            <div class="descripciones">
                                <p class="textos">{{facturaService.tipoReferencia?.descripcion}}
                                    ({{facturaService.tipoReferencia?.tipo_Referencia}})</p>
                            </div>
                        </div>
                        <hr>
                        <div class="fechas">
                            <div class="fechaER" *ngIf="facturaService.valueParametro(381)">
                                <p class="subtitulo-borde">
                                    {{ facturaService.getTextParam(381) ?? 'pos.factura.fEntrega' | translate }}
                                </p>
                                <div class="descripciones">
                                    <p class="textos">{{facturaService.fechaRefIni | date: 'dd/MM/yyyy HH:mm'}}</p>
                                </div>
                            </div>
                            <span class="spacer"></span>
                            <div class="fechaER" *ngIf="facturaService.valueParametro(382)">
                                <p class="subtitulo-borde">
                                    {{ facturaService.getTextParam(382) ?? 'pos.factura.fRecoger' | translate }}</p>
                                <div class="descripciones">
                                    <p class="textos">{{facturaService.fechaRefFin | date: 'dd/MM/yyyy HH:mm'}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="fechas" *ngIf="facturaService.valueParametro(44)">
                            <div class="fechaER">
                                <p class="subtitulo-borde">{{ 'pos.documento.fechaIni' | translate }} </p>
                                <div class="descripciones">
                                    <p class="textos">{{facturaService.fechaIni | date: 'dd/MM/yyyy HH:mm'}}</p>
                                </div>
                            </div>
                            <span class="spacer"></span>
                            <div class="fechaER">
                                <p class="subtitulo-borde">{{ 'pos.documento.fechaFin' | translate }} </p>
                                <div class="descripciones">
                                    <p class="textos">{{facturaService.fechaFin | date: 'dd/MM/yyyy HH:mm'}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="informacion" *ngIf="facturaService.refContacto">
                            <p class="subtitulo-borde" *ngIf="facturaService.valueParametro(385)">
                                {{facturaService.getTextParam(385) ?? 'pos.factura.contacto' | translate }}</p>
                            <div class="descripciones">
                                <p class="textos">{{facturaService.refContacto}}</p>
                            </div>
                        </div>
                        <div class="informacion" *ngIf="facturaService.refDescripcion">
                            <p class="subtitulo-borde" *ngIf="facturaService.valueParametro(383)">
                                {{ facturaService.getTextParam(383) ?? 'pos.factura.descripcion' | translate }}</p>
                            <div class="descripciones">
                                <p class="textos">{{facturaService.refDescripcion}}</p>
                            </div>
                        </div>
                        <div class="informacion" *ngIf="facturaService.refDireccionEntrega">
                            <p class="subtitulo-borde" *ngIf="facturaService.valueParametro(386)">
                                {{ facturaService.getTextParam(386) ?? 'pos.factura.entrega' | translate }}</p>
                            <div class="descripciones">
                                <p class="textos">{{facturaService.refDireccionEntrega}}</p>
                            </div>
                        </div>
                        <div class="informacion" *ngIf="facturaService.refObservacion">
                            <p class="subtitulo-borde" *ngIf=" facturaService.valueParametro(384)">
                                {{ facturaService.getTextParam(384) ?? 'pos.factura.observacion' | translate }}</p>
                            <div class="descripciones">
                                <p class="textos">{{facturaService.refObservacion}}</p>
                            </div>

                        </div>

                        <!-- <div class="informacion" *ngIf="facturaService.valueParametro(58)">
                            <p class="subtitulo-borde ">{{ 'pos.factura.detalle' | translate }}</p>
                            <div class="descripciones">
                                <p class="textos">Id: 14217</p>
                                <p class="textos"> {{ 'pos.documento.usuario' |translate }} Ventas502</p>
                                <p class="textos"> {{ 'pos.factura.referencia' |translate }}: 14217</p>
                                <p class="textos">{{ 'pos.factura.estado' |translate }}: Activo</p>
                                <p class="textos">{{ 'pos.documento.fechaHora' |translate }} 15/03/2024 - 11:00 AM</p>
                            </div>
                        </div> -->

                        <div class="informacion">
                            <textarea class="observacion" placeholder="{{ 'pos.factura.observacion' | translate }}"
                                [(ngModel)]="facturaService. observacion"></textarea>
                        </div>

                        <div class="informacion" *ngIf="consecutivoDoc == -1">
                            <div class="dFlex">
                                <button mat-stroked-button (click)="goBack()">{{ 'pos.botones.cancelar' | translate
                                    }}</button>
                                <span class="spacer"></span>
                                <button mat-stroked-button (click)="sendDoc()">{{ 'pos.botones.confirmar' | translate
                                    }}</button>
                            </div>
                        </div>
                        
                        <!-- TIPOS DE CARGA -->
                        <div class="informacion">
                            <div class="dFlex">
                                <button mat-stroked-button (click)="isLoading = true">Carga normal.</button>
                                <span class="spacer"></span>
                                <button mat-stroked-button (click)="facturaService.isStepLoading = true">Carga por
                                    pasos.</button>
                            </div>
                        </div>
                        <div class="informacion" *ngIf="consecutivoDoc != -1">
                            <div class="dFlex">
                                <button mat-stroked-button (click)="goBack()"> {{ 'pos.botones.listo' |
                                    translate}}</button>
                                <span class="spacer"></span>
                                <button mat-stroked-button (click)="printDoc()">{{ 'pos.botones.imprimir' |
                                    translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mostrar logos -->
        <!-- <app-barra-logos></app-barra-logos> -->
        <app-barra-logo-demosoft></app-barra-logo-demosoft>
    </div>
</div>