<app-progress *ngIf="isLoading" class="progress"></app-progress>
<div class="fondo" *ngIf="!isLoading">
    <div class="barra-fija">
        <span class="spacer"></span>
        <!-- Titulo -->
        <p class="titulos">{{'crm.crear.buscarIdReferencia' | translate}}</p>
        <span class="spacer"></span>
        <!-- Cerrar dialogo -->
        <span class="close" (click)="closeDialog()">&times;</span>
    </div>
    <!-- Dialogo de los detalles de las tareas -->
    <div mat-dialog-content class="dialog">
        <div class="contenedor">
            <form #ngForm="ngForm" (ngSubmit)="buscarIdReferencia()">
                <p class="titulos">{{'crm.crear.buscar' | translate}}</p>
                <div class="buscar-icono">
                    <input #inputSearch type="search" name="usuario" class="inputSearch"
                        [(ngModel)]="searchIdReferencia" placeholder="{{'crm.crear.busqueda' | translate}}"
                        autocomplete="off" (focus)="focusAndSelectText()">
                    <button type="submit" mat-icon-button>
                        <mat-icon class="iconoLupa">search</mat-icon>
                    </button>
                </div>
            </form>

            <div class="info">
                <mat-icon class="marginRihgt">info</mat-icon>
                {{'crm.tarea.seleccionarId' | translate}}
            </div>
            <hr>
            <div class="detalleCoincidencias" *ngFor="let referencia of referencias">
                <div class="seleccionar" [mat-dialog-close]="[referencia]">
                    <p class="nombre">{{referencia.descripcion}}</p>
                    <div class="dFlex">
                        <p class="titulos">{{'crm.tarea.estado' | translate}} </p>
                        <p class="nombre">{{referencia.fDes_Estado_Objeto}}</p>
                    </div>
                    <div class="dFlex">
                        <p class="titulos">{{'crm.tarea.idReferencia' | translate}} </p>
                        <p class="nombre">{{referencia.referencia}}</p>
                    </div>
                    <div class="dFlex">
                        <p class="titulos">{{'crm.tarea.referencia' | translate}}</p>
                        <p class="nombre">{{referencia.referencia_Id}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div mat-dialog-actions class="barra-abajo-fija" *ngIf="enableButtons">
            <button mat-button [mat-dialog-close]>{{'crm.crear.cancelar' | translate}}</button>
        </div>
    </div>
</div>