$fondo         : var(--fondo-claro); //fondo Demosoft, bordes scroollbar
$scroll        : var(--global-color); //barra azul
$bordes        : var(--bordes-claro); //bordes del calendario
$personalizado : var(--global-color); //bordes y texto azul
$negro         : var(--negro);
$rojo          : var(--error);
$bloque        : var(--bordes-claro);
$hover         : var(--hover);
$gris          : var(--gris);


.progress {
    padding         : 0px;
    width           : 680px;
    height          : 430px;
    background-color: $fondo;
}

.dialog {
    padding         : 0px;
    width           : 700px;
    height          : 430px;
    background-color: $fondo;
    overflow        : hidden;
}

.spacer {
    flex: 1 1 auto;
}

.contenedor {
    padding   : 10px 20px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    height    : calc(100% - 50px);
}

.contenedor::-webkit-scrollbar {
    width: 7px;
}

.contenedor::-webkit-scrollbar-track {
    background: $fondo;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: $scroll;
    border-radius   : 20px;
    border          : 3px $fondo;
}

.spacer {
    flex: 1 1 auto;
}

.close {
    width      : 40px;
    color      : $gris;
    float      : left !important;
    font-size  : 28px;
    font-weight: bold;
    cursor     : pointer;
    text-align : center;
}

.close:hover,
.close:focus {
    color          : $negro;
    text-decoration: none;
    cursor         : pointer;
}

hr {
    margin    : 0.5rem 0;
    color     : inherit;
    border    : 0;
    border-top: 1px solid;
    opacity   : .25;
}

.fondo {
    background-color: $fondo;
}

.nombre {
    min-width: 40%;
    font-size: 12px;
}

.detalleCoincidencias {
    display      : flex;
    text-align   : left !important;
    font-size    : 14px;
    width        : 100%;
    align-items  : center;
    border-bottom: 1px solid $bordes;
}

.titulos {
    font-weight  : 550 !important;
    padding-right: 5px;
}

p {
    margin: 0px;
    color : $negro;
}

.seleccionar {
    width           : 100%;
    cursor          : pointer;
    min-height      : 30px;
    padding         : 5px 10px;
    margin          : 5px 0px;
    background-color: $bloque;
}

.seleccionar:hover {
    background-color: $hover;
}

.inputSearch {
    width           : 100%;
    border-style    : none;
    background-color: transparent;
    outline         : none;
    color           : $personalizado;
}

@media screen and (max-width: 280px) {
    .close {
        font-size  : 22px !important;
        align-items: center !important;
        height     : 30px !important;
    }

    hr {
        margin: 0.3rem 0;
    }

    .progress {
        padding: 0px !important;
        width  : 200px !important;
    }

    .dialog {
        padding: 10px 20px;
        width  : 200px !important;
    }

    .seleccionar {
        height     : auto !important;
        padding    : 3px 0px !important;
        align-items: center !important;
        width      : 130px !important;
    }

    .contenedor {
        padding-left: 5px !important;
        width       : 190px !important;
    }

}

@media screen and (max-width: 767px) {

    .dialog,
    .progress {
        width: 400px !important;
    }

    .seleccionar {
        min-height: 30px !important;
        display   : block !important;
    }
}

.dFlex {
    display    : flex;
    align-items: center;
}

.buscar-icono {
    display      : flex;
    align-items  : center;
    border-bottom: solid 1px $personalizado;
}

.icono-lupa {
    color: $personalizado;
}

.barra-fija {
    display      : flex;
    align-items  : center;
    height       : 55px;
    border-bottom: solid 1px $bordes;
}

.barra-abajo-fija {
    display    : flex;
    align-items: center;
    height     : 50px;
}

.encontrados {
    margin-top: 10px;
}

.info {
    font-size  : 12px !important;
    color      : $rojo;
    display    : flex;
    align-items: center;
    padding-top: 10px;
    text-align : right;
}

.marginRihgt {
    margin-right: 5px;
}