$fondo         : var(--fondo-claro); //fondo Demosoft
$scroll        : var(--global-color); //barra azul
$bordes        : var(--bordes-claro);
$personalizado : var(--global-color); //bordes y texto azul
$bloques       : var(--bloques-claro);
$sombra        : var(--sombra-claro);
$gris          : var(--gris); //bordes y texto gris
$negro         : var(--negro); //bordes y texto azul

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
    color        : $negro;
}

hr {
    margin    : 0.5rem 0;
    color     : inherit;
    border    : 0;
    border-top: 1px solid;
    opacity   : .25;
}

.dFlex {
    display    : flex;
    align-items: center;
}

.head__sidenav {
    width           : 100%;
    height          : 55px !important;
    display         : flex;
    align-items     : center;
    background-color: $fondo;
    padding         : 0px 15px;
    border-bottom   : 1px solid $bordes;
}

.progress {
    padding         : 0px;
    width           : 450px;
    height          : 400px;
    background-color: $fondo;
}

.dialog {
    padding         : 0px;
    width           : 450px;
    height          : 400px;
    background-color: $fondo;
    overflow        : hidden;
}

.close {
    color      : $gris;
    float      : left !important;
    font-size  : 28px;
    font-weight: bold;
    cursor     : pointer;
    text-align : center;
}


.contenido-dialogo {
    height    : calc(100% - 60px);
    overflow-y: auto;
    overflow-x: hidden;
    padding   : 10px 20px;
}

.textBold {
    font-weight: 550;
}

.text12 {
    font-size: 12px !important;
}

.botones {
    padding    : 0px 20px;
    display    : flex;
    align-items: center;
}

.comandaBotones {
    display      : flex;
    border-bottom: solid 1px $bordes;
    align-items  : center;
}