<app-progress *ngIf="isLoading" class="progress"></app-progress>
<mat-toolbar-row class="head__sidenav" *ngIf="!isLoading">
    <span class="spacer"></span>
    <p class="textBold">Error</p>
    <span class="spacer"></span>

    <span class="close" (click)="closeDialog()">&times;</span>
</mat-toolbar-row>

<div mat-dialog-content class="dialog" *ngIf="!isLoading">

    <div class="contenido-dialogo">

        <div class="comandaBotones" *ngFor="let error of erroresComanda; let index = index">

            <p class="text12"> {{error.error}} </p>

            <span class="spacer"></span>
            <button mat-icon-button matTooltip="Reintentar" (click)="printAgain(index)">
                <mat-icon>replay</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Imprimir con otro metodo" (click)="printAnyway(index)">
                <mat-icon>print</mat-icon>
            </button>
        </div>

    </div>

    <div class="botones">
        <button mat-stroked-button [mat-dialog-close]="false" (click)="printAllAgain()">
            {{ 'pos.botones.reintentar' | translate }}
        </button>
        <span class="spacer"></span>
        <button mat-stroked-button [mat-dialog-close]="true" (click)="printAllAnyway()">
            Imprimir con otro metodo.
        </button>
    </div>
</div>