$negro         : var(--negro); //texto
$bordes        : var(--bordes-claro); //bordes del calendario
$personalizado : var(--global-color); //bordes y texto azul
$fondo         : var(--fondo-claro); //fondo Demosoft, bordes scroollbar
$scroll        : var(--global-color); //barra azul
$flecha        : var(--gris); //fondo triangulo
$rojo          : var(--error); //texto
$gris          : var(--gris); //texto

.progress {
    padding         : 0px;
    width           : 750px;
    height          : 430px;
    overflow-y      : auto;
    background-color: $fondo;
}

.dialog {
    padding         : 0px 20px 30px;
    width           : 750px;
    height          : 430px;
    padding-bottom  : 30px;
    overflow-y      : auto;
    background-color: $fondo;
    overflow-x      : hidden;
}

.head__sidenav {
    height          : 64px !important;
    padding         : 0px 10px;
    border-bottom   : 1px solid $bordes;
    background-color: $fondo;
}

.head_bottom_sidenav {
    height          : 20px !important;
    padding         : 0px 10px;
    border-bottom   : 1px solid $bordes;
    background-color: $fondo;
}

.botones {
    padding    : 0px;
    display    : flex;
    width      : 100%;
    align-items: center;
}

.titulos {
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}

.close {
    width      : 40px;
    color      : $gris;
    float      : left !important;
    font-size  : 28px;
    font-weight: bold;
    cursor     : pointer;
    text-align : center;
}

.close:hover,
.close:focus {
    color          : $negro;
    text-decoration: none;
    cursor         : pointer;
}

hr {
    margin    : 0.5rem 0;
    color     : inherit;
    border    : 0;
    border-top: 1px solid;
    opacity   : .25;
}

.dialog::-webkit-scrollbar {
    width: 7px;
}

.dialog::-webkit-scrollbar-track {
    background: $fondo;
}

.dialog::-webkit-scrollbar-thumb {
    background-color: $scroll;
    border-radius   : 20px;
    border          : 3px $fondo;
}

.verDetalle {
    font-weight  : 500;
    text-align   : center;
    margin-bottom: 0px;
    padding      : 0px 10px;
}

.titulo {
    margin-bottom: 5px;
}

.detallesTarea {
    text-align: left !important;
    font-size : 14px;
}

/* alinea fecha a la derecha */
.alingLeft {
    float: right;
}

p {
    margin: 0px;
    color : $negro;
}

@media screen and (max-width: 767px) {

    .imagen,
    .flecha-comentario {
        display: none;
    }

    .dialog,
    .progress {
        width: 500px !important;
    }
}

@media screen and (max-width: 400px) {

    .dialog,
    .progress {
        width: 100% !important;
    }

    .titulos {
        display: block !important;
    }

    .verDetalle {
        font-size: 14px !important;
        padding  : 5px !important;
    }

    .close {
        font-size  : 22px !important;
        align-items: center !important;
        height     : 30px !important;
    }

    .alingLeft {
        font-size: 13px;
    }

    hr {
        margin: 0.3rem 0;
    }
}

.barra-titulo,
.titulo-cerrar {
    display    : flex;
    min-height : 20px;
    align-items: center;
}

.bloque-comentario {
    width     : 100%;
    margin-top: 15px;
}

.comentario-icono {
    display: flex;
}

.imagen {
    margin-top: -5px;
    font-size : 50px;
    width     : 50px;
    height    : 50px;
}

.flecha-comentario {
    width        : 0;
    height       : 0;
    border-top   : 7px solid transparent;
    border-right : 14px solid $flecha;
    border-bottom: 7px solid transparent;
    margin-top   : 10px;
    margin-left  : 4.5px;
    margin-right : -20px;
}

.contenedor_comentarios {
    margin-left : 20px;
    width       : 90% !important;
    margin-right: 10px;
}

.comentario {
    display      : flex;
    height       : 30px;
    border       : 1px solid $bordes;
    border-bottom: none;
    font-weight  : bold;
    font-size    : 12px;
    padding      : 0px 5px;
    align-items  : center;
}

.comentario_desc {
    padding                   : 5px 10px;
    text-align                : justify;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius : 20px;
    border                    : $bordes 1px solid;
    font-size                 : 14px;
}

.ico_link {
    width       : 25px;
    height      : 25px;
    margin-right: 5px;
}

.linea {
    margin-bottom: -15px;
    height       : 30px;
    border-left  : $bordes 2px solid;
    margin-left  : 20px
}

.escribir-comentario {
    width     : 100%;
    border    : none;
    outline   : none;
    background: transparent;
}

.subir-archivos {
    margin: 5px;
}

.form-control {
    background-color: transparent !important;
    height          : 35px;
    font-size       : 14px;
    border          : 1px solid $bordes;
    color           : $personalizado;
}

.lista-archivos {
    padding: 5px;
}

.campo-tarea {
    font-size: 12px;
    padding  : 2px 0px;
}

.campo-detalle {
    font-size  : 12px;
    font-weight: 450;
    padding    : 2px 0px;
    width      : 100px;
}

.nombre-archivos {
    font-size  : 12px;
    font-weight: 400;
}

.eliminar:hover {
    cursor: pointer;
    color : $rojo;
}

.archivos-comentar {
    display: flex;
}

.subir-archivos {
    margin: 5px;
}

@media screen and (max-width: 280px) {

    .verDetalle {
        font-size    : 13px !important;
        padding      : 5px !important;
        white-space  : nowrap !important;
        overflow     : hidden !important;
        text-overflow: ellipsis !important;
        width        : 100px !important;
    }

    .close {
        font-size  : 22px !important;
        align-items: center !important;
        height     : 30px !important;
    }

    hr {
        margin: 0.3rem 0;
    }

    .progress {
        padding: 0px !important;
        width  : 220px !important;
    }

    .dialog {
        padding: 10px 10px 20px !important;
        width  : 220px !important;
    }

    .seleccionar {
        padding    : 3px 0px !important;
        align-items: center !important;
    }

    .contenedor {
        padding-left: 5px !important;
    }

    .barra-titulo {
        display: block !important;
    }

    .contenedor_comentarios {
        width : 100% !important;
        margin: 0px 5px !important;
    }

    .nombre-archivos {
        width        : 100px !important;
        word-wrap    : break-word !important;
        white-space  : nowrap !important;
        text-overflow: ellipsis !important;
        overflow     : hidden !important;
    }

    .titulos {
        display: block !important;
    }

    .comentario {
        display: block !important;
        height : auto !important;
    }
}

.subir-comentarios {
    font-size: 12px;
    height   : 30px;
}

.circulo {
    width        : 15px; //diámetro total 
    height       : 15px; //diámetro total
    border-radius: 50%;
    border       : 1px solid $negro;
}

.padRight {
    padding-right: 5px;
}

//LADO IZQUIERDO
.contenido-izquierdo {
    //corregir ancho del contenedor
    min-height      : 35px;
    align-items     : center;
    // margin-bottom: 5px;
    width           : 200px;
    padding-left    : 5px;
    padding-right   : 5px;
}

.tipo-tarea {
    border-style    : none;
    border          : 1px solid $bordes;
    background-color: transparent;
    min-height      : 30px;
    padding         : 2px 10px;
    font-size       : 12px;
    width           : 200px;
    margin          : 5px 0px;
}

.mat-mdc-option {
    min-height: 30px;
    color     : $personalizado;
    font-size : 13px;
}