$color-negro          : #000; //texto negro
$color-azul           : #134895; //bordes y texto azul
$color-blanco         : #fff; //resaltar texto blanco
$color-gris           : #666666; //texto gris
$color-gris-s         : #777; //sombra y texto gris
$font-serif           : sans-serif; //fuente del texto
$background-options   : #fff; //fondo blanco
$background-oficial   : #FEF5E7; //fondo Demosoft
$background-scrollbar : #134895; //barra rosada
$background-botones   : #134895; //resaltar botones azul
$sombra               : rgba(0, 0, 0, 0.1);
$placeholder          : rgba(0, 0, 0, 0.20);
$requerido            : rgba(0, 0, 0, 0.05);

.spacer {
    flex: 1 1 auto;
}

/*Contendo derecho*/

.head__sidenav {
    height          : 64px !important;
    background-color: $background-oficial;
    padding         : 0px 15px;
    border-bottom   : 1px solid rgba(0, 0, 0, 0.12);
}

.container_main::-webkit-scrollbar {
    width           : 7px;
    background-color: $background-oficial;
}

.container_main::-webkit-scrollbar-track {
    background-color: $background-oficial;
}

.container_main::-webkit-scrollbar-thumb {
    background-color: $background-scrollbar;
    border-radius   : 20px;
    border          : 3px #f3c5d3;
}

.container_page {
    height          : 100vh;
    width           : 100vw;
    position        : fixed;
    background-color: $background-oficial;
}

.regresar-crear {
    display    : flex;
    align-items: center;
}

.progress {
    height          : 100vh;
    width           : 100vw;
    position        : fixed;
    align-items     : center;
    background-color: $background-oficial;
}

.container_main {
    padding-left : 15px;
    padding-right: 15px;
    width        : 100%;
    height       : calc(100% - 128px);
    float        : left;
    overflow     : auto;
}

@media screen and (max-width: 767px) {

    .container_main {
        width     : 100%;
        /* padding: 20px; */
    }
}

@media screen and (max-width: 280px) {

    .container_main {
        padding: 0px !important;
    }

    .fuente {
        font-size: 14px !important;
    }
}


.inputSearch {
    text-align: center !important;
}

/* Estilo para el contenedor del icono y el campo de entrada */
.input-container-tarea {
    position: relative;
    margin  : 10px 0 0;
    padding : 0px 15px;
}

/* Estilo para el icono */
.iconoLupa {
    position   : absolute;
    top        : 46%;
    /* Ajusta la posición verticalmente según sea necesario */
    left       : 1.5%;
    /* Ajusta la posición horizontalmente según sea necesario */
    transform  : translateY(-50%);
    color      : $color-azul;
    align-items: center;
}

/* estilos para los inputs */
.barra-de-busqueda {
    height       : 45px;
    width        : 100%;
    background   : none;
    font-size    : 14px;
    padding-left : 50px;
    font-family  : $font-serif;
    outline      : none;
    border-style : none;
    border       : 0.5px solid #c1bfbf;
    color        : $color-azul;
    border-radius: 20px;
}

.coincidencias {
    font-size    : 12px;
    text-align   : right;
    padding-right: 20px;
}

.coincidencias:hover {
    cursor: pointer;
    color : $color-azul;
}

.tipo-busqueda {
    text-align: center;
    width     : 100%;
    padding   : 10px 15px 5px;
}

.buscar {
    padding-left: 5px;
    display     : flex;
}

.buscar-opcion {
    font-size    : 12px;
    text-align   : left;
    padding-right: 5px;
    padding-left : 15px;
}

/*Boton ir arriba*/
.button_up_content {
    position        : fixed;
    z-index         : 1000;
    bottom          : 75px;
    right           : 40px;
    font-size       : 20px;
    background-color: $color-azul;
}


.button_down_content {
    position        : fixed;
    z-index         : 1000;
    bottom          : 75px;
    /* Ajusta la posición según tus preferencias */
    right           : 40px;
    /* Ajusta la posición según tus preferencias */
    font-size       : 20px;
    background-color: $color-azul;
    /* Ajusta el color según tus preferencias */
}

@media screen and (max-width: 992px) {
    .button_up_content {
        bottom   : 75px;
        right    : 30px;
        font-size: 20px;
    }
}

.tareas {
    margin: 0px 15px 0px;
}

/* estilos para la lista de las tareas */
.espacioLista {
    width         : 100%;
    padding-bottom: 25px;
    cursor        : pointer;
}

/* sombra y elevacion de items de lista */
.tarea {
    background-color: $background-oficial;
    border-radius   : 5px;
    font-size       : 17px;
    box-shadow      : 0px 1px 0px 1px $sombra;
}

// .tarea:hover {
//     background-color: $placeholder;
// }

/* justificar texto */
.justificar {
    text-align: justify;
}

/* fuente negrita */
.negrita {
    font-weight: bold;
}

/*Fin Contendo derecho*/
.fuente {
    font-size: 16px;
}

/* alinea fecha a la derecha */
.alingLeft {
    float: right;
}

.circulo-estado {
    width        : 15px;
    height       : 15px;
    border       : 1px solid $color-gris;
    border-radius: 50%;
    margin-left  : 10px;
}

@media screen and (max-width: 365px) {
    .iconoLupa {
        left: 5.5% !important;
    }
}

p {
    margin: 0px;
}

.chip {
    display      : inline-block;
    padding      : 5px 8px;
    margin       : 4px;
    cursor       : pointer;
    border       : 1px solid #ccc;
    border-radius: 20px;
    font-size    : 12px;
}

.selected {
    background-color: $color-azul;
    color           : #fff;
    border          : 1px solid $color-azul;
}

.descripcion {
    font-size   : 14px;
    text-align  : justify;
    padding-left: 10px;
}

.dFlex {
    display    : flex;
    align-items: center;
    padding-top: 3px;
}

.boton-azul {
    background-color: $color-azul !important;
    color           : $color-blanco !important;
}