$negro       : var(--negro); //texto negro
$preferencia : var(--global-color);
$blanco      : var(--blanco); //resaltar texto blanco
$gris        : var(--gris);
$bordes      :var(--bordes-claro); //bordes menu

p {
    margin: 0;
}

.spacer {
    flex: 1 1 auto;
}

.contenido {
    padding: 10px;
    width  : 100%;
}

.ubicacion-mesa {
    display: flex;
}

.ubicaciones {
    width  : 40%;
    padding: 10px;
}

.mesas {
    width  : 55%;
    padding: 10px;
}

.ubicacion {
    padding      : 5px 10px;
    display      : flex;
    align-items  : center;
    border       : solid 1px $bordes;
    width        : 85%;
    margin-top   : 10px;
    border-radius: 10px
}

.mesa {
    padding      : 5px 10px;
    display      : flex;
    align-items  : center;
    border       : solid 1px $bordes;
    margin-top   : 10px;
    border-radius: 10px
}

.mesa:hover,
.ubicacion:hover {
    cursor    : pointer;
    background: $bordes;
}

.descripciones {
    width: calc(100% - 40px);
}

.textBold {
    font-weight: bold;
}

.text12 {
    font-size: 12px !important;
}

.titulo {
    font-size  : 14px;
    font-weight: 500;
}


.mesasx2 {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    //Espacio entre las mesas, puedes ajustar esto
    gap                  : 0px 15px;
}