<mat-toolbar-row class="head__sidenav">
    <button mat-icon-button aria-label matTooltip="{{ 'pos.botones.regresar' | translate }}" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="spacer"></span>
    <p class="titulo">{{ 'pos.error.informe' | translate }}</p>
    <span class="spacer"></span>
</mat-toolbar-row>


<div class="contenido">

    <div class="ubicacion-mesa">

        <div class="ubicaciones">

            <p class="titulo">UBICACIONES</p>

            <div class="ubicacion" *ngFor="let location of restaurantService.locations"
                [ngClass]="{'ubicacionMesaSelect': restaurantService.location && restaurantService.location.elemento_Asignado === location.elemento_Asignado}"
                (click)="selectLocation(location)">
                <mat-icon>location_on</mat-icon>
                <span class="spacer"></span>
                <div class="descripciones">
                    <p class="textBold">{{location.descripcion}}</p>
                </div>
            </div>

        </div>
        <span class="spacer"></span>
        <div class="mesas" *ngIf="restaurantService.viewTables">
            <p class="titulo">MESAS</p>

            <div class="mesasx2">
                <div class="mesa" *ngFor="let table of restaurantService.tables" (click)="selectTable(table)"
                    [ngClass]="{'ubicacionMesaSelect': restaurantService.table && restaurantService.table.elemento_Asignado === table.elemento_Asignado}">
                    <mat-icon>table_bar</mat-icon>
                    <span class="spacer"></span>
                    <div class="descripciones">
                        <p class="textBold"> {{table.descripcion}}</p>
                        
                        <!--TODO:Cuentas-->
                        <P class="text12">PERSONAS 0</P>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>