<div *ngIf="!mantenimiento.isLoading">
    <mat-toolbar class="toolbarPhone">
        <mat-toolbar-row class="toolbar-row">
            <button mat-icon-button (click)="backPage() " matTooltip="{{ 'pos.botones.regresar' | translate }}">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button (click)="loadData()">
                <mat-icon>refresh</mat-icon>
            </button>
            <span class="spacer"></span>
            <p class="titulo">{{ 'pos.apis.apiCatalogo' | translate }}</p>
            <span class="spacer"></span>
            <button mat-mini-fab (click)="nueva()" class="btnColor">
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="toolbarlargeTitle">
        <button mat-icon-button (click)="backPage() " matTooltip="{{ 'pos.botones.regresar' | translate }}">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button (click)="loadData()">
            <mat-icon>refresh</mat-icon>
        </button>
        <span class="spacer"></span>
        <p class="titulo">{{ 'pos.apis.apiCatalogo' | translate }}</p>
        <span class="spacer"></span>
        <button mat-mini-fab (click)="nueva()" class="btnColor">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>

    <div class="container_main" #contentContainer>
        <div class="d-flex">
            <span class="spacer"></span>
            <p class="textosBold14">{{ 'pos.factura.registros' | translate }}
                ({{apis.length}})
            </p>
        </div>

        <div class="dFlex" *ngFor="let api of apis">
            <span class="spacer"></span>
            <div class="cetificadores">
                <div class="documentos-origen" (click)=" detalleApi(api)">
                    <p class="textosBold14">{{ api.Nombre_Api }} </p>
                    <div class="dFlex">
                        <p class="textosBold14"
                            [ngStyle]="{ 'color': mantenimiento.getTipoMetodo(api.Tipo_Metodo)?.Color }">
                            {{ mantenimiento.getTipoMetodo(api.Tipo_Metodo)?.Nombre }}
                        </p>
                        <p class="textos14"> {{api.Url_Api }}</p>
                    </div>
                </div>
            </div>
            <span class="spacer"></span>
        </div>
    </div>
    <app-barra-logos></app-barra-logos>
</div>