$fondo  : var(--fondo-claro); //fondo Demosoft, bordes scroollbar
$scroll : var(--global-color); //barra azul
$bordes : var(--bordes-claro); //bordes del calendario
$negro  : var(--negro); //bordes y texto negro
$gris   : var(--gris); //bordes y texto gris


.progress {
    padding         : 0px;
    padding-right   : 0px;
    width           : 680px;
    height          : 430px;
    background-color: $fondo;
}

.dialog {
    padding         : 10px 10px 15px 15px;
    width           : 700px;
    height          : 325px;
    background-color: $fondo;
}

.head__sidenav {
    width           : 100%;
    height          : 64px !important;
    display         : flex;
    align-items     : center;
    background-color: $fondo;
    padding         : 0px 15px;
    border-bottom   : 1px solid $bordes;
}

.contenedor {
    overflow-y: auto;
    overflow-x: hidden;
    height    : 100%;
}

.dialog::-webkit-scrollbar {
    width: 7px;
}

.dialog::-webkit-scrollbar-track {
    background: $fondo;
}

.dialog::-webkit-scrollbar-thumb {
    background-color: $scroll;
    border-radius   : 20px;
    border          : 3px $fondo;
}

.spacer {
    flex: 1 1 auto;
}

.close {
    width      : 40px;
    color      : $gris;
    float      : left !important;
    font-size  : 28px;
    font-weight: bold;
    cursor     : pointer;
    text-align : center;
}

.close:hover,
.close:focus {
    color          : $negro;
    text-decoration: none;
    cursor         : pointer;
}

hr {
    margin    : 0.5rem 0;
    color     : inherit;
    border    : 0;
    border-top: 1px solid;
    opacity   : .25;
}

p {
    margin: 0px;
    color : $negro;
}

.busqueda {
    text-align : left !important;
    font-size  : 14px;
    width      : 100%;
    height     : 100%;
    font-weight: 450;
    align-items: center;
}

.contenido-izquierdo {
    //corregir ancho del contenedor
    height       : 100%;
    align-items  : center;
    display      : flex;
    width        : 100%;
    padding-left : 5px;
    padding-right: 5px;
}

.seleccionar {
    width        : 100%;
    min-height   : 30px;
    border-bottom: 1px solid $bordes;
    font-weight  : 400;
    padding      : 5px 0px;
}

.dFlex {
    display    : flex;
    align-items: center;
}

.verDetalle {
    font-weight   : 500;
    text-align    : center;
    margin-bottom : 0px;
    padding       : 10px;
    padding-bottom: 0;
}

.titulos {
    display    : flex;
    align-items: center;
    padding    : 3px 0px;
}

.subtitulo {
    font-size  : 14px;
    font-weight: 550;
}

.adver {
    font-size   : 12px;
    color       : #7c7676;
    // color    : $gris;
    font-weight : 550;
}

.textos {
    font-size: 14px;
}

.botones {
    display: flex;
    padding: 10px 0px;
}

.informacion {
    background-color: $fondo;
    padding         : 10px 15px;
    overflow-x      : hidden;
}

.imagen {
    height       : 250px;
    margin       : 10px 0px;
    align-content: center;
}


@media screen and (max-width: 767px) {

    .dialog,
    .progress {
        width  : 100% !important;
        padding: 10px 10px 15px 15px;
    }

    .contenedor {
        padding: 0px !important;
    }

    .verDetalle {
        font-size: 15px !important;
    }

    .imagen {
        height: 150px !important;
        margin: 5px 0px !important;
    }
}


img {
    height: 200px;
}

//importante para cetrar el carrusel
.carousel {
    position: unset !important;
}

.container {
    position: relative;
}

.contolarFlechas {
    position : absolute;
    top      : 50%;
    transform: translateY(-50%);
}

.contolarFlechas:focus {
    outline: none;
}

.contolarFlechas:nth-of-type(1) {
    left: 10px;
}

.contolarFlechas:nth-of-type(2) {
    right: 10px;
}