$personalizado : var(--global-color); //bordes y texto azul
$seleccionado  : var(--bloques-claro);
$bordes        : var(--bordes-claro); //bordes menu
$fondo         : var(--fondo-claro); //fondo Demosoft
$scroll        : var(--global-color); //barra azul
$gris          : var(--gris);
$blanco        : var(--blaco);
$sombra        : var(--sombra-claro);
$bloques       : var(--bloques-claro);

/*Toolbar*/

.icon_toolbar {
    font-size: 22px;
}

.toolbarPhone {
    display: none;
    height : 64px;
}

.toolbarPhone,
.toolbarlargeTitle {
    background-color: $fondo;
    border-bottom   : 1px solid $bordes;
}

.toolbar-row {
    height: 64px;
}


@media screen and (max-width: 767px) {
    .toolbarlargeTitle {
        display: none !important;
    }

    .toolbarPhone {
        display: block !important;
    }
}

/*Fin Toolbar*/

/*Contendo derecho*/

.container_main::-webkit-scrollbar {
    width           : 7px;
    background-color: $fondo;
}

.container_main::-webkit-scrollbar-track {
    background-color: $fondo;
}

.container_main::-webkit-scrollbar-thumb {
    background-color: $scroll;
    border-radius   : 20px;
    border          : 3px $fondo;
}

.container_page {
    height    : 100vh;
    width     : 100vw;
    margin-top: 65px;
    position  : fixed;
}

.container_main {
    width     : 100%;
    height    : calc(100vh - 128px);
    float     : left;
    overflow-y: auto;
    overflow-x: hidden;
    padding   : 10px 20px;
}


@media screen and (max-width: 767px) {

    .container_main {
        width: 100%;
    }
}

.head__sidenav {
    height          : 44px !important;
    background-color: $fondo;
    border-bottom   : 1px solid $bordes;
}

/*Fin Contendo derecho*/

.dFlex {
    display    : flex;
    align-items: center;
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

.padding-right {
    padding-right: 50px;
}

.titulo {
    font-weight: bold;
    font-size  : 16px;
}

.textos14 {
    font-size: 14px;
}

.textosBold14 {
    font-size    : 14px;
    font-weight  : 550;
    padding-right: 5px;
}

.textBold {
    font-weight: 550;
}

.text12 {
    font-size: 12px !important;
}

.tipo-tarea {
    border     : 1px solid $bordes;
    min-height : 30px;
    padding    : 5px 10px;
    font-size  : 13px;
    color      : $personalizado;
    display    : flex;
    align-items: center;
}

.menuParam {
    // border     : 1px solid $bordes;
    min-height : 30px;
    padding    : 5px 10px;
    font-size  : 13px;
    color      : $personalizado;
    display    : flex;
    align-items: center;
}

.metodoApi {
    display: flex;
    padding: 10px 0px;
}

.metodos {
    border                   : 1px solid $bordes;
    padding                  : 0px 10px;
    color                    : $personalizado;
    display                  : flex;
    align-items              : center;
    width                    : 180px;
    border-top-left-radius   : 10px;
    border-bottom-left-radius: 10px;
    border-right             : none;
}

.mat-mdc-option {
    min-height: 30px;
    color     : $personalizado;
    font-size : 13px;
}

.inputApi {
    width: 100%;
}

.menu {
    width: 35%;
}

.menusApi {
    padding: 10px 0px;
    display: flex;
}

.camposTabla {
    display: flex;
}

.campo,
.valor,
.descripcion {
    width        : 100%;
    border       : solid 1px $bordes;
    border-bottom: none;
}

.campo,
.valor {
    border-right: none;
}

.txtCampo,
.txtValor,
.txtDescripcion {
    width       : 100%;
    padding     : 5px 10px;
    background  : none;
    outline     : none;
    border-style: none;
}

.campoN,
.valorN,
.descripcionN {
    width : 100%;
    border: solid 1px $bordes;
}

.campoN,
.valorN {
    border-right: none;
}

.padding5x10 {
    padding: 5px 10px;
}

.barra-de-busqueda:hover {
    border: 1px solid $personalizado;
}

// estilos para los inputs 
.barra-de-busqueda {
    width        : 100%;
    background   : none;
    font-size    : 14px;
    outline      : none;
    border-style : none;
    border       : 0.5px solid $bordes;
    color        : $personalizado;
    border-radius: 10px;
    padding      : 10px;
}

.urlApi {
    width                     : 100%;
    background                : none;
    font-size                 : 14px;
    outline                   : none;
    border-style              : none;
    border                    : 0.5px solid $bordes;
    color                     : $personalizado;
    padding                   : 10px;
    border-top-right-radius   : 10px;
    border-bottom-right-radius: 10px;
}

.menuDesc {
    width: 45%;
}

.firmaDoc {
    padding: 10px 0px;
}

.nodoFirma {
    width        : 100%;
    border       : solid 1px $bordes;
    outline      : none;
    background   : transparent;
    min-height   : 25px;
    padding      : 10px 5px;
    border-radius: 10px;
}