<div *ngIf="!mantenimiento.isLoading">
    <mat-toolbar class="toolbarPhone">
        <mat-toolbar-row class="toolbar-row">
            <button mat-icon-button (click)="backPage() " matTooltip="{{ 'pos.botones.regresar' | translate }}">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button (click)="loadData()">
                <mat-icon>refresh</mat-icon>
            </button>
            <span class="spacer"></span>
            <p class="titulo">Api Detalle</p>
            <span class="spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-toolbar class="toolbarlargeTitle">
        <button mat-icon-button (click)="backPage() " matTooltip="{{ 'pos.botones.regresar' | translate }}">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-icon-button (click)="loadData()">
            <mat-icon>refresh</mat-icon>
        </button>
        <span class="spacer"></span>
        <p class="titulo">Api Detalle</p>
        <span class="spacer"></span>
    </mat-toolbar>

    <div class="container_main" #contentContainer>

        <div class="metodoApi">
            <mat-select class="metodos" name="tipo" placeholder="{{ 'pos.apis.metodosT' | translate }}"
                [(ngModel)]="metodo">
                <mat-option *ngFor="let tipo of catalogoTipoMetodo" [value]="tipo">
                    {{tipo.Nombre}}
                </mat-option>
            </mat-select>
            <form #searchForm="ngForm" (ngSubmit)="aceptar()" class="inputApi">
                <input class="urlApi" type="text" name="search" [(ngModel)]="api!.Url_Api" autocomplete="off">
            </form>
        </div>

        <div class="menusApi">
            <div class="menuDesc">
                <p class="textBold">Servicio:</p>
                <mat-select class="tipo-tarea" name="tipoDato" placeholder="{{ 'pos.apis.servicioT' | translate }}"
                    [(ngModel)]="servicio">
                    <mat-option *ngFor="let tipo of catalogoTipoServicio" [value]="tipo">
                        {{tipo.Nombre}}
                    </mat-option>
                </mat-select>
            </div>
            <span class="spacer"></span>
            <div class="menuDesc">
                <p class="textBold">Respuesta:</p>
                <mat-select class="tipo-tarea" name="tipoDato" placeholder="{{ 'pos.apis.respuestaT' | translate }}"
                    [(ngModel)]="respuesta">
                    <mat-option *ngFor="let tipo of catalogoTipoRespuesta" [value]="tipo">
                        {{tipo.Nombre}}
                    </mat-option>
                </mat-select>
            </div>
        </div>

        <div class="camposTabla">
            <div class="campo padding5x10">
                <p class="textBold">Parametro</p>
            </div>
            <div class="valor padding5x10">
                <p class="textBold">Plantilla</p>
            </div>
            <div class="valor padding5x10">
                <p class="textBold">Tipo de Dato</p>
            </div>
            <div class="descripcion padding5x10">
                <p class="textBold">Descripcion</p>
            </div>
        </div>
        <div class="camposTabla" *ngFor="let parametro of catalogoParametro ">
            <div class="campo">
                <input type="text" class="txtCampo" [(ngModel)]="getTipoParametro(parametro.Tipo_Parametro)!.Nombre">
            </div>
            <div class="valor">
                <input type="text" class="txtValor" [(ngModel)]="parametro.Plantilla">
            </div>
            <div class="valor">
                <p class="txtValor">{{getTipoDato(parametro.Tipo_Dato)?.Nombre}}</p>
            </div>
            <div class="descripcion">
                <input type="text" class="txtDescripcion" [(ngModel)]="parametro.Descripcion">
            </div>
        </div>
        <div class="camposTabla">
            <div class="campo">
                <input type="text" class="txtCampo" placeholder="Parametro">
            </div>
            <div class="valor">
                <input type="text" class="txtValor" placeholder="Plantilla">
            </div>
            <div class="valor">
                <input type="text" class="txtValor" placeholder="Tipo de Dato">
            </div>
            <div class="descripcion">
                <input type="text" class="txtDescripcion" placeholder="Descripcion">
            </div>
        </div>
        <!-- Para nuevo -->
        <div class="camposTabla">
            <div class="campoN">
                <input type="text" class="txtCampo" [(ngModel)]="parametroN" placeholder="Parametro">
            </div>
            <div class="valorN">
                <input type="text" class="txtValor" [(ngModel)]="valorN" placeholder="Plantilla">
            </div>
            <div class="valorN">
                <input type="text" class="txtValor" [(ngModel)]="valorN" placeholder="Tipo de Dato">
            </div>
            <div class="descripcionN">
                <input type="text" class="txtDescripcion" [(ngModel)]="descripcionN" placeholder="Descripcion">
            </div>
        </div>
    </div>
    <app-barra-logos></app-barra-logos>
</div>