<mat-toolbar-row class="head__sidenav">
 
    <!-- Titulo de la tarea -->
    <p class="titulo"></p>
</mat-toolbar-row>

<div class="container-main">
    <div class="sin-conexion">
        <span class="spacer"></span>
        <div class="centro">
            <mat-icon class="salio-mal">cloud_off</mat-icon>
            <p class="titulo">{{'pos.alertas.salioMal' | translate}}</p>
            <div class="dFlex">
                <button mat-stroked-button (click)="verInforme()">{{'pos.botones.informe' | translate}}</button>
                <span class="spacer"></span>
                <button mat-stroked-button (click)="reload()">{{'pos.botones.reintentar' | translate}}</button>
            </div>
        </div>
        <span class="spacer"></span>
    </div>
</div>
<!-- Mostrar logos -->
<!-- <app-barra-logos></app-barra-logos> -->
<app-barra-logo-demosoft></app-barra-logo-demosoft>