$color-blanco            : #ffffff;
$bordes                  : #c4c4c4;
// $fondo-oscuro      : #121212;
$fondo-oscuro            : #302f2f;
$iconos                  : #c4c4c4;
$radio-buttons           : #ffffff;
// $borde-no-seleccionado: #797272;
$borde-no-seleccionado   : #635f5f;
$color-naranja           : #df9722;
$seleccionado            : #635f5f;
$placeholder             : #eef0f3e0;
$scrollbars              : $borde-no-seleccionado;
$color-azul              : #2764bd;
$color-verde             : #44ff14;
$color-rojo              : #f93c3c;
$producto                : rgba(0, 0, 0, 0.12);
$navegacion              : #252323;
$negro                   : #000;
$tareas                  : #939292;
$notificaciones          : #182420;
$texto-notificacion      : #ff4081;
$azul-menu               : #134895;
$rojo-error              : #cc4141;
$sombra-campos           : #8b8b8b;
$fondo-campos            : #3d3c3c;

html,
body {
    height          : 100%;
    background-color: #FEF5E7 !important;
    font-family     : 'Playfair Display', serif;

    //tamaño para todos los textos de toda la aplicacion
    p,
    h2,
    h4,
    label,
    button,
    input,
    textarea,
    //mennu
    .mat-mdc-select-value,
    //mennu
    .mat-mdc-select-value-text,
    //opciones de menu
    .mat-mdc-option .mdc-list-item__primary-text,
    .mat-mdc-outlined-button .mdc-button__label {
        font-size: var(--global-font-size) !important; // Utiliza la variable CSS
    }

    //textos que no van cambiar
    .inicial-usuario-h,
    .inicial-usuario-grande {
        font-size: 35px !important;
    }

    .desa {
        font-size: 14px !important;
    }

    .form-switch .form-check-input,
    .nombre-fecha {
        font-size: 20px !important;
    }

    .completado {
        font-size: 12px !important;
    }

    //Numeros de la hora de los Relojes
    .timepicker-dial__item {
        font-size: 50px !important;
    }

    //Textos "AM"/"PM" de los Relojes
    .timepicker-period__btn {
        font-size: 18px !important;
    }

    .mat-mdc-select-value-text {
        color: $azul-menu !important;
    }

    .descripcion-tarea {
        font-size: 10.5px !important;
    }

    .mes-nombre,
    .semana-nombre,
    .dia-nombre-pc {
        font-size  : 18px !important;
        font-weight: 500 !important;
    }

}

.center-snackbar {
    position : fixed !important;
    left     : 50% !important;
    top      : 85% !important;
    transform: translate(-50%, -50%) !important;
    z-index  : 1000 !important;
}

input[type='number'] {
    appearance        : textfield;
    -moz-appearance   : textfield;
    -webkit-appearance: none;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin            : 0;
    }
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importa los estilos de Angular Material */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

//Define los estilos específicos del tema oscuro 
.dark-theme {
    background-color: #121212; //Fondo oscuro
    color           : $color-blanco; // Texto claro en fondo oscuro
}

// .dark-theme .toolbarNavegacion,
.dark-theme .toolbarNavScreenShort,
.dark-theme .toolbarNavegacion {
    background-color: $navegacion !important;
    color           : $color-blanco !important;
}

.dark-theme .producto-seleccionado {
    background-color: $producto !important;
}

@media screen and (max-width: 767px) {

    .dark-theme .mes-dias,
    .dark-theme .dias-semana,
    .dark-theme .textos-hora-tarea {
        border-top: 1px solid $bordes !important;
    }
}

.dark-theme body,
.dark-theme html {
    background-color: $fondo-oscuro !important;
}

//Aplica el tema oscuro a elementos específicos si es necesario 
.dark-theme .container_start,
.dark-theme .toolbarlarge,
.dark-theme .toolbarlargeTitle,
.dark-theme mat-toolbar-row,
.dark-theme .head__sidenav,
.dark-theme .detallesUsuario,
.dark-theme .toolbar-large,
.dark-theme .backColorNavBar,
.dark-theme .ajustes,
.dark-theme .lenguajes,
.dark-theme .acciones,
.dark-theme .contenido-sidenav,
.dark-theme #notfound,
.dark-theme .seleccionar,
.dark-theme .mdc-menu-surface.mat-mdc-select-panel,
.dark-theme .container-main,
.dark-theme .dialog,
.dark-theme .informacion,
.dark-theme .head__sidenav_config,
.dark-theme .barra-cerrar-titulo,
.dark-theme .container_main,
.dark-theme .container-main,
.dark-theme .sidenav_container,
.dark-theme .observaciones,
.dark-theme .observaciones_desc,
.dark-theme .detalle-tarea,
.dark-theme .elementos-detalle,
.dark-theme .editar-detalle,
.dark-theme .mat-expansion-panel-body,
.dark-theme .detalles,
.dark-theme .color_fondo,
.dark-theme mat-expansion-panel-header-0,
.dark-theme .progress,
.dark-theme #notfound,
.dark-theme mat-calendar,
.dark-theme .llenar-formulario,
.dark-theme .mdc-menu-surface.mat-mdc-select-panel,
.dark-theme mat-dialog-content,
.dark-theme .dialog,
.dark-theme .head_bottom_sidenav,
.dark-theme mat-sidenav,
.dark-theme .ajustes,
.dark-theme .primerDia,
.dark-theme .example-radio-button,
.dark-theme .mat-mdc-radio-button .mdc-form-field,
.dark-theme .detallesUsuario,
.dark-theme .horarioLaboral,
.dark-theme .lenguajes,
.dark-theme .row,
.dark-theme .container,
.dark-theme .acciones,
.dark-theme .menuVistas,
.dark-theme .opcion-vista {
    background-color: $fondo-oscuro !important;
    color           : $color-blanco !important;
}

.dark-theme .progress {
    background-color: $fondo-oscuro !important;
    color           : $color-blanco !important;
    padding         : 0px !important;
}

.dark-theme .detalle-derecho,
.dark-theme .detalle-actualizar {
    background-color: $negro !important;
    font-weight     : none !important;
}

.dark-theme .negrita .dark-theme .tituloTarea,
.dark-theme .negrita,
.dark-theme .comentario,
.dark-theme .pTitulo,
.dark-theme .userName,
.dark-theme .ajustesMenu,
.dark-theme .titulo-tema {
    font-weight: normal !important;
}

.dark-theme .tarea,
.dark-theme .mat-mdc-outlined-button {
    background-color: #333 !important;
    color           : #ffffff !important;
    border          : 1px solid #CED4DA !important;
}

//FONDOS EN COLOR GRIS Y TEXTOS EN COLOR BLANCO
.dark-theme .container_start {
    background-color: $fondo-oscuro !important;
    color           : $color-blanco;
}

//FONDOS EN COLOR GRIS 
.dark-theme .container_start,
.dark-theme .container_main,
.dark-theme .mat-drawer-inner-container,
.dark-theme .bancos:hover,
.dark-theme .centrar {
    background-color: $fondo-oscuro !important;
}

//TEXTOS EN COLOR BLANCO
.dark-theme .contenedorModulo,
.dark-theme .desa,
.dark-theme .mat-mdc-radio-button .mdc-form-field,
.dark-theme p,
.dark-theme h2,
.dark-theme h4,
.dark-theme .mat-mdc-option .mdc-list-item__primary-text,
.dark-theme .barra-de-busqueda,
.dark-theme .mat-mdc-select-arrow svg,
.dark-theme .detalles,
.dark-theme .barra-monto,
.dark-theme .sumar,
.dark-theme .cantidad,
.dark-theme .restar,
.dark-theme .url-apis,
.dark-theme .form-control,
.dark-theme .hora,
.dark-theme .campos,
.dark-theme .precio-unitario,
.dark-theme .contenedorModulo,
.dark-theme .desa,
.dark-theme .mat-mdc-button.mat-unthemed,
.dark-theme .barra-de-busqueda,
.dark-theme .iconoLupa,
.dark-theme .escribir-comentario,
.dark-theme .mat-expansion-panel-header-description,
.dark-theme .nueva-dia,
.dark-theme .nueva,
.dark-theme .mat-calendar-body-cell-content,
.dark-theme .mat-calendar-body-label,
.dark-theme .mat-calendar-table-header th,
.dark-theme .mat-calendar-arrow,
.dark-theme .mat-mdc-select-value-text,
.dark-theme .form-control,
.dark-theme .fechas,
.dark-theme .descripcion-tarea,
.dark-theme .observacion-tarea,
.dark-theme .titulo-tarea,
.dark-theme .minutos,
.dark-theme .referenciaObtenida,
.dark-theme .ico-calendario,
.dark-theme .mat-mdc-option .mdc-list-item__primary-text,
.dark-theme .mat-mdc-select-arrow svg,
.dark-theme .close,
.dark-theme .inputSearch,
.dark-theme .ajustesMenu,
.dark-theme h4,
.dark-theme h2,
.dark-theme p,
.dark-theme .hora,
.dark-theme .cantidad-detalle,
.dark-theme .tipo-tarea,
.dark-theme .seleccionar-tiempo {
    color: $color-blanco !important;
}

//BORDE IZQUIERDO
.dark-theme .container_start {
    border-right: 1px solid $bordes !important;
}

//BORDE ABAJO
.dark-theme .toolbar-large,
.dark-theme .head__sidenav_config,
.dark-theme .detalles-usuario,
.dark-theme .configuraciones,
.dark-theme .barra-cerrar-titulo,
.dark-theme .input-container,
.dark-theme .seleccionar,
.dark-theme .head__sidenav,
.dark-theme .toolbarlargeTitle,
.dark-theme .toolbar-row,
.dark-theme .borde-detalles,
.dark-theme .cantidad-detalle,
.dark-theme .configuraciones-digitos,
.dark-theme .observacion-tarea,
.dark-theme .titulo-tarea {
    border-bottom: 1px solid $bordes !important;
}

.dark-theme .error.observacion-tarea,
.dark-theme .error.titulo-tarea {
    border-bottom: 2px solid $rojo-error !important;
}

.dark-theme .dia-nombre,
.dark-theme .dia-tarea-mes,
.dark-theme .dia-tarea-semana,
.dark-theme .nombre-horario-tarea {
    border-bottom: 1px solid $bordes !important;
    border-right : 1px solid $bordes !important;
}

.dark-theme mat-toolbar,
.dark-theme .head__sidenav {
    border-bottom: 1px solid $bordes !important;
}

.dark-theme .mostrar-tareas,
.dark-theme .tareas-dia-hora {
    border: 0.5px solid $tareas !important;
}

// Borde derecho
.dark-theme .detalles-hora {
    border-right: 1px solid #FFF3E0 !important;
}

// Borde izquierdo 
.dark-theme .detalle-tarea {
    border-left: 1px solid #ffffff !important;
}

// Borde de abajo
.dark-theme .alto-cuadro-tarea,
.dark-theme .mat-calendar-table-header-divider {
    border-bottom: 1px solid #c4c4c4 !important;
}

//BORDE ARRIBA
.dark-theme .backColorNavBar,
.dark-theme .logos,
.dark-theme .detalle-documento,
.dark-theme .productos-pagos,
.dark-theme .documento,
.dark-theme .pago,
.dark-theme .seleccionar-opcion {
    border-top: 1px solid $bordes !important;
}

.dark-theme .itemRouteActive,
.dark-theme .contenedorModulo,
.dark-theme .descripcion,
.dark-theme .mat-mdc-mini-fab .mat-icon,
.mat-mdc-mini-fab .material-icons,
// .mdc-button .mdc-button__label
.dark-theme .mat-mdc-select-value-text,
.dark-theme label,
.dark-theme .observacion,
.dark-theme .close,
.dark-theme .total,
.dark-theme .iconoCargo,
.dark-theme .iconoDescuento,
.dark-theme .informacion-tema,
.dark-theme .mat-expansion-panel-header-description,
.dark-theme .mat-expansion-panel-header-description,
.mat-expansion-indicator::after,
.dark-theme .chip,
.dark-theme mat-calendar-arrow {
    color: $color-blanco !important;
}

.dark-theme .itemRouteActive:hover {
    color : $color-blanco !important;
    cursor: pointer;
}

// .dark-theme .mat-mdc-select-value {
//     background-color: rgb(127 121 121 / 18%) !important;
// }

.dark-theme .mat-mdc-select-arrow svg,
.dark-theme .informacion-fondo,
.dark-theme .detalles-fondo,
.dark-theme .buscar-cliente,
.dark-theme .detalles-fondo-v,
.dark-theme .cantidad-producto,
.dark-theme .cantidad-fondo {
    background-color: rgb(127 121 121 / 18%) !important;
}

.dark-theme .iconos-detalles,
.dark-theme .iconoLupa,
.dark-theme button:not(:disabled) {
    color: $iconos !important;
}

.dark-theme .subtitulo {
    font-weight: 550;
}

.dark-theme input::placeholder,
.dark-theme .mat-mdc-select-placeholder,
.dark-theme textarea::placeholder {
    color: $placeholder !important;
}

//sin bordes

.dark-theme .documentos-origen,
.dark-theme .documentos-procesados {
    border: none !important;
}

.dark-theme .form-control {
    border: 1px solid $bordes !important;
}

//cargo-decuento-saldo

.dark-theme .saldo {
    color: $color-azul !important;
}

.dark-theme .cargo {
    color: $color-verde !important;
}

.dark-theme .descuento,
.dark-theme .obligatorio,
.dark-theme .obligatorio25 {
    color: $color-rojo !important;
}

.dark-theme .pestana {
    border-bottom: 1px solid $borde-no-seleccionado !important;
    border-right : 1px solid $borde-no-seleccionado !important;
    border-left  : 1px solid $borde-no-seleccionado !important;
}

.dark-theme .titulo-pestana:checked+.pestana {
    color: $color-blanco !important;
}

.dark-theme .pestana:hover {
    color : $color-naranja !important;
    cursor: pointer;
}

//BORDES DE BOTONES
.dark-theme button:not(:disabled),
.dark-theme .barra-monto,
.dark-theme .total,
.dark-theme .centro,
.dark-theme .seleccionar-impresora,
.dark-theme .restar,
.dark-theme .sumar,
.dark-theme .cantidad,
.dark-theme .hora-calendario,
.dark-theme .bf {
    border-color: $bordes !important;
}

.dark-theme .pestana {
    color: $bordes !important;
}

.dark-theme .detalles:hover {
    border-bottom: 1px solid $color-naranja !important;
}

.dark-theme .campos:hover {
    border-bottom: 1px solid $iconos !important;
}

.dark-theme .seleccionar:hover,
.dark-theme .seleccionar-invitados:hover {
    background-color: $seleccionado !important;
}

//Borde blanco para totales
.dark-theme .total-barra {
    border-top: 1px solid $color-blanco !important;
}


//radio buttons

.dark-theme .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: $radio-buttons !important;
}

.dark-theme .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $radio-buttons !important;
}

.dark-theme .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: $radio-buttons !important;
}

.dark-theme .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $radio-buttons !important;

}

//scrolls 

.dark-theme .documento::-webkit-scrollbar,
.dark-theme .documento::-webkit-scrollbar-track,
.dark-theme .container-main::-webkit-scrollbar,
.dark-theme .container-main::-webkit-scrollbar-track,
.dark-theme .container_main::-webkit-scrollbar,
.dark-theme .container_main::-webkit-scrollbar-track,
.dark-theme .toolbarNavScreenShort::-webkit-scrollbar,
.dark-theme .toolbarNavScreenShort::-webkit-scrollbar-track,
.dark-theme .container_start::-webkit-scrollbar,
.dark-theme .container_start::-webkit-scrollbar-track,
.dark-theme .localidades::-webkit-scrollbar,
.dark-theme .localidades::-webkit-scrollbar-track,
.dark-theme .empresas::-webkit-scrollbar,
.dark-theme .empresas::-webkit-scrollbar-track,
.dark-theme .contenido::-webkit-scrollbar,
.dark-theme .contenido::-webkit-scrollbar-track,
.dark-theme .dialog::-webkit-scrollbar,
.dark-theme .dialog::-webkit-scrollbar-track,
.dark-theme .detalle-container::-webkit-scrollbar,
.dark-theme .detalle-container::-webkit-scrollbar-track,
.dark-theme .lista-bancos::-webkit-scrollbar,
.dark-theme .lista-bancos::-webkit-scrollbar-track,
.dark-theme .contenido::-webkit-scrollbar,
.dark-theme .contenido::-webkit-scrollbar-track,
.dark-theme .pagos-gregados::-webkit-scrollbar,
.dark-theme .pagos-gregados::-webkit-scrollbar-track,
.dark-theme .container_main::-webkit-scrollbar,
.dark-theme .container_main::-webkit-scrollbar-track,
.dark-theme .comentarios::-webkit-scrollbar-track,
.dark-theme .comentarios::-webkit-scrollbar,
.dark-theme .detalle::-webkit-scrollbar-track,
.dark-theme .detalle::-webkit-scrollbar,
.dark-theme .dialog::-webkit-scrollbar-track,
.dark-theme .dialog::-webkit-scrollbar,
.dark-theme .horarioLaboral::-webkit-scrollbar,
.dark-theme .horarioLaboral::-webkit-scrollbar-track,
.dark-theme .contenedor::-webkit-scrollbar,
.dark-theme .contenedor::-webkit-scrollbar-track,
.dark-theme .llenar-formulario::-webkit-scrollbar,
.dark-theme .llenar-formulario::-webkit-scrollbar-track,
.dark-theme .detalle-tarea::-webkit-scrollbar,
.dark-theme .detalle-tarea::-webkit-scrollbar-track,
.dark-theme .contenido-sidenav::-webkit-scrollbar,
.dark-theme .contenido-sidenav::-webkit-scrollbar-track {
    background-color: $fondo-oscuro !important;
}



//Color barra scroll

.dark-theme .documento::-webkit-scrollbar-thumb,
.dark-theme .localidades::-webkit-scrollbar-thumb,
.dark-theme .empresas::-webkit-scrollbar-thumb,
.dark-theme .contenido::-webkit-scrollbar-thumb,
.dark-theme .container_main::-webkit-scrollbar-thumb,
.dark-theme .toolbarNavScreenShort::-webkit-scrollbar-thumb,
.dark-theme .container_start::-webkit-scrollbar-thumb,
.dark-theme .container-main::-webkit-scrollbar-thumb,
.dark-theme .dialog::-webkit-scrollbar-thumb,
.dark-theme .detalle-container::-webkit-scrollbar-thumb,
.dark-theme .lista-bancos::-webkit-scrollbar-thumb,
.dark-theme .contenido::-webkit-scrollbar-thumb,
.dark-theme .pagos-gregados::-webkit-scrollbar-thumb,
.dark-theme .button_up_content,
.dark-theme .button_down_content,
.dark-theme .container_main::-webkit-scrollbar-thumb,
.dark-theme .comentarios::-webkit-scrollbar-thumb,
.dark-theme .detalle::-webkit-scrollbar-thumb,
.dark-theme .dialog::-webkit-scrollbar-thumb,
.dark-theme .horarioLaboral::-webkit-scrollbar-thumb,
.dark-theme .contenedor::-webkit-scrollbar-thumb,
.dark-theme .llenar-formulario::-webkit-scrollbar-thumb,
.dark-theme .detalle-tarea::-webkit-scrollbar-thumb,
.dark-theme .contenido-sidenav::-webkit-scrollbar-thumb {
    background-color: $scrollbars !important;
}

.dark-theme .mat-mdc-snack-bar-container .mdc-snackbar__surface {
    background-color: $notificaciones !important;
}

.dark-theme .mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled) {
    color: $texto-notificacion !important;
}

.dark-theme .detalles-fondo,
.dark-theme .buscar-cliente,
.dark-theme .informacion-fondo,
.dark-theme .cantidad-producto,
.dark-theme .cantidad-fondo {
    box-shadow: 0px 1px 0px 1px rgb(242 242 242 / 29%) !important;
}

.dark-theme .bloque-menus {
    background-color: #252323 !important;
}