$color-blanco            : #ffffff;
$bordes                  : #c4c4c4;
// $fondo-oscuro      : #121212;
$fondo-oscuro            : #302f2f;
$iconos                  : #c4c4c4;
$radio-buttons           : #ffffff;
// $borde-no-seleccionado: #797272;
$borde-no-seleccionado   : #635f5f;
$color-naranja           : #df9722;
$seleccionado            : #635f5f;
$placeholder             : #e3ebfcb7;
$scrollbars              : $borde-no-seleccionado;
$color-azul              : #2764bd;
$color-verde             : #44ff14;
$color-rojo              : #f93c3c;
$producto                : rgba(0, 0, 0, 0.12);
$navegacion              : #252323;

html,
body {
    height          : 100%;
    background-color: #FEF5E7 !important;
    font-family     : 'Playfair Display', serif;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importa los estilos de Angular Material */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

//Define los estilos específicos del tema oscuro 
.dark-theme {
    background-color: #121212; //Fondo oscuro
    color           : $color-blanco; // Texto claro en fondo oscuro
}

// .dark-theme .toolbarNavegacion,
.dark-theme .toolbarNavScreenShort,
.dark-theme .toolbarNavegacion {
    background-color: $navegacion !important;
    color           : $color-blanco !important;
}

.dark-theme .producto-seleccionado {
    background-color: $producto !important;
}

//Aplica el tema oscuro a elementos específicos si es necesario 
.dark-theme .container_start,
.dark-theme .toolbarlarge,
.dark-theme mat-toolbar-row,
.dark-theme .head__sidenav,
.dark-theme .detallesUsuario,
.dark-theme .toolbar-large,
.dark-theme .backColorNavBar,
.dark-theme .ajustes,
.dark-theme .lenguajes,
.dark-theme .acciones,
.dark-theme .contenido-sidenav,
.dark-theme #notfound,
.dark-theme .seleccionar,
.dark-theme .mdc-menu-surface.mat-mdc-select-panel,
.dark-theme .container-main,
.dark-theme .dialog,
.dark-theme .informacion,
.dark-theme .head__sidenav_config,
.dark-theme .barra-cerrar-titulo {
    background-color: $fondo-oscuro !important;
    color           : $color-blanco !important;
}

.dark-theme .progress {
    background-color: $fondo-oscuro !important;
    color           : $color-blanco !important;
    padding         : 0px !important;
}


//FONDOS EN COLOR GRIS Y TEXTOS EN COLOR BLANCO
.dark-theme .container_start {
    background-color: $fondo-oscuro !important;
    color           : $color-blanco;
}

//FONDOS EN COLOR GRIS 
.dark-theme .container_start,
.dark-theme .container_main,
.dark-theme .mat-drawer-inner-container,
.dark-theme .bancos:hover,
.dark-theme .centrar {
    background-color: $fondo-oscuro !important;
}

//TEXTOS EN COLOR BLANCO
.dark-theme .contenedorModulo,
.dark-theme .desa,
.dark-theme .mat-mdc-radio-button .mdc-form-field,
.dark-theme p,
.dark-theme h2,
.dark-theme h4,
.dark-theme .mat-mdc-option .mdc-list-item__primary-text,
.dark-theme .barra-de-busqueda,
.dark-theme .mat-mdc-select-arrow svg,
.dark-theme .detalles,
.dark-theme .barra-monto,
.dark-theme .sumar,
.dark-theme .cantidad,
.dark-theme .restar,
.dark-theme .url-apis {
    color: $color-blanco !important;
}

//BORDE IZQUIERDO
.dark-theme .container_start {
    border-right: 1px solid $bordes !important;
}

//BORDE ABAJO
.dark-theme .toolbar-large,
.dark-theme .head__sidenav_config,
.dark-theme .detalles-usuario,
.dark-theme .configuraciones,
.dark-theme .barra-cerrar-titulo,
.dark-theme .input-container,
.dark-theme .seleccionar {
    border-bottom: 1px solid $bordes !important;
}

//BORDE ARRIBA
.dark-theme .backColorNavBar,
.dark-theme .logos,
.dark-theme .detalle-documento,
.dark-theme .productos-pagos,
.dark-theme .documento,
.dark-theme .contenido,
.dark-theme .pago {
    border-top: 1px solid $bordes !important;
}

.dark-theme .itemRouteActive,
.dark-theme .contenedorModulo,
.dark-theme .descripcion,
.dark-theme .mat-mdc-mini-fab .mat-icon,
.mat-mdc-mini-fab .material-icons,
// .mdc-button .mdc-button__label
.dark-theme .mat-mdc-select-value-text,
.dark-theme label,
.dark-theme .observacion,
.dark-theme .close,
.dark-theme .total,
.dark-theme .iconoCargo,
.dark-theme .iconoDescuento,
.dark-theme .informacion-tema,
.dark-theme .mat-expansion-panel-header-description,
.dark-theme .mat-expansion-panel-header-description,
.mat-expansion-indicator::after,
.dark-theme .chip {
    color: $color-blanco !important;
}

.dark-theme .itemRouteActive:hover {
    color : $color-blanco !important;
    cursor: pointer;
}

.dark-theme .iconos-detalles,
.dark-theme .iconoLupa,
.dark-theme button:not(:disabled) {
    color: $iconos !important;
}

.dark-theme .subtitulo {
    font-weight: 550;
}

.dark-theme input::placeholder,
.dark-theme .mat-mdc-select-placeholder,
.dark-theme textarea::placeholder {
    color: $placeholder !important;
}

//cargo-decuento-saldo

.dark-theme .saldo {
    color: $color-azul !important;
}

.dark-theme .cargo {
    color: $color-verde !important;
}

.dark-theme .descuento {
    color: $color-rojo !important;
}

.dark-theme .pestana {
    border-bottom: 1px solid $borde-no-seleccionado !important;
    border-right : 1px solid $borde-no-seleccionado !important;
    border-left  : 1px solid $borde-no-seleccionado !important;
}

.dark-theme .titulo-pestana:checked+.pestana {
    color: $color-blanco !important;
}

.dark-theme .pestana:hover {
    color : $color-naranja !important;
    cursor: pointer;
}

//BORDES DE BOTONES
.dark-theme button:not(:disabled),
.dark-theme .barra-monto,
.dark-theme .total,
.dark-theme .centro {
    border-color: $bordes !important;
}

.dark-theme .pestana {
    color: $bordes !important;
}

.dark-theme .detalles:hover {
    border-bottom: 1px solid $color-naranja !important;
}

//Borde blanco para totales
.dark-theme .total-barra {
    border-top: 1px solid $color-blanco !important;
}


//radio buttons

.dark-theme .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: $radio-buttons !important;
}

.dark-theme .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $radio-buttons !important;
}

.dark-theme .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
    border-color: $radio-buttons !important;
}

.dark-theme .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: $radio-buttons !important;

}

//scrolls 

.dark-theme .documento::-webkit-scrollbar,
.dark-theme .documento::-webkit-scrollbar-track,
.dark-theme .container-main::-webkit-scrollbar,
.dark-theme .container-main::-webkit-scrollbar-track,
.dark-theme .container_main::-webkit-scrollbar,
.dark-theme .container_main::-webkit-scrollbar-track,
.dark-theme .toolbarNavScreenShort::-webkit-scrollbar,
.dark-theme .toolbarNavScreenShort::-webkit-scrollbar-track,
.dark-theme .container_start::-webkit-scrollbar,
.dark-theme .container_start::-webkit-scrollbar-track,
.dark-theme .localidades::-webkit-scrollbar,
.dark-theme .localidades::-webkit-scrollbar-track,
.dark-theme .empresas::-webkit-scrollbar,
.dark-theme .empresas::-webkit-scrollbar-track,
.dark-theme .contenido::-webkit-scrollbar,
.dark-theme .contenido::-webkit-scrollbar-track,
.dark-theme .dialog::-webkit-scrollbar,
.dark-theme .dialog::-webkit-scrollbar-track,
.dark-theme .detalle-container::-webkit-scrollbar,
.dark-theme .detalle-container::-webkit-scrollbar-track,
.dark-theme .lista-bancos::-webkit-scrollbar,
.dark-theme .lista-bancos::-webkit-scrollbar-track,
.dark-theme .contenido::-webkit-scrollbar,
.dark-theme .contenido::-webkit-scrollbar-track,
.dark-theme .pagos-gregados::-webkit-scrollbar,
.dark-theme .pagos-gregados::-webkit-scrollbar-track {
    background-color: $fondo-oscuro !important;
}



//Color barra scroll

.dark-theme .documento::-webkit-scrollbar-thumb,
.dark-theme .localidades::-webkit-scrollbar-thumb,
.dark-theme .empresas::-webkit-scrollbar-thumb,
.dark-theme .contenido::-webkit-scrollbar-thumb,
.dark-theme .container_main::-webkit-scrollbar-thumb,
.dark-theme .toolbarNavScreenShort::-webkit-scrollbar-thumb,
.dark-theme .container_start::-webkit-scrollbar-thumb,
.dark-theme .container-main::-webkit-scrollbar-thumb,
.dark-theme .dialog::-webkit-scrollbar-thumb,
.dark-theme .detalle-container::-webkit-scrollbar-thumb,
.dark-theme .lista-bancos::-webkit-scrollbar-thumb,
.dark-theme .contenido::-webkit-scrollbar-thumb,
.dark-theme .pagos-gregados::-webkit-scrollbar-thumb {
    background-color: $scrollbars !important;
}