<app-error *ngIf="verError" [regresar]="regresar"></app-error>
<div *ngIf="!verError">
    <app-progress *ngIf="isLoading" class="progress"></app-progress>
    <div *ngIf="!isLoading">

        <app-detalle-tarea *ngIf="verDetalles && !verCrear"></app-detalle-tarea>
        <app-nueva-tarea *ngIf="verCrear && !verDetalles" (desdeTareas)="backPageTareas($event)"
            (nuevaTarea)="addItem($event)"></app-nueva-tarea>

        <div *ngIf="tareaGlobalService.contenidoTareas">
            <mat-toolbar-row class="head__sidenav">
                <button mat-icon-button matTooltip="{{'pos.toolTip.regresarAnterior' | translate}}" (click)="goBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button mat-icon-button matTooltip="{{ 'pos.botones.actualizar' | translate }}" (click)="loadData()">
                    <mat-icon>refresh</mat-icon>
                </button>
                <span class="spacer"></span>
                <p class="titulo">{{dataUserService.nameDisplay }}</p>
                <span class="spacer"></span>
                <button mat-raised-button class="boton-azul" (click)="nuevaTarea()"
                    matTooltip="{{'crm.crear.crear' | translate}}">
                    <mat-icon>add</mat-icon>
                    {{'crm.crear.crear' | translate}}
                </button>
            </mat-toolbar-row>
            <div class="container-main" *ngIf="!isLoading">
                <!-- Buscar tareas por coincidencias -->
                <form #searchForm="ngForm" (ngSubmit)="buscarTarea()" class="inputSearch">
                    <div class="input-container-tarea">
                        <button class="iconoLupa" mat-icon-button>
                            <mat-icon>search</mat-icon> </button>
                        <input class="barra-de-busqueda" type="search" name="search" [(ngModel)]="searchText"
                            autocomplete="off" placeholder="{{'crm.crear.busqueda' | translate}}">
                    </div>
                </form>

                <input class="titulo-pestana" id="tab1" type="radio" name="tabs" [checked]="verTareas">
                <div class="pestana" for="tab1" matTooltip="{{'crm.tarea.todas' | translate}}" (click)="tareas()">
                    {{'crm.tarea.todas' | translate}}
                </div>

                <input class="titulo-pestana" id="tab2" type="radio" name="tabs" [checked]="verCreadas">
                <div class="pestana" for="tab2" matTooltip="{{'crm.tarea.creadas' | translate}}" (click)="creadas()">
                    {{'crm.tarea.creadas' | translate}}
                </div>

                <!-- <input class="titulo-pestana" id="tab3" type="radio" name="tabs" [checked]="verAsignadas">
                <div class="pestana" for="tab3" matTooltip="{{'crm.tarea.asignadas' | translate}}"
                    (click)="asignadas()">
                    {{'crm.tarea.asignadas' | translate}}
                </div> -->

                <input class="titulo-pestana" id="tab4" type="radio" name="tabs" [checked]="verInvitaciones">
                <div class="pestana" for="tab4" matTooltip="{{'crm.tarea.invitaciones' | translate}}"
                    (click)="invitaciones()">
                    {{'crm.tarea.invitaciones' | translate}}
                </div>

                <section id="content1" class="content1 contenido-seleccionado" *ngIf="verTareas">
                    <!-- Veremos todas las tareas del portal -->
                    <div class="container_main" #contentContainer>
                        <p class="coincidencias">{{'crm.home.registros' | translate}}
                            {{tareasEncontradas.length}}
                        </p>
                        <!--Boton ir arriba-->
                        <button *ngIf="irArriba" mat-mini-fab class="button_up_content" (click)="scrollUp()">
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <!--Boton ir abajo-->
                        <button *ngIf="irAbajo && !irArriba" mat-mini-fab class="button_down_content"
                            (click)="scrollDown()">
                            <mat-icon>south</mat-icon>
                        </button>
                        <!-- pantalla "NO ENCONTRADO" antes de iniciar busqueda -->
                        <app-not-found-item *ngIf="tareasEncontradas.length == 0 && !isLoading"></app-not-found-item>
                        <!--Lista de todas las tareas-->
                        <div *ngIf="tareasEncontradas.length != 0" class="tareas">
                            <div *ngFor="let item of tareasEncontradas">
                                <div class="list-group espacioLista" (click)="viewTask(item)">
                                    <a
                                        class="tarea list-group-item list-group-item-action flex-column align-items-start">
                                        <!-- Titulo Tarea -->
                                        <h5 class="negrita justificar fuente mb-1">{{item.descripcion}}</h5>
                                        <div class="dFlex">
                                            <p>{{ 'crm.tarea.tarea' | translate }} {{item.iD_Tarea}}</p>
                                            <span class="spacer"></span>
                                            <p class="alingLeft fuente negrita">{{ item.tarea_Estado}}</p>
                                            <div class="circulo-estado"
                                                [ngStyle]="{'background-color': item.backColor ? item.backColor : '#000'}">
                                            </div>
                                        </div>
                                        <small>
                                            {{ 'crm.tarea.creador' | translate }} {{item.usuario_Creador}}
                                        </small>
                                        <small class="alingLeft fuente">
                                            {{ 'crm.tarea.responsable' | translate }}
                                            {{ resolveObject(item.usuario_Responsable)}}
                                        </small>
                                        <br>
                                        <!-- id de la referencia y descripcion -->
                                        <small>{{ 'crm.tarea.idReferencia' | translate }}
                                            {{item.iD_Referencia}}</small>
                                        <small class="alingLeft fuente">
                                            {{ 'crm.tarea.fechaIni' | translate }}
                                            {{item.fecha_Inicial | date: 'dd/MM/yyyy hh:mm a'}}
                                        </small>
                                        <br>
                                        <!-- Descripcion (observacion) Tarea -->
                                        <div class="descripcion-tarjeta" *ngIf="item.tarea_Observacion_1">
                                            <small>{{ 'crm.tarea.descripcion' | translate }}</small>
                                            <p class="descripcion">{{item.tarea_Observacion_1}}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="content2" class="content2 contenido-seleccionado" *ngIf="verCreadas">
                    <!-- Veremos las tareas creadas por el usuario que inició sesion -->
                    <div class="container_main" #contentContainer>
                        <p class="coincidencias">{{'crm.home.registros' | translate}}
                            {{tareasEncontradas.length}}
                        </p>
                        <!--Boton ir arriba-->
                        <button *ngIf="irArriba" mat-mini-fab class="button_up_content" (click)="scrollUp()">
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <!--Boton ir abajo-->
                        <button *ngIf="irAbajo && !irArriba" mat-mini-fab class="button_down_content"
                            (click)="scrollDown()">
                            <mat-icon>south</mat-icon>
                        </button>
                        <!-- pantalla "NO ENCONTRADO" antes de iniciar busqueda -->
                        <app-not-found-item *ngIf="tareasEncontradas.length == 0 && !isLoading"></app-not-found-item>
                        <!--Lista de todas las tareas-->
                        <div *ngIf="tareasEncontradas.length != 0" class="tareas">
                            <div *ngFor="let item of tareasEncontradas">
                                <div class="list-group espacioLista" (click)="viewTask(item)">
                                    <a
                                        class="tarea list-group-item list-group-item-action flex-column align-items-start">
                                        <!-- Titulo Tarea -->
                                        <h5 class="negrita justificar fuente mb-1">{{item.descripcion}}</h5>
                                        <div class="dFlex">
                                            <p>{{ 'crm.tarea.tarea' | translate }} {{item.iD_Tarea}}</p>
                                            <span class="spacer"></span>
                                            <p class="alingLeft fuente negrita">{{ item.tarea_Estado}}</p>
                                            <div class="circulo-estado"
                                                [ngStyle]="{'background-color': item.backColor ? item.backColor : '#000'}">
                                            </div>
                                        </div>
                                        <small>
                                            {{ 'crm.tarea.creador' | translate }} {{item.usuario_Creador}}
                                        </small>
                                        <small class="alingLeft fuente">
                                            {{ 'crm.tarea.responsable' | translate }}
                                            {{ resolveObject(item.usuario_Responsable)}}
                                        </small>
                                        <br>
                                        <!-- id de la referencia y descripcion -->
                                        <small>{{ 'crm.tarea.idReferencia' | translate }}
                                            {{item.iD_Referencia}}</small>
                                        <small class="alingLeft fuente">
                                            {{ 'crm.tarea.fechaIni' | translate }}
                                            {{item.fecha_Inicial | date: 'dd/MM/yyyy hh:mm a'}}
                                        </small>
                                        <br>
                                        <!-- Descripcion (observacion) Tarea -->
                                        <div class="descripcion-tarjeta" *ngIf="item.tarea_Observacion_1">
                                            <small>{{ 'crm.tarea.descripcion' | translate }}</small>
                                            <p class="descripcion">{{item.tarea_Observacion_1}}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section id="content3" class="content3 contenido-seleccionado" *ngIf="verAsignadas">
                    <!-- Veremos las tareas asignadas al usuario que inició sesion -->
                </section>

                <section id="content4" class="content4 contenido-seleccionado" *ngIf="verInvitaciones">
                    <!-- Veremos las tareas a las que el usuario que inició sesion es invitado -->
                    <div class="container_main" #contentContainer>
                        <p class="coincidencias">{{'crm.home.registros' | translate}}
                            {{tareasEncontradas.length}}
                        </p>
                        <!--Boton ir arriba-->
                        <button *ngIf="irArriba" mat-mini-fab class="button_up_content" (click)="scrollUp()">
                            <mat-icon>arrow_upward</mat-icon>
                        </button>
                        <!--Boton ir abajo-->
                        <button *ngIf="irAbajo && !irArriba" mat-mini-fab class="button_down_content"
                            (click)="scrollDown()">
                            <mat-icon>south</mat-icon>
                        </button>
                        <!-- pantalla "NO ENCONTRADO" antes de iniciar busqueda -->
                        <app-not-found-item *ngIf="tareasEncontradas.length == 0 && !isLoading"></app-not-found-item>
                        <!--Lista de todas las tareas-->
                        <div *ngIf="tareasEncontradas.length != 0" class="tareas">
                            <div *ngFor="let item of tareasEncontradas">
                                <div class="list-group espacioLista" (click)="viewTask(item)">
                                    <a
                                        class="tarea list-group-item list-group-item-action flex-column align-items-start">
                                        <!-- Titulo Tarea -->
                                        <h5 class="negrita justificar fuente mb-1">{{item.descripcion}}</h5>
                                        <div class="dFlex">
                                            <p>{{ 'crm.tarea.tarea' | translate }} {{item.iD_Tarea}}</p>
                                            <span class="spacer"></span>
                                            <p class="alingLeft fuente negrita">{{ item.tarea_Estado}}</p>
                                            <div class="circulo-estado"
                                                [ngStyle]="{'background-color': item.backColor ? item.backColor : '#000'}">
                                            </div>
                                        </div>
                                        <small>
                                            {{ 'crm.tarea.creador' | translate }} {{item.usuario_Creador}}
                                        </small>
                                        <small class="alingLeft fuente">
                                            {{ 'crm.tarea.responsable' | translate }}
                                            {{ resolveObject(item.usuario_Responsable)}}
                                        </small>
                                        <br>
                                        <!-- id de la referencia y descripcion -->
                                        <small>{{ 'crm.tarea.idReferencia' | translate }}
                                            {{item.iD_Referencia}}</small>
                                        <small class="alingLeft fuente">
                                            {{ 'crm.tarea.fechaIni' | translate }}
                                            {{item.fecha_Inicial | date: 'dd/MM/yyyy hh:mm a'}}
                                        </small>
                                        <br>
                                        <!-- Descripcion (observacion) Tarea -->
                                        <div class="descripcion-tarjeta" *ngIf="item.tarea_Observacion_1">
                                            <small>{{ 'crm.tarea.descripcion' | translate }}</small>
                                            <p class="descripcion">{{item.tarea_Observacion_1}}</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- Mostrar logos -->
            <app-barra-logos></app-barra-logos>
        </div>
    </div>
</div>