<app-progress *ngIf="isLoading" class="progress"></app-progress>

<mat-toolbar-row class="head__sidenav" *ngIf="!isLoading">
    <span class="spacer"></span>
    <div>
        <p class="verDetalle">Advertencia</p>
        <p class="adver">Uno o más productos no están disponibles.</p>
    </div>
    <span class="spacer"></span>
    <span class="close" (click)="closeDialog()">&times;</span>
</mat-toolbar-row>

<!-- Dialogo de los detalles de las tareas -->
<div mat-dialog-content class="dialog" *ngIf="!isLoading">
    <div class="contenedor">
        <div class="busqueda">
            <div class="contenido-izquierdo">
                <div class="dFlex">
                    <span class="spacer"></span>
                    <p class="campo-obligatorio">{{ 'pos.factura.registros' | translate }} ({{productos.length }}) </p>
                </div>
                <div class="" *ngFor="let producto of productos">
                    <div class="seleccionar">
                        <p class="textos">{{producto.des_Producto}} </p>
                        <div class="d-flex">
                            <p class="subtitulo">{{ 'pos.factura.sku' | translate }}: {{producto.producto_Id}}</p>
                            <span class="spacer"></span>
                            <p class="textos">Bodega: (3) Bebidas calientes.. </p>
                            <span class="spacer"></span>

                            <p class="textos">Serie documento: (2)</p>
                            <span class="spacer"></span>

                            <p class="textos">Tipo documento: (4)</p>
                        </div>
                        <hr>
                        <div class="advertencias">
                            <p class="adver">No disponible por x motivo.</p>
                            <p class="adver">No disponible hasta x fecha.</p>
                            <p class="adver">Sin existencias.</p>
                            <p class="adver">Agotado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="informacion">
    <div class="dFlex">
        <span class="spacer"></span>
        <p class="descargar">Descargar informe.</p>
    </div>
    <div class="botones">
        <button mat-stroked-button type="button" (click)="closeDialog()">
            {{ 'pos.botones.cancelar' | translate }}
        </button>
        <span class="spacer"></span>
        <button mat-stroked-button>{{ 'pos.botones.aceptar' | translate }}</button>
    </div>
</div>