$bordes        : var(--bordes-claro); //bordes menu
$personalizado : var(--global-color); // fondo, bordes y texto azul
$fondo         : var(--fondo-claro); //fondo Demosoft
$sombra        : var(--mas-contenido);


@media screen and (max-width: 365px) {
    .titulos-menu {
        display: block !important;
    }

    .detalles-configuracion,
    .estaciones-trabajo {
        width: 100% !important;
    }
}

@media screen and (max-width: 767px) {
    .titulos-menu {
        display: block !important;
    }

    .detalles-configuracion,
    .estaciones-trabajo {
        width: 100% !important;
    }

    .realizar-cambio {
        padding: 0px 15px !important;
    }
}

.spacer {
    flex: 1 1 auto;
}

p {
    margin-bottom: 0px;
}

.container-main {
    height     : calc(100vh - 128px) !important;
    display    : flex;
    align-items: center;
}

.contenido-configuracion {
    align-items: center !important;
    width      : 100%;
}

.estaciones-trabajo {
    width      : 80%;
    align-items: center;
}

.titulos-menu {
    display    : flex;
    height     : 300px;
    padding-top: 30px;
}

.textos {
    width: 45%;
}

.derecha {
    text-align: right;
}

.registros {
    width     : 85%;
    text-align: right !important;
}

.detalles-configuracion {
    display: flex;
    width  : 100%;
}

.seleccionar-empresa,
.seleccionar-localidad {
    width     : 85%;
    text-align: center !important;
    border    : 1px solid $bordes;
}

.linea {
    box-shadow: 0px -3px 10px 1.5px $sombra;
    width     : 100%;
}

.localidades,
.empresas {
    min-height: auto;
    max-height: 230px;
    overflow  : auto;
    overflow-x: hidden;
    padding   : 0px;
}

.b-b {
    border-top: none !important;
}

.boton-guardar {
    position        : fixed;
    z-index         : 1000;
    bottom          : 75px;
    right           : 60px;
    font-size       : 20px;
    background-color: $personalizado;
}

.boton-cerrar {
    position : fixed;
    right    : 10px;
    font-size: 20px;
}

.flecha-regresar {
    position : fixed;
    left     : 10px;
    font-size: 20px;
}

.identificadores {
    font-size  : 15px;
    font-weight: 500;
    display    : flex;
    margin     : 2px 0px;
    width      : 100%;
}

.seleccionado {
    padding-left: 10px;
    text-align  : left;
    border-top  : 1px solid $bordes;
    width       : 100% !important;
    align-items : center;
    font-size   : 12px;
    font-weight : 500;
    cursor      : pointer;
}

.opciones {
    padding  : 5px 10px 5px 0px;
    font-size: 12px;
    width    : 100%;
}

.opciones:hover {
    color      : $personalizado;
    font-weight: 500;
    cursor     : pointer;
}

.titulo {
    text-align : center;
    font-size  : 19px;
    font-weight: 500;
}

.sin-negrita {
    font-weight : 400 !important;
    padding-left: 5px;
}

.example-radio-group {
    padding-bottom: 4px;
    display       : flex;
    flex-direction: column;
    margin        : 0px 0;
    align-items   : flex-start;
}

.example-radio-button {
    margin: 5px;
    width : 100%;
}

.progress {
    height          : 100vh;
    width           : 100vw;
    position        : fixed;
    align-items     : center;
    background-color: $fondo;
}

.realizar-cambio {
    font-size  : 14px;
    font-weight: 450;
}

.cambios-cerrar {
    text-align : center;
    display    : flex;
    align-items: center;
    height     : 50px;
    padding-top: 10px;
}

.titulo-flecha {
    display         : flex;
    border-bottom   : 1px solid $bordes !important;
    align-items     : center;
    // position     : fixed;
    height          : 75px;
}

.head__sidenav_config {
    height       : 64px !important;
    padding      : 0px;
    border-bottom: 1px solid $bordes;
}

.dFlex {
    padding    : 10px 0px;
    width      : 85%;
    display    : flex;
    align-items: center;
}