<app-error *ngIf=" verInformeError" [regresar]="regresar"></app-error>

<div *ngIf="!verInformeError">

    <app-progress *ngIf="isLoading" class="progress"></app-progress>

    <div *ngIf="!isLoading">

        <mat-toolbar-row class="head__sidenav_config">
            <button (click)="backHome()" mat-icon-button aria-label
                matTooltip="{{'pos.toolTip.regresarAnterior' | translate}}">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button matTooltip="{{ 'pos.botones.actualizar' | translate }}" (click)="loadData()">
                <mat-icon>refresh</mat-icon>
            </button>
            <span class="spacer"></span>
            <button mat-icon-button aria-label (click)="cerrarSesion()" [matTooltip]="'pos.botones.salir' | translate">
                <mat-icon>logout</mat-icon>
            </button>
        </mat-toolbar-row>

        <div class="container-main">
            <div class="contenido-configuracion">
                <div class="cambios-cerrar">
                    <span class="spacer"></span>
                    <p class="titulo">{{ 'pos.configuracionLocal.titulo' | translate }}</p>
                    <span class="spacer"></span>
                </div>
                <div class="titulos-menu">
                    <div class="estaciones-trabajo">
                        <div class="detalles-configuracion">
                            <span class="spacer"></span>
                            <div class="registros">
                                <div class="identificadores">
                                    <p>{{ 'pos.configuracionLocal.empresas' | translate }}</p>
                                    <span class="spacer"></span>
                                </div>
                            </div>
                            <span class="spacer"></span>
                        </div>

                        <div class="detalles-configuracion">
                            <span class="spacer"></span>
                            <div class="seleccionar-empresa" *ngIf="empresas.length > 0">
                                <mat-radio-group class="example-radio-group empresas" [(ngModel)]="selectedEmpresa">
                                    <mat-radio-button class="seleccionado" [value]="selectedEmpresa" color="primary">
                                        <p class="opciones">{{selectedEmpresa?.empresa_Nombre}}</p>
                                    </mat-radio-button>
                                </mat-radio-group>
                                <p class="linea"></p>
                                <span class="spacer"></span>
                            </div>
                            <div class="dFlex" *ngIf="empresas.length == 0">
                                <span class="spacer"></span>
                                <p class="alerta">{{ 'pos.configuracionLocal.sinEmpresas'
                                    | translate }}</p>
                                <span class="spacer"></span>
                            </div>
                            <span class="spacer"></span>
                        </div>
                        <div class="detalles-configuracion" *ngIf="empresas.length > 0">
                            <span class="spacer"></span>
                            <div class="registros">
                                <div class="identificadores">
                                    <span class="spacer"></span>
                                    <p>{{ 'pos.configuracionLocal.empresa' | translate }} </p>
                                    <p class="sin-negrita">{{selectedEmpresa?.empresa_Nombre}}</p>
                                </div>
                            </div>
                            <span class="spacer"></span>
                        </div>
                    </div>

                    <div class="estaciones-trabajo">
                        <div class="detalles-configuracion">
                            <span class="spacer"></span>
                            <div class="registros">
                                <div class="identificadores">
                                    <p>{{ 'pos.configuracionLocal.estaciones' | translate }}</p>
                                    <span class="spacer"></span>
                                </div>
                            </div>
                            <span class="spacer"></span>
                        </div>
                        <div class="detalles-configuracion">
                            <span class="spacer"></span>
                            <div class="seleccionar-localidad" *ngIf="estaciones.length > 0">
                                <mat-radio-group class="example-radio-group empresas" [(ngModel)]="selectedEstacion">
                                    <mat-radio-button class="seleccionado " [value]="selectedEstacion" color="primary">
                                        <p class="opciones">{{selectedEstacion?.nombre}}</p>
                                    </mat-radio-button>
                                </mat-radio-group>
                                <p class="linea"></p>
                            </div>
                            <div class="dFlex" *ngIf="estaciones.length == 0">
                                <span class="spacer"></span>
                                <p class="alerta">{{ 'pos.configuracionLocal.sinEstaciones'
                                    | translate }}</p>
                                <span class="spacer"></span>
                            </div>
                            <span class="spacer"></span>
                        </div>
                        <div class="detalles-configuracion" *ngIf="estaciones.length > 0">
                            <span class="spacer"></span>
                            <div class="registros">
                                <div class="identificadores">
                                    <span class="spacer"></span>
                                    <p>{{ 'pos.configuracionLocal.localidad' | translate }}</p>
                                    <p class="sin-negrita">{{selectedEstacion?.nombre}}</p>
                                </div>
                            </div>
                            <span class="spacer"></span>
                        </div>
                    </div>
                </div>
                <div class="cambios-cerrar">
                    <span class="spacer"></span>
                    <p class="realizar-cambio">{{ 'pos.configuracionLocal.cambiar' | translate }}</p>
                    <span class="spacer"></span>
                </div>
            </div>
        </div>
        <!-- Mostrar logos -->
        <!-- <app-barra-logos></app-barra-logos> -->
        <app-barra-logo-demosoft></app-barra-logo-demosoft>
    </div>
</div>