<app-progress *ngIf="isLoading" class="progress"></app-progress>

<mat-toolbar-row class="head__sidenav" *ngIf="!isLoading">
    <span class="spacer"></span>
    <p class="verDetalle">{{ 'pos.factura.productos_encontrados' | translate }}</p>
    <span class="spacer"></span>
    <span class="close" (click)="closeDialog()">&times;</span>
</mat-toolbar-row>
<div class="cantidad-registros">
    <span class="spacer"></span>
    <p class="campo-obligatorio">{{ 'pos.factura.registros' | translate }} ({{productos.length }}) </p>
</div>
<!-- Dialogo de los detalles de las tareas -->
<div mat-dialog-content class="dialog" *ngIf="!isLoading">
    <div class="contenedor">
        <div class="busqueda">
            <div class="contenido-izquierdo">
                <div class="" *ngFor="let producto of productos">
                    <div class="seleccionar-imagen">
                        <div class="seleccionar" (click)="setProduct(producto)">
                            <p class="textos">{{producto.des_Producto}} </p>
                            <p class="subtitulo">{{ 'pos.factura.sku' | translate }}: {{producto.producto_Id}}</p>
                        </div>
                        <span class="spacer"></span>
                        <button mat-icon-button (click)="imagen(producto)">
                            <mat-icon>image</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>