$gris   : var(--gris); //texto gris
$bordes : var(--bordes-claro); //bordes

//sidenav bottom y logos

.head__sidenav__bottom {
    height     : 64px !important;
    padding    : 0px 20px;
    border-top : 1px solid $bordes;
    display    : flex;
    align-items: center;
    position   : fixed;
    bottom     : 0;
    width      : 100%;
}

p {
    margin: 0px;
}

.desa {
    font-size  : 12px;
    margin     : 0px 10px;
    font-weight: 400;
    color      : $gris;
}

.logos {
    align-items: center !important;
    display    : flex;
    width      : 100%;
}

.img_empresas {
    height      : 50px;
    margin-right: 20px;
    margin-left : 20px;
}

.img_demosoft {
    height      : 50px;
    margin-right: 20px;
    margin-left : 20px;
}

@media screen and (max-width: 600px) {
    .img_empresas {
        height: 60px;
        margin: 0px 20px;
    }
}

@media screen and (max-width: 265px) {
    .img_empresas {
        height: 45px;
        margin: 5px;
    }
}

/*Fin logos*/

.spacer {
    flex: 1 1 auto;
}