<!-- Logo empresa y Logo Demosoft -->
<mat-toolbar-row class="head__sidenav__bottom">
    <div class="logos">
        <img class=" img_empresas" src="assets/empresa.png" alt="Logo">
        <span class="spacer"></span>
        <p class="desa">© 2024 Desarrollo Moderno de Software S.A.</p>
        <span class="spacer"></span>
        <img class=" img_demosoft" src="assets/logo_demosoft.png" alt="Logo">
    </div>
</mat-toolbar-row>

<!-- Logo Demosoft -->

<!-- <mat-toolbar-row class="head__sidenav__bottom">
    <div class="logos">
        <span class="spacer"></span>
        <p class="desa">Power By: Desarrollo Moderno de Software S.A.</p>
        <img class=" img_demosoft" src="assets/logo_demosoft.png" alt="Logo">
        <span class="spacer"></span>
    </div>
</mat-toolbar-row> -->